img[src$="svg"] {
  max-height: 70px; }

.container-inline label:after,
.container-inline .label:after {
  content: none; }

#edit-language .form-item-preferred-langcode {
  display: none; }

.user-invited-person-form .field--name-field-country-manager,
.user-invited-person-form .field--name-field-project-manager {
  height: 0;
  overflow: hidden; }
  .user-invited-person-form .field--name-field-country-manager.active,
  .user-invited-person-form .field--name-field-project-manager.active {
    height: 100%;
    overflow: visible; }
