img[src$="svg"] {
  max-height: 70px; }

.container-inline label:after,
.container-inline .label:after {
  content: none; }

#edit-language .form-item-preferred-langcode {
  display: none; }

.user-form .field--name-field-country-manager,
.user-form .field--name-field-project-manager {
  height: 0;
  overflow: hidden; }
  .user-form .field--name-field-country-manager.active,
  .user-form .field--name-field-project-manager.active {
    height: 100%;
    overflow: visible; }

.paragraphs-subform .form-item-field-content-paragraph-0-subform-field-title-0-value {
  display: none; }

.toolbar-item.unmasquerade-link {
  display: none; }
