@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Oswald:300,400,700");
@import url("https://fonts.googleapis.com/css?family=Libre+Franklin:200,400,600,900");
@import url("https://fonts.googleapis.com/css?family=Fira+Sans:300,400,700");
body {
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-focus-ring-color: transparent; }

input,
textarea {
  -webkit-user-select: text;
     -moz-user-select: text;
      -ms-user-select: text;
          user-select: text; }

nav,
main,
aside,
figure,
footer,
header,
section,
summary,
article,
details,
figcaption {
  display: block; }

video,
audio,
canvas {
  display: inline-block; }

[hidden],
audio:not([controls]) {
  display: none; }

html {
  height: 100%; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

input,
select,
button,
a:hover,
textarea,
a:active {
  outline: 0; }

img,
abbr,
input,
button,
iframe,
textarea {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

input,
button,
select,
textarea,
[type=search]::-webkit-search-decoration,
[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none; }

input,
button,
select,
textarea {
  font-size: 100%;
  font-family: inherit;
  border-radius: 0;
  -webkit-transition: border linear .2s, box-shadow linear .2s, background linear .2s;
  transition: border linear .2s, box-shadow linear .2s, background linear .2s;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  box-shadow: none; }

input,
button {
  line-height: normal; }

button,
label[for],
[type=reset],
[type=button],
[type=submit] {
  cursor: pointer; }

button,
[type=reset],
[type=button],
[type=submit] {
  -webkit-appearance: button; }

body,
[disabled] {
  cursor: default; }

p,
ol,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
body,
input,
button,
select,
figure,
textarea,
figcaption {
  margin: 0; }

p,
ol,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
input,
button,
figure,
figcaption,
[type=radio],
[type=checkbox] {
  padding: 0; }

textarea {
  resize: none;
  overflow: auto; }

ol,
ul {
  list-style: none; }

img,
textarea {
  vertical-align: top; }

*,
*::before,
*::after {
  box-sizing: border-box; }

body {
  font-size: 0.875rem;
  background: #f5f5f5;
  color: #333;
  font-family: Arial, sans-serif;
  height: 100%;
  line-height: 20px;
  min-height: 100%; }
  body.fixed {
    overflow: hidden; }

h1, h2, h3 {
  color: #283b44;
  font-family: Oswald, sans-serif;
  font-weight: 700; }

h4, h5, h6 {
  color: #283b44;
  font-family: "Fira Sans", sans-serif;
  font-weight: 700; }

h1 {
  font-size: 3.9375rem;
  line-height: 78px;
  padding: 30px 0; }

h2 {
  font-size: 1.375rem;
  line-height: 48px;
  margin: 20px 0 21px; }

h3 {
  font-size: 1.75rem;
  line-height: 30px;
  margin: 20px 0 10px; }

h4 {
  font-size: 1.25rem;
  line-height: 24px;
  margin: 30px 0 10px; }

h5 {
  font-size: 1.375rem;
  line-height: 31px;
  margin: 20px 0; }

h6 {
  font-size: 0.75rem;
  line-height: 18px;
  margin: 10px 0; }

p {
  margin-bottom: 10px; }

strong {
  font-weight: 600; }

a:focus {
  outline: 0; }

blockquote {
  margin: 0 0 10px 0;
  padding: 10px 20px;
  border-left: 5px solid #E2E2E2;
  font-size: 18px;
  line-height: 22px; }

figure {
  margin: 0;
  margin-bottom: 10px; }

figcaption {
  margin-top: 5px;
  text-align: center; }

ul,
ol {
  margin-top: 0;
  margin-bottom: 10px;
  padding-left: 40px; }

img {
  max-width: 100%;
  height: auto !important; }

.hash {
  color: #8c2222;
  text-decoration: none; }

.corners, .image-text, .content blockquote,
.more-content blockquote {
  position: relative; }
  .corners:before, .image-text:before, .content blockquote:before,
  .more-content blockquote:before, .corners:after, .image-text:after, .content blockquote:after,
  .more-content blockquote:after {
    content: "";
    display: block;
    height: 32px;
    position: absolute;
    width: 30px; }
  .corners:before, .image-text:before, .content blockquote:before,
  .more-content blockquote:before {
    background: url(../images/CornerUpRight.svg) left top no-repeat;
    left: 0;
    top: 0; }
  .corners:after, .image-text:after, .content blockquote:after,
  .more-content blockquote:after {
    background: url(../images/CornerDownLeft.svg) left top no-repeat;
    bottom: 0;
    right: 0; }

.quickedit {
  display: none; }

#slider-overlay {
  background: rgba(0, 0, 0, 0.9);
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 600; }

@font-face {
  font-family: "P4h";
  src: url("../fonts/p4h.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.font-social-icon > a::after,
.font-social-icon > span::after, .font-social-icon > a::before,
.font-social-icon > span::before {
  font-family: P4h, sans-serif; }

.facebook-icon > a::after,
.facebook-icon > span::after {
  content: "Q"; }

.linkedin-icon > a::after,
.linkedin-icon > span::after {
  content: "W"; }

.twitter-icon > a::after,
.twitter-icon > span::after {
  content: "E"; }

.top-right-icon > a::after,
.top-right-icon > span::after {
  content: "T"; }

.down-right-icon > a::after,
.down-right-icon > span::after {
  content: "y"; }

.arrow-left-icon > a::after,
.arrow-left-icon > span::after {
  content: "8"; }

.arrow-right-icon > a::after,
.arrow-right-icon > span::after {
  content: "9"; }

.doc-icon > a::after,
.doc-icon > span::after {
  content: "u"; }

.pin-icon > a::after,
.pin-icon > span::after {
  content: "f"; }

.news-icon > a::after,
.news-icon > span::after {
  content: "s"; }

.event-icon > a::after,
.event-icon > span::after {
  content: "x"; }

.country-icon > a::after,
.country-icon > span::after {
  content: "j"; }

.project-icon > a::after,
.project-icon > span::after {
  content: "i"; }

.person-icon > a::after,
.person-icon > span::after {
  content: "a"; }

.main-menu {
  text-align: center; }
  .main-menu > div {
    display: inline-block; }
  .main-menu ul:not(.contextual-links) li {
    display: inline-block;
    vertical-align: top; }
    .main-menu ul:not(.contextual-links) li:last-child a {
      color: #ea3a32; }
      .main-menu ul:not(.contextual-links) li:last-child a:after {
        font-size: 1.225rem;
        content: 'T';
        font-family: P4h, sans-serif;
        margin-left: 4px; }
  .header-static .main-menu ul:not(.contextual-links) {
    font-size: 0rem; }
    .header-static .main-menu ul:not(.contextual-links) .active a {
      border-bottom: 2px solid #ea3a32; }
  .main-menu ul:not(.contextual-links) a {
    font-size: 0.875rem;
    color: #283b44;
    display: block;
    font-family: Oswald, sans-serif;
    font-weight: 400;
    height: 63px;
    padding: 25px 30px 15px;
    text-transform: uppercase;
    text-decoration: none;
    -webkit-transition: opacity .2s ease, color .2s ease;
    transition: opacity .2s ease, color .2s ease; }
    .header-static .main-menu ul:not(.contextual-links) a:hover {
      background: rgba(76, 126, 150, 0.08);
      opacity: .7; }
    .header-fixed .main-menu ul:not(.contextual-links) a:hover {
      color: rgba(255, 255, 255, 0.56); }

.anchor-links {
  text-align: center; }
  .anchor-links a {
    font-size: 1.05rem;
    font-family: Oswald, sans-serif;
    font-weight: 400;
    color: #ea3a32;
    letter-spacing: .5px;
    padding: 15px 30px;
    text-decoration: none;
    -webkit-transition: color .3s ease;
    transition: color .3s ease; }
    .anchor-links a:hover {
      color: #4c7e96; }

.social-links .trigger,
.social-links .contextual-links {
  right: -15px !important; }

.social-links .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0; }

.social-links .twitter-icon {
  margin-top: 2px; }

.social-links a {
  font-size: 1.375rem;
  display: block;
  color: #283b44;
  text-decoration: none;
  -webkit-transition: color .2s ease;
  transition: color .2s ease; }
  .social-links a:hover {
    color: #80aabe; }

header .social-links .font-social-icon {
  margin-right: 5px; }

.partners {
  padding-top: 10px;
  text-align: center; }
  .partners .item-list {
    display: inline-block;
    margin: 0;
    padding: 0;
    vertical-align: top; }
    .partners .item-list li {
      float: left;
      height: 48px;
      margin: 0 12px;
      padding: 10px 0 7px; }
  .partners img {
    height: 100% !important;
    width: auto; }

.top-right-icon {
  text-align: center; }

.bottom-link {
  margin: 30px 0 10px;
  text-align: center; }

.red-btn-link {
  font-size: 1.3125rem;
  border: 1px solid transparent;
  color: #ea3a32;
  display: inline-block;
  font-family: Oswald, sans-serif;
  font-weight: 400;
  margin: 30px 0 10px;
  padding: 20px 40px;
  text-align: center;
  text-decoration: none;
  -webkit-transition: border .3s ease;
  transition: border .3s ease; }
  .red-btn-link:hover {
    border-color: #ea3a32; }
  .red-btn-link:after {
    font-size: 1.8375rem;
    margin-left: 4px; }

.read-more {
  font-size: 0.875rem;
  border: 1px solid transparent;
  color: #ea3a32;
  display: inline-block;
  font-family: Oswald, sans-serif;
  margin: 10px 0;
  padding: 15px 40px;
  text-decoration: none;
  -webkit-transition: border .3s ease;
  transition: border .3s ease; }
  .read-more:hover {
    border-color: #ea3a32; }

.show-more {
  font-size: 0.9625rem;
  cursor: pointer;
  display: block; }

.accordion-button {
  font-size: 0.9625rem;
  background: #fff;
  border: 1px solid #75a8c0;
  border-radius: 2px;
  color: #283b44;
  cursor: pointer;
  font-family: "Fira Sans", sans-serif;
  font-weight: 700;
  height: 50px;
  padding: 15px 50px 0 0;
  position: relative;
  text-align: center;
  -webkit-transition: box-shadow .2s ease;
  transition: box-shadow .2s ease; }
  .accordion-button:after {
    font-size: 1.75rem;
    content: "´";
    color: #ea3a32;
    font-family: P4h, sans-serif;
    position: absolute;
    top: 15px;
    right: 10px;
    -webkit-transition: -webkit-transform .2s ease;
    transition: -webkit-transform .2s ease;
    transition: transform .2s ease;
    transition: transform .2s ease, -webkit-transform .2s ease; }
  .accordion-button:hover {
    box-shadow: 0 0 6px rgba(40, 59, 68, 0.38); }
    .accordion-button:hover:after {
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg); }

.banner-wrapper {
  clear: both; }

.fullcontent-image {
  margin-bottom: 50px;
  position: relative; }

.image-text {
  font-size: 1.05rem;
  background: rgba(0, 0, 0, 0.42);
  color: #faf7f7;
  font-family: Oswald, sans-serif;
  font-weight: 300;
  line-height: 25px;
  padding: 20px 47px 25px;
  position: absolute;
  left: 54px;
  bottom: 50px;
  text-align: left;
  width: 50%; }

.top-banner-region {
  background: #f5f5f5; }
  .top-banner-region body:not(.group) {
    border-bottom: 1px solid #e9e6e6;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.11); }
  .top-banner-region ~ .content-container {
    padding-top: 40px; }
  .top-banner-region .section-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto 20px;
    max-width: 1160px;
    padding: 100px 0 50px; }
    .top-banner-region .section-info .paragraph {
      max-width: 33.33%;
      text-align: center;
      width: 100%; }
  .top-banner-region .paragraph:hover .infooverlay {
    top: 0; }
  .top-banner-region .paragraph a {
    display: block;
    height: 100%;
    overflow: hidden;
    padding: 20px;
    position: relative;
    text-decoration: none; }
  .top-banner-region .paragraph .icon-wrapper {
    height: 100px;
    margin: 0 auto 30px;
    width: 50%; }
    .top-banner-region .paragraph .icon-wrapper img {
      max-width: 67px; }
  .top-banner-region .paragraph h2 {
    font-size: 1.925rem;
    line-height: 48px;
    margin: 0 0 15px; }
  .top-banner-region .paragraph .value {
    font-size: 3.5rem;
    color: #4c7e96;
    display: block;
    font-family: Oswald, sans-serif;
    font-weight: 700;
    line-height: 60px;
    margin-top: 20px;
    padding: 25px 0; }
  .top-banner-region .infooverlay {
    background: #fff;
    height: 100%;
    padding: 40px 20px 20px;
    position: absolute;
    top: 100%;
    left: 0;
    -webkit-transition: top 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
    transition: top 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
    width: 100%;
    z-index: 100; }
    .top-banner-region .infooverlay h3 {
      font-size: 1.75rem;
      font-weight: 400;
      line-height: 40px;
      margin: 0 0 5px; }
    .top-banner-region .infooverlay p {
      font-size: 0.9625rem;
      color: #4c7e96;
      font-family: "Fira Sans", sans-serif;
      line-height: 23px;
      margin: 20px 0 0; }

.banner-image-wrapper {
  height: 650px;
  position: relative; }

.country-content-wrapper {
  max-width: 1200px;
  padding-top: 10%;
  position: absolute;
  top: 0;
  left: 50%;
  text-align: left;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  z-index: 10; }
  .country-content-wrapper .country-icon-wrapper {
    height: 100px;
    width: 100px;
    float: left;
    margin-right: 20px; }
  .country-content-wrapper h1 {
    font-size: 5rem;
    color: #fff;
    letter-spacing: 1.5px;
    line-height: 72px;
    margin: 20px 0 10px;
    padding: 0; }
  .country-content-wrapper .follow-link {
    font-size: 1.5rem;
    border: 1px solid #fff;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: Oswald, sans-serif;
    letter-spacing: .5px;
    margin-top: 40px;
    margin-left: 10px;
    padding: 15px 40px;
    -webkit-transform: scale(1.06);
            transform: scale(1.06);
    -webkit-transition: background .2s ease;
    transition: background .2s ease; }
    .country-content-wrapper .follow-link:hover {
      background: #ea3a32; }

.video-wrapper {
  position: relative; }

.overlay-wpapper {
  background: rgba(0, 0, 0, 0.53);
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  -webkit-transition: opacity 2s ease;
  transition: opacity 2s ease;
  width: 100%;
  z-index: 100; }
  .overlay-wpapper > * {
    width: 80%; }
  .overlay-wpapper h1 {
    font-size: 4.375rem;
    color: #fff;
    letter-spacing: 1.5px;
    line-height: 72px;
    margin: 20px 0 10px;
    padding: 0;
    text-transform: uppercase; }
  .overlay-wpapper .description {
    font-size: 2.0125rem;
    font-family: "Fira Sans", sans-serif;
    font-weight: 300;
    line-height: 50px;
    margin-top: 30px; }

.w-background-video .plyr {
  max-height: 60vh;
  overflow: hidden; }

.w-background-video .plyr__video-embed {
  margin-top: -23vh; }

.video-embed-field-responsive-video:after {
  content: none; }

.node-pager {
  font-size: 0.875rem;
  border-top: 1px solid #80aabe;
  font-weight: 400;
  line-height: 20px;
  margin-top: 50px;
  padding: 20px 0;
  width: 90%; }
  .node-pager > a {
    -webkit-transition: opacity .2s ease;
    transition: opacity .2s ease;
    max-width: 50%; }
    .node-pager > a:hover {
      opacity: .69; }
  .node-pager p {
    color: #4c7e96;
    letter-spacing: .5px;
    line-height: 22px; }

.prev-wrapper {
  float: left;
  padding-right: 10px; }
  .prev-wrapper span:after {
    margin-left: 4px; }

.next-wrapper {
  float: right;
  padding-left: 10px;
  text-align: right; }
  .next-wrapper span:after {
    display: none; }
  .next-wrapper span:before {
    content: '9';
    margin-right: 4px; }

.js-pager__items {
  font-size: 0rem;
  margin: 0 auto;
  padding: 10px 0;
  text-align: center;
  width: 200px; }
  .js-pager__items li {
    font-size: 1.05rem;
    color: #4c7e96;
    font-weight: 400;
    font-family: "Fira Sans", sans-serif;
    display: inline-block;
    letter-spacing: 1px;
    vertical-align: top;
    width: 60%; }
  .js-pager__items .font-social-icon {
    width: 20%; }
    .js-pager__items .font-social-icon span {
      display: none; }
  .js-pager__items a {
    font-size: 1.4rem;
    color: #ea3a32;
    text-decoration: none;
    -webkit-transition: color .2s ease;
    transition: color .2s ease; }
    .js-pager__items a:hover {
      color: #8c2222; }

.teaser {
  background: #4c7e96;
  color: #fff;
  margin-bottom: 40px;
  -webkit-transition: background .3s ease;
  transition: background .3s ease; }
  .teaser:hover {
    background: rgba(234, 58, 50, 0.85); }
  .full-width .teaser {
    margin-bottom: 0;
    text-align: center; }
    .full-width .teaser h2 {
      font-size: 3.5rem;
      line-height: 40px; }
  .teaser a {
    font-size: 1.4rem;
    color: #f5f5f5;
    display: block;
    font-family: "Fira Sans", sans-serif;
    font-weight: 300;
    padding: 40px 30px;
    text-decoration: none; }
  .teaser h2 {
    font-size: 1.925rem;
    color: #faf7f7;
    display: block;
    font-family: Oswald, sans-serif;
    font-weight: 400;
    line-height: 40px;
    margin: 0;
    text-decoration: none;
    -webkit-transition: all .2s ease;
    transition: all .2s ease; }
    .teaser h2:hover {
      -webkit-transform: scale(1.02);
              transform: scale(1.02); }
  .teaser p {
    margin: 30px 0 0; }

.news-events-list,
.related-docs,
.timeline {
  margin-bottom: 50px; }
  .news-events-list.corners, .news-events-list.image-text, .content blockquote.news-events-list,
  .more-content blockquote.news-events-list,
  .related-docs.corners,
  .related-docs.image-text,
  .content blockquote.related-docs,
  .more-content blockquote.related-docs,
  .timeline.corners,
  .timeline.image-text,
  .content blockquote.timeline,
  .more-content blockquote.timeline {
    padding: 30px 0 20px;
    margin-bottom: 40px; }
    .news-events-list.corners li, .news-events-list.image-text li, .content blockquote.news-events-list li,
    .more-content blockquote.news-events-list li,
    .related-docs.corners li, .related-docs.image-text li, .content blockquote.related-docs li,
    .more-content blockquote.related-docs li,
    .timeline.corners li, .timeline.image-text li, .content blockquote.timeline li,
    .more-content blockquote.timeline li {
      border-color: #4c7e96;
      padding: 20px 15px 10px; }
      .news-events-list.corners li:hover, .news-events-list.image-text li:hover, .content blockquote.news-events-list li:hover,
      .more-content blockquote.news-events-list li:hover,
      .related-docs.corners li:hover, .related-docs.image-text li:hover, .content blockquote.related-docs li:hover,
      .more-content blockquote.related-docs li:hover,
      .timeline.corners li:hover, .timeline.image-text li:hover, .content blockquote.timeline li:hover,
      .more-content blockquote.timeline li:hover {
        background: transparent; }
  .news-events-list h2,
  .related-docs h2,
  .timeline h2 {
    font-size: 1.575rem;
    line-height: 48px;
    margin: 0 0 21px 15px;
    text-transform: uppercase; }
  .news-events-list ul,
  .related-docs ul,
  .timeline ul {
    margin: 0;
    padding: 0; }
  .news-events-list li,
  .news-events-list .paragraph,
  .related-docs li,
  .related-docs .paragraph,
  .timeline li,
  .timeline .paragraph {
    border-bottom: 1px solid #f5f5f5;
    cursor: pointer;
    font-family: "Fira Sans", sans-serif;
    padding: 15px; }
    .news-events-list li:hover,
    .news-events-list .paragraph:hover,
    .related-docs li:hover,
    .related-docs .paragraph:hover,
    .timeline li:hover,
    .timeline .paragraph:hover {
      background: #f5f5f5;
      border-color: #ea3a32; }
    .news-events-list li:last-child,
    .news-events-list .paragraph:last-child,
    .related-docs li:last-child,
    .related-docs .paragraph:last-child,
    .timeline li:last-child,
    .timeline .paragraph:last-child {
      border-color: transparent; }
      .news-events-list li:last-child:hover,
      .news-events-list .paragraph:last-child:hover,
      .related-docs li:last-child:hover,
      .related-docs .paragraph:last-child:hover,
      .timeline li:last-child:hover,
      .timeline .paragraph:last-child:hover {
        border-color: #ea3a32; }
  .news-events-list a:not(.read-more):not(.download),
  .related-docs a:not(.read-more):not(.download),
  .timeline a:not(.read-more):not(.download) {
    display: block;
    color: #283b44;
    text-decoration: none; }
  .news-events-list .font-social-icon,
  .related-docs .font-social-icon,
  .timeline .font-social-icon {
    float: left;
    margin-left: -4px;
    margin-right: 10px; }
    .news-events-list .font-social-icon span,
    .related-docs .font-social-icon span,
    .timeline .font-social-icon span {
      font-size: 1.5rem;
      color: #283b44;
      text-decoration: none; }
  .news-events-list .doc-icon span,
  .related-docs .doc-icon span,
  .timeline .doc-icon span {
    font-size: 1.75rem;
    color: #4c7e96;
    display: block;
    padding-top: 3px; }
  .news-events-list .download,
  .related-docs .download,
  .timeline .download {
    color: #ea3a32;
    margin-left: 37px;
    text-decoration: none; }
    .news-events-list .download:hover,
    .related-docs .download:hover,
    .timeline .download:hover {
      color: #8c2222; }
  .news-events-list .facebook-icon,
  .related-docs .facebook-icon,
  .timeline .facebook-icon {
    margin-left: -6px; }
  .news-events-list time,
  .related-docs time,
  .timeline time {
    font-size: 0.7875rem;
    color: #4c7e96;
    font-weight: 700; }
  .news-events-list h4,
  .related-docs h4,
  .timeline h4 {
    font-size: 1.05rem;
    letter-spacing: .5px;
    line-height: 22px;
    margin: 0 0 10px; }
  .news-events-list p,
  .related-docs p,
  .timeline p {
    font-size: 0.9625rem;
    color: #283b44;
    clear: both;
    line-height: 21px; }
  .news-events-list .tweet,
  .related-docs .tweet,
  .timeline .tweet {
    line-height: 26px;
    margin-top: 5px; }

.timeline .title-wrapper {
  margin-bottom: 20px; }
  .timeline .title-wrapper h2 {
    font-size: 3.0625rem;
    line-height: 48px;
    margin: 20px 0 21px; }

.timeline h2 {
  margin-left: 0;
  text-transform: none; }

.timeline .timeline-content h4 {
  font-family: Oswald, sans-serif;
  font-weight: 400;
  clear: both;
  letter-spacing: .5px;
  line-height: 25px; }

.timeline .timeline-content p {
  line-height: 26px; }

.timeline .timeline-content .timeline-content-item a {
  color: #ea3a32; }

.timeline-wrapper {
  margin-top: 50px; }
  .timeline-wrapper > h2 {
    font-size: 1.75rem;
    color: #4c7e96;
    font-weight: 400;
    letter-spacing: .5px;
    line-height: 48px;
    margin: 0 0 15px;
    text-align: center; }
  .timeline-wrapper .paragraph {
    border: none;
    cursor: auto;
    margin-bottom: 50px;
    padding: 0;
    position: relative;
    width: 50%; }
    .timeline-wrapper .paragraph:hover {
      background: none; }
    .timeline-wrapper .paragraph:before, .timeline-wrapper .paragraph:after {
      content: "";
      display: block;
      position: absolute; }
    .timeline-wrapper .paragraph:before {
      background: #4c7e96;
      height: 1px;
      top: 50%;
      width: calc(25% - 13px); }
    .timeline-wrapper .paragraph:after {
      height: 26px;
      width: 26px;
      border: 2px solid #ea3a32;
      border-radius: 50%;
      top: calc(50% - 13px); }
    .timeline-wrapper .paragraph:nth-child(odd) {
      float: left;
      clear: left; }
      .timeline-wrapper .paragraph:nth-child(odd):before {
        right: 13px; }
      .timeline-wrapper .paragraph:nth-child(odd):after {
        right: -13px; }
    .timeline-wrapper .paragraph:nth-child(even) {
      float: right;
      clear: right; }
      .timeline-wrapper .paragraph:nth-child(even):before {
        left: 13px; }
      .timeline-wrapper .paragraph:nth-child(even):after {
        left: -13px; }
      .timeline-wrapper .paragraph:nth-child(even) .timeline-content-item {
        float: right; }
    .timeline-wrapper .paragraph:first-child {
      margin-top: 50px; }
    .timeline-wrapper .paragraph:nth-child(2) {
      margin-top: 150px; }

.timeline-content {
  overflow: hidden;
  position: relative; }
  .timeline-content:after {
    background: #4c7e96;
    content: "";
    height: 90%;
    margin-left: -1px;
    position: absolute;
    top: 13px;
    left: 50%;
    width: 2px; }
  .timeline-content .font-social-icon span {
    font-size: 1.75rem;
    color: #4c7e96; }

.timeline-content-item {
  background: #f5f5f5;
  border: 1px solid #4c7e96;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  padding: 20px 30px;
  -webkit-transition: border .3s ease;
  transition: border .3s ease;
  width: 75%; }
  .timeline-content-item:hover {
    border-color: #ea3a32; }
  .timeline-content-item time {
    -webkit-transition: color .2s ease;
    transition: color .2s ease; }
    .timeline-content-item time:hover {
      color: #ea3a32; }

.related-docs h2 {
  background: url(../images/docs-icon.svg) left center no-repeat;
  background-size: 40px;
  padding-left: 60px; }

.related-docs li {
  cursor: default; }

.member-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 33.33%; }
  .member-block .block-content {
    background: #fff;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
    margin: 10px;
    position: relative;
    -webkit-transition: box-shadow .3s ease;
    transition: box-shadow .3s ease;
    width: 100%; }
    .member-block .block-content:hover {
      box-shadow: 0 0 6px 1px rgba(234, 58, 50, 0.5); }
  .member-block a {
    display: block;
    padding: 30px 20px 68px;
    text-decoration: none; }
    .member-block a:after {
      display: none; }
  .member-block img {
    float: left;
    height: 80px;
    padding: 8px 0 5px;
    margin: 0 10px 20px 0;
    width: 60px; }
  .member-block .country {
    font-size: 0.7875rem;
    color: #ea3a32;
    font-family: "Fira Sans", sans-serif;
    font-weight: 700;
    text-transform: uppercase; }
  .member-block .title-wrapper {
    float: left;
    margin-bottom: 20px;
    padding: 0 0 10px;
    width: 75%; }
  .member-block h2 {
    font-size: 1.4rem;
    letter-spacing: 1.5px;
    line-height: 32px;
    margin: 10px 0 5px;
    text-transform: uppercase; }
  .member-block p {
    font-size: 0.9625rem;
    color: #283b44;
    clear: both;
    font-family: "Fira Sans", sans-serif;
    line-height: 21px; }
  .member-block .external-link {
    border-bottom: 2px solid transparent;
    color: #283b44;
    font-family: Oswald, sans-serif;
    letter-spacing: .5px;
    min-height: 50px;
    padding: 13px 20px 5px;
    position: absolute;
    left: 0;
    bottom: 0;
    text-decoration: none;
    -webkit-transition: border .3s ease, color .3s ease;
    transition: border .3s ease, color .3s ease;
    width: 100%; }
    .member-block .external-link:hover {
      border-color: #ea3a32;
      color: rgba(40, 59, 68, 0.66); }
    .member-block .external-link:after {
      display: none; }
    .member-block .external-link:before {
      font-size: 1.4rem;
      content: "y";
      color: #ea3a32;
      position: relative;
      top: 5px; }

.visible {
  -webkit-transform: translateY(0) !important;
          transform: translateY(0) !important;
  opacity: 1 !important; }

.faded {
  -webkit-transition: opacity .5s, -webkit-transform 1s;
  transition: opacity .5s, -webkit-transform 1s;
  transition: opacity .5s, transform 1s;
  transition: opacity .5s, transform 1s, -webkit-transform 1s;
  opacity: 1 !important;
  -webkit-transform: translateY(0) !important;
          transform: translateY(0) !important; }

.related-wrapper {
  background: #faf7f7;
  border-top: 1px solid #e4dfdf;
  position: fixed;
  bottom: 0;
  left: 0;
  -webkit-transform: translateY(150%);
          transform: translateY(150%);
  -webkit-transition: -webkit-transform .6s ease;
  transition: -webkit-transform .6s ease;
  transition: transform .6s ease;
  transition: transform .6s ease, -webkit-transform .6s ease;
  width: 100%; }
  .related-wrapper .related-content {
    margin: 0 auto;
    max-width: 1260px;
    position: relative; }
  .related-wrapper h3 {
    font-size: 1.1375rem;
    background: #faf7f7;
    border-bottom: 2px solid #ea3a32;
    font-weight: 400;
    line-height: 20px;
    margin: 0;
    padding: 8px 20px;
    position: absolute;
    left: 0;
    top: -38px;
    text-transform: uppercase;
    width: 180px; }
  .related-wrapper .item-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    padding: 0; }
    .related-wrapper .item-list li {
      padding: 15px 20px 15px 0;
      width: 33.33%; }
    .related-wrapper .item-list a {
      color: #283b44;
      text-decoration: none; }
      .related-wrapper .item-list a:hover {
        text-decoration: underline; }
  .related-wrapper img {
    height: 65px;
    width: 65px;
    float: left;
    margin-right: 20px; }
  .related-wrapper p,
  .related-wrapper time {
    font-size: 0.9625rem;
    color: #283b44;
    font-family: "Fira Sans", sans-serif;
    line-height: 21px;
    margin-top: 10px;
    margin-bottom: 0; }

.event-info {
  font-size: 1.575rem;
  border: 2px solid #e9ecee;
  font-family: Oswald, sans-serif;
  line-height: 48px;
  margin-bottom: 40px;
  padding: 40px 40px 20px;
  width: 94%; }
  .event-info:after {
    content: "";
    display: table;
    clear: both; }
  .event-info .label {
    display: block;
    font-weight: 700;
    float: left;
    margin-bottom: 15px;
    padding-right: 10px;
    text-transform: uppercase;
    width: 33.33%; }
  .event-info .value {
    color: #4c7e96;
    display: block;
    font-weight: 400;
    float: left;
    margin-bottom: 15px;
    padding-left: 10px;
    width: 66.66%; }
    .event-info .value a {
      border-bottom: 2px solid #4c7e96;
      color: #4c7e96;
      display: inline-block;
      line-height: 27px;
      max-width: calc(100% - 28px);
      padding-left: 5px; }
  .event-info .font-social-icon {
    font-size: 1.75rem;
    float: left; }
  .event-info .sign-up {
    text-align: center; }
  .event-info .red-btn-link {
    font-size: 1.3125rem;
    line-height: 20px;
    margin: 10px auto; }

.news-and-events-list {
  font-size: 0rem;
  margin-bottom: 30px; }
  .news-and-events-list .item {
    font-size: 0.9625rem;
    display: inline-block;
    vertical-align: top;
    width: 25%; }
    .news-and-events-list .item:first-child {
      margin-bottom: 20px;
      width: 50%; }
    .news-and-events-list .item > a {
      border-bottom: 2px solid transparent;
      -webkit-transition: background .2s ease, border .2s ease;
      transition: background .2s ease, border .2s ease; }
      .news-and-events-list .item > a:hover {
        border-color: #ea3a32; }
  .news-and-events-list .news > a {
    padding: 10px 10px 30px; }
    .news-and-events-list .news > a:hover {
      background: #fff;
      border-color: #ea3a32; }
  .news-and-events-list .event {
    padding: 10px; }
    .news-and-events-list .event > a {
      background: rgba(234, 58, 50, 0.09) url(../images/calendar-icon.svg) 20px 40px no-repeat;
      background-size: 41px;
      padding: 40px 20px 40px 71px; }
      .news-and-events-list .event > a:hover {
        background-color: rgba(234, 58, 50, 0.07);
        border-color: #ea3a32; }
  .news-and-events-list a {
    display: block;
    text-decoration: none; }
  .news-and-events-list .image-wrapper {
    margin-bottom: 20px;
    overflow: hidden; }
  .news-and-events-list img {
    -webkit-transition: -webkit-transform .4s ease;
    transition: -webkit-transform .4s ease;
    transition: transform .4s ease;
    transition: transform .4s ease, -webkit-transform .4s ease; }
    .news-and-events-list img:hover {
      -webkit-transform: scale(1.06);
              transform: scale(1.06); }
  .news-and-events-list .post-info {
    font-size: 0.7875rem;
    margin: 0; }
  .news-and-events-list h2 {
    font-size: 1.05rem;
    font-weight: 400;
    letter-spacing: .5px;
    line-height: 25px;
    margin: 0 0 10px; }

.country-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start; }
  .country-list .country-item {
    padding: 10px;
    width: 33.33%; }
  .country-list .country-content {
    background: #fff;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
    height: 100%;
    padding: 30px 20px 50px;
    position: relative; }
    .country-list .country-content:hover {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); }
  .country-list .country-link {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%; }
  .country-list a {
    text-decoration: none; }
  .country-list .project-link {
    font-size: 0.875rem;
    color: #283b44;
    border-top: 1px solid #afb7bb;
    font-family: Oswald, sans-serif;
    letter-spacing: .5px;
    padding: 15px 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    -webkit-transition: opacity .3s ease;
    transition: opacity .3s ease;
    width: 100%;
    z-index: 5; }
    .country-list .project-link span {
      display: block; }
      .country-list .project-link span:after {
        content: none; }
      .country-list .project-link span:before {
        font-size: 1.75rem;
        content: "j";
        color: #4c7e96;
        display: inline-block;
        margin-right: 10px;
        vertical-align: bottom; }
    .country-list .project-link:hover {
      opacity: .66; }
  .country-list .section-info .paragraph {
    overflow: hidden;
    padding: 5px 0; }
    .country-list .section-info .paragraph a {
      border-bottom: 2px solid transparent;
      display: inline-block;
      -webkit-transition: border .3s ease;
      transition: border .3s ease;
      vertical-align: top;
      position: relative;
      z-index: 5; }
      .country-list .section-info .paragraph a:hover {
        border-color: #ea3a32; }
        .country-list .section-info .paragraph a:hover .icon-wrapper,
        .country-list .section-info .paragraph a:hover h3 {
          opacity: .66; }
  .country-list .section-info .icon-wrapper {
    float: left;
    height: 40px;
    margin-right: 10px;
    -webkit-transition: opacity .3s ease;
    transition: opacity .3s ease;
    width: 26px; }
  .country-list .section-info h3 {
    font-size: 0.875rem;
    font-weight: 400;
    float: left;
    letter-spacing: .5px;
    line-height: 20px;
    margin: 8px 0 0;
    -webkit-transition: opacity .3s ease;
    transition: opacity .3s ease; }

.country-title {
  margin-bottom: 20px;
  overflow: hidden; }
  .country-title .country-icon-wrapper {
    float: left;
    margin-right: 20px;
    width: 40px; }
  .country-title h3 {
    font-size: 1.4rem;
    line-height: 32px;
    margin: 10px 0 5px;
    text-transform: uppercase; }

form {
  font-size: 1.1375rem;
  font-family: Oswald, sans-serif; }
  form label {
    color: #283b44;
    display: block;
    margin-bottom: 10px;
    letter-spacing: .5px; }
  form .description {
    font-size: 0.875rem;
    color: #ea3a32;
    font-family: "Fira Sans", sans-serif;
    margin: 0 20px 5px 0; }

.form-text {
  border: 1px solid #75a8c0;
  color: #4c7e96;
  font-family: "Fira Sans", sans-serif;
  font-weight: 300;
  height: 50px;
  line-height: 26px;
  margin-bottom: 25px;
  padding: 1px 12px;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  width: 100%; }
  .form-text:hover {
    box-shadow: 0 0 6px 0 rgba(40, 59, 68, 0.38); }
  .form-text:focus {
    border-color: #3898EC;
    outline: none; }
  .form-text::-webkit-input-placeholder, .form-text::-moz-placeholder, .form-text:-ms-input-placeholder, .form-text:-moz-placeholder {
    color: #999; }

.js-form-type-select {
  background-color: #fff;
  background-image: -webkit-linear-gradient(#fff 0, #f3f3f3 100%);
  background-image: linear-gradient(#fff 0, #f3f3f3 100%);
  border-radius: 4px;
  margin-bottom: 20px; }

.form-select {
  font-size: 1.05rem;
  background: url(../images/select-arrows.png) right center no-repeat;
  border: 1px solid #75a8c0;
  border-radius: 4px;
  color: #333;
  font-family: "Fira Sans", sans-serif;
  height: 50px;
  padding: 1px 12px;
  width: 100%; }
  .form-select:hover {
    box-shadow: none; }
  .form-select:focus {
    border-color: #3898EC;
    outline: none; }

.form-checkbox {
  -webkit-appearance: checkbox;
     -moz-appearance: checkbox;
          appearance: checkbox; }

.form-submit {
  background: #fff;
  border: 1px solid transparent;
  color: #ea3a32;
  letter-spacing: 1px;
  padding: 15px 41px;
  text-transform: uppercase;
  -webkit-transition: border .3s ease;
  transition: border .3s ease; }
  .form-submit:hover {
    border-color: #ea3a32;
    -webkit-transform: scale(1.04);
            transform: scale(1.04); }

.user-login-form {
  overflow: hidden;
  margin: 40px auto 15px;
  padding: 20px 40px;
  max-width: 50%; }
  .user-login-form .form-submit {
    float: right; }

#block-ample-local-tasks {
  margin-top: 20px; }
  #block-ample-local-tasks > ul {
    font-size: 0rem;
    padding: 0;
    text-align: center; }
    #block-ample-local-tasks > ul li {
      display: inline-block; }
    #block-ample-local-tasks > ul a {
      font-size: 1.25rem;
      border-bottom: 1px solid #80aabe;
      color: #4c7e96;
      display: block;
      font-family: Oswald, sans-serif;
      padding: 20px 30px;
      text-decoration: none;
      -webkit-transition: background .3s ease;
      transition: background .3s ease; }
      #block-ample-local-tasks > ul a:hover {
        background: #f5f5f5;
        border-bottom: 2px solid #80aabe; }
      #block-ample-local-tasks > ul a.is-active {
        border-bottom: 2px solid #ea3a32; }

.view-news-and-events .title-wrapper {
  padding-bottom: 10px;
  text-align: center; }
  .view-news-and-events .title-wrapper h1 {
    padding-top: 0; }
  .view-news-and-events .title-wrapper .line {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%); }

.view-news-and-events > h2 {
  font-size: 1.575rem;
  line-height: 48px;
  margin-bottom: 15px;
  text-align: center; }

.view-news-and-events .wrapper-filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .view-news-and-events .wrapper-filters > div {
    margin-left: 10px;
    margin-right: 10px;
    width: 100%; }

.view-news-and-events fieldset {
  margin: 0; }

.view-news-and-events .fieldset-wrapper {
  background: #fff;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.09);
  margin: 0 10px 10px;
  padding: 30px 30px 45px; }

.view-news-and-events .form-checkboxes {
  overflow: hidden; }
  .view-news-and-events .form-checkboxes .form-item {
    float: left;
    padding: 0 10px;
    width: 16.6%; }
  .view-news-and-events .form-checkboxes .form-checkbox {
    display: inline-block;
    margin-right: 5px;
    vertical-align: middle; }
  .view-news-and-events .form-checkboxes label {
    font-size: 0.9625rem;
    display: inline-block;
    font-family: "Fira Sans", sans-serif;
    letter-spacing: normal;
    margin-bottom: 0;
    vertical-align: middle; }

.view-country {
  margin-top: 40px; }
  .view-country .js-form-type-textfield {
    background: #fff;
    overflow: hidden;
    margin-bottom: 20px;
    padding: 20px; }
    .view-country .js-form-type-textfield label {
      font-size: 1.4rem;
      float: left;
      line-height: 31px;
      margin-top: 10px;
      width: 33.33%; }
    .view-country .js-form-type-textfield .form-text {
      font-size: 1.47rem;
      border-color: rgba(40, 59, 68, 0.32);
      float: left;
      font-weight: 300;
      margin-top: 20px;
      padding-left: 20px;
      width: 45.5%; }
  .view-country div[id^='edit-combine'] {
    padding: 20px 0 28px;
    text-align: center; }
    .view-country div[id^='edit-combine'] ul {
      margin: 0;
      padding: 0; }
    .view-country div[id^='edit-combine'] li {
      height: 50px;
      width: 50px;
      background: #fff;
      display: inline-block;
      margin: 0 1px;
      text-align: center;
      vertical-align: top; }
      .view-country div[id^='edit-combine'] li:hover {
        background: #ffe9e9; }
    .view-country div[id^='edit-combine'] .form-radio:checked ~ label {
      border-bottom: 2px solid #ea3a32; }
    .view-country div[id^='edit-combine'] label {
      font-size: 0.875rem;
      color: #ea3a32;
      display: inline-block;
      height: 50px;
      line-height: 50px;
      margin: 0;
      vertical-align: top;
      width: 100%; }

.ajax-progress {
  height: 70px;
  width: 70px;
  background: rgba(0, 0, 0, 0.3) url(../images/throbber.svg) center no-repeat;
  background-size: cover; }

header {
  background: #fff;
  letter-spacing: 1px;
  position: relative; }
  header ul {
    margin: 0;
    padding: 0; }
  header .wrapper {
    max-width: 1260px;
    margin: 0 auto;
    position: relative; }
  header .service-links,
  header .links {
    position: absolute;
    bottom: 10px;
    right: 0;
    height: 60px; }
    header .service-links ul:not(.contextual-links),
    header .service-links ul:not(.contextual-links) li,
    header .links ul:not(.contextual-links),
    header .links ul:not(.contextual-links) li {
      display: inline-block;
      vertical-align: top; }
    header .service-links a,
    header .links a {
      font-size: 0.7875rem;
      display: block;
      color: #283b44;
      font-family: Oswald, sans-serif;
      padding: 32px 5px 15px;
      text-decoration: none; }
      header .service-links a:hover,
      header .links a:hover {
        background: rgba(76, 126, 150, 0.08);
        opacity: .7; }
  header .links a.is-active {
    color: #8c2222; }

.header-static {
  background: #fff;
  min-height: 120px;
  position: relative;
  text-align: center;
  z-index: 500; }
  .header-static .logo-wrapper .logo {
    background: #fff;
    border-bottom: 2px solid #ea3a32;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.25);
    padding: 15px 10px 0 20px;
    position: absolute;
    left: 0;
    top: 0;
    height: 150px;
    width: 180px; }
  .header-static .logo-wrapper img {
    display: block;
    height: 113px;
    width: 134px; }
  .header-static .partners {
    display: inline-block; }
  .header-static .social-links {
    position: absolute;
    top: 22px;
    right: 0; }
  .header-static .links {
    text-transform: uppercase; }
    .header-static .links ~ .service-links {
      right: 50px; }
    .header-static .links li {
      display: inline-block;
      vertical-align: top; }

.header-fixed {
  position: fixed;
  width: 100%;
  z-index: 400; }
  .header-fixed .top-head {
    background-image: -webkit-linear-gradient(top, #334c58, #283b44);
    background-image: linear-gradient(180deg, #334c58, #283b44);
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.16);
    height: 60px; }
  .header-fixed .logo-wrapper {
    float: left; }
    .header-fixed .logo-wrapper .logo {
      background: #fff;
      border-bottom: 2px solid #ea3a32;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
      display: inline-block;
      height: 70px;
      padding-top: 6px;
      width: 93px; }
    .header-fixed .logo-wrapper img {
      display: block;
      margin: 0 auto;
      width: 63px; }
  .header-fixed .main-menu ul a {
    color: #fff;
    font-weight: 200;
    padding: 20px 30px; }
  .header-fixed .service-links {
    right: 0;
    top: 0;
    position: absolute; }
    .header-fixed .service-links a {
      font-size: 0.875rem;
      color: #fff;
      font-weight: 200;
      padding: 20px 5px; }

.bottom-head {
  background: #e9ecee;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); }
  .bottom-head .wrapper {
    margin: 0 auto;
    max-width: 1260px;
    min-height: 60px;
    padding-top: 20px; }
    .bottom-head .wrapper:empty {
      display: none; }

footer {
  font-size: 0.7875rem;
  background: #fff;
  border-top: 1px solid #fffcfc;
  font-family: "Libre Franklin", sans-serif;
  padding: 40px 0;
  position: relative;
  text-align: center;
  z-index: 500; }
  footer .partners {
    margin-bottom: 10px; }
  footer p {
    margin: 0; }

.main-wrapper {
  border-top: 1px solid #e9e6e6;
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.11); }
  body:not(.who):not(.news-and-events):not(.where):not(.group) .main-wrapper {
    background: #fff; }

.content-container {
  margin: 0 auto;
  max-width: 1160px;
  padding: 80px 0 40px;
  width: 100%; }

.region-wrapper:after {
  content: "";
  display: table;
  clear: both; }

.content-with-sidebar:after {
  content: "";
  display: table;
  clear: both; }

.content-with-sidebar .content {
  float: left;
  width: 66.64%; }
  .content-with-sidebar .content > *:not(.node-pager):not(.event-info):not(.header-image) {
    width: 80%; }
    .content-with-sidebar .content > *:not(.node-pager):not(.event-info):not(.header-image) .fullcontent-image {
      margin-top: 30px;
      width: 120%; }
  .content-with-sidebar .content .header-image figure {
    margin: 0; }

.content-with-sidebar .sidebar {
  float: left;
  padding-left: 20px;
  width: 33.33%; }

.header-image {
  margin-bottom: 50px;
  width: 95%; }

.title-wrapper {
  margin-bottom: 40px;
  padding-bottom: 20px;
  position: relative; }
  .title-wrapper h1 ~ h2 {
    margin-bottom: 0; }
  .title-wrapper .line {
    background: #ea3a32;
    display: block;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 180px; }
  .title-wrapper ~ .event-info {
    margin-top: -20px; }

.content,
.more-content {
  font-size: 1.1375rem;
  color: #283b44;
  font-family: "Fira Sans", sans-serif;
  font-weight: 300;
  line-height: 28px; }
  .content h1,
  .more-content h1 {
    font-size: 3.0625rem;
    line-height: 48px;
    margin: 20px 0 21px;
    padding: 0; }
  .content h2,
  .more-content h2 {
    font-size: 1.575rem;
    line-height: 48px;
    margin: 0 0 21px; }
  .content h4,
  .more-content h4 {
    font-size: 1.225rem;
    color: #283b44;
    font-family: "Fira Sans", sans-serif;
    font-weight: 700;
    line-height: 24px;
    margin: 30px 0 10px; }
  .content figure,
  .more-content figure {
    clear: both;
    margin: 30px 0; }
  .content figcaption,
  .more-content figcaption {
    font-size: 0.875rem;
    color: #4c7e96;
    font-family: "Fira Sans", sans-serif;
    font-style: italic;
    line-height: 29px;
    margin-top: 5px; }
  .content li,
  .more-content li {
    font-size: 1.1375rem;
    font-family: "Fira Sans", sans-serif;
    color: #4c7e96;
    font-weight: 400;
    line-height: 29px;
    margin-top: 10px; }
  .content ul,
  .more-content ul {
    list-style-type: disc; }
  .content ol,
  .more-content ol {
    list-style-type: decimal; }
  .content blockquote,
  .more-content blockquote {
    font-size: 1.75rem;
    border: none;
    color: #4c7e96;
    font-family: Oswald, sans-serif;
    font-weight: 300;
    line-height: 35px;
    margin: 41px 0 62px;
    padding: 20px 50px;
    position: relative;
    left: -46px;
    -webkit-transition: opacity .2s, -webkit-transform .6s;
    transition: opacity .2s, -webkit-transform .6s;
    transition: opacity .2s, transform .6s;
    transition: opacity .2s, transform .6s, -webkit-transform .6s; }
    .content-with-sidebar .content blockquote, .content-with-sidebar
    .more-content blockquote {
      width: 70%; }
    .content blockquote p,
    .more-content blockquote p {
      font-size: 1.75rem;
      color: #4c7e96;
      font-family: Oswald, sans-serif;
      font-weight: 300;
      line-height: 35px; }
  .content a,
  .more-content a {
    color: #ea3a32;
    font-weight: 400;
    text-decoration: none; }

.post-info {
  font-size: 0.9625rem;
  color: #4c7e96;
  font-family: "Fira Sans", sans-serif;
  margin-bottom: 20px; }
  .post-info > *:not(:last-child) {
    display: inline-block;
    vertical-align: top; }
    .post-info > *:not(:last-child):after {
      content: "|";
      font-weight: normal;
      margin: 0 2px 0 6px; }
  .post-info time,
  .post-info .country {
    font-weight: 700; }

.summary-text p {
  font-size: 1.4rem;
  color: #4c7e96;
  font-family: "Fira Sans", sans-serif;
  font-weight: 300;
  line-height: 31px;
  margin: 20px 0; }

.more-content-wrapper {
  padding-top: 10px; }
  .more-content-wrapper .more-content {
    display: none;
    padding: 20px 0; }

.top-text-region {
  margin: 0 auto 50px;
  text-align: center;
  width: 66.64%; }
  .top-text-region .title-wrapper {
    padding-bottom: 10px;
    margin-bottom: 20px; }
  .top-text-region h1 {
    font-size: 4.375rem;
    line-height: 78px;
    padding-top: 0; }
  .top-text-region .line {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%); }
  .top-text-region .summary-text {
    margin-bottom: 30px; }

.members-list > div {
  margin-top: 50px; }

.members-list div > .title-wrapper {
  margin-bottom: 20px;
  padding-bottom: 10px; }
  .members-list div > .title-wrapper h2 {
    font-size: 1.575rem;
    line-height: 48px;
    margin: 0 0 15px;
    text-align: center;
    text-transform: uppercase; }
  .members-list div > .title-wrapper .line {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%); }

.members-list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0; }

.slider-wrapper {
  overflow: hidden;
  position: relative; }
  .slider-wrapper.background-image {
    height: 409px; }
  .top-banner-region .slider-wrapper {
    height: 650px; }
  .header-image .slider-wrapper {
    height: 500px; }

.slider-main {
  margin: 50px 0;
  position: relative; }
  .slider-main.fixed {
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 700; }

.content-slider-wrapper,
.thumb-slider-wrapper {
  overflow: hidden;
  position: relative; }

.content-slider-wrapper {
  height: 438px; }
  .fixed .content-slider-wrapper {
    height: 84vh;
    margin-top: 2vh; }
    .fixed .content-slider-wrapper .owl-nav {
      display: block; }
      .fixed .content-slider-wrapper .owl-nav > div {
        height: 100%;
        margin-top: -34px;
        opacity: .5;
        top: 0;
        width: 68px; }
        .fixed .content-slider-wrapper .owl-nav > div:hover {
          opacity: 1; }
    .fixed .content-slider-wrapper .owl-prev {
      background: url(../images/slider-arrow-left.svg) center no-repeat; }
    .fixed .content-slider-wrapper .owl-next {
      background: url(../images/slider-arrow-right.svg) center no-repeat; }
  .content-slider-wrapper .owl-nav {
    display: none; }

.thumb-slider-wrapper {
  height: 90px;
  padding: 10px 36px; }
  .fixed .thumb-slider-wrapper {
    height: 120px; }
    .fixed .thumb-slider-wrapper .owl-stage {
      margin: 0 auto; }
  .thumb-slider-wrapper .current .slider-item-thumb .thumb-image {
    border-bottom: 2px solid #ea3a32; }
  .thumb-slider-wrapper .current .slider-item-thumb .thumb-overlay {
    background: none; }
  .thumb-slider-wrapper .owl-nav > div {
    background-color: transparent;
    background-size: 18px;
    height: 40px;
    margin-top: -20px;
    width: 20px; }
    .thumb-slider-wrapper .owl-nav > div:hover {
      background-color: transparent;
      -webkit-transform: scale(1);
              transform: scale(1); }
  .thumb-slider-wrapper .owl-nav .owl-prev {
    background-position: 0 -22px; }
  .thumb-slider-wrapper .owl-nav .owl-next {
    background-position: 0 8px; }

.slider-item-thumb {
  cursor: pointer;
  height: 100%;
  width: 78px; }
  .fixed .slider-item-thumb {
    width: 10vh; }
  .slider-item-thumb .thumb-image {
    background-position: 50%;
    background-size: cover;
    height: 100%;
    margin: 0 5px;
    position: relative; }
  .slider-item-thumb .thumb-overlay {
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    -webkit-transition: background .2s ease;
    transition: background .2s ease;
    width: 100%; }
    .slider-item-thumb .thumb-overlay:hover {
      background: rgba(0, 0, 0, 0.05); }

.slider-item-wrapper,
.banner-image {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  position: relative;
  text-align: center; }
  .fixed .slider-item-wrapper, .fixed
  .banner-image {
    height: auto;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); }
    .fixed .slider-item-wrapper .image-text, .fixed
    .banner-image .image-text {
      font-size: 1.0625rem;
      font-family: "Fira Sans", sans-serif;
      font-style: italic;
      color: #4c7e96;
      line-height: 20.4px;
      margin: 0;
      padding: 9px 17px;
      left: 0;
      bottom: 0;
      text-align: left;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 100%; }
      .fixed .slider-item-wrapper .image-text:before, .fixed .slider-item-wrapper .image-text:after, .fixed
      .banner-image .image-text:before, .fixed
      .banner-image .image-text:after {
        content: none; }
  .slider-item-wrapper .slide-content,
  .banner-image .slide-content {
    display: inline-block;
    position: relative; }
  .header-image .slider-item-wrapper .image-text, .header-image
  .banner-image .image-text {
    width: 80%; }

.owl-stage-outer {
  overflow: hidden; }

.owl-stage-outer,
.owl-stage,
.owl-item {
  height: 100%; }

.owl-stage {
  position: relative; }

.owl-item {
  float: left; }

.owl-nav {
  width: 100%; }
  .owl-nav.disabled {
    display: none; }
  .owl-nav > div {
    height: 50px;
    width: 50px;
    background: rgba(0, 0, 0, 0.34) url(../images/slider-arrows.png) left top no-repeat;
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-top: -25px;
    text-indent: -9999px;
    -webkit-transition: all .2s ease;
    transition: all .2s ease; }
    .owl-nav > div:hover {
      background-color: rgba(0, 0, 0, 0.58);
      -webkit-transform: scale(1.04);
              transform: scale(1.04); }
    .owl-nav > div.disabled {
      display: none; }
  .owl-nav .owl-prev {
    background-position: 7px -48px;
    left: 0; }
  .owl-nav .owl-next {
    background-position: 8px 1px;
    right: 0; }

.owl-dots {
  height: 30px;
  position: absolute;
  left: 0;
  bottom: 0;
  text-align: center;
  width: 100%; }
  .owl-dots.disabled {
    display: none; }
  .owl-dots > div {
    height: 14px;
    width: 14px;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    margin: 0 3px 7px; }
    .owl-dots > div.active {
      background: #fff; }

.trigger-full-page {
  height: 29px;
  width: 29px;
  background: url(../images/expand.svg) left top no-repeat;
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 10; }
  .fixed .trigger-full-page {
    background: url(../images/close-icon.svg) center no-repeat;
    height: 44px;
    opacity: .8;
    top: 2vh;
    right: 0;
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
    width: 68px; }
    .fixed .trigger-full-page:hover {
      opacity: 1; }
