@import url("https://fonts.googleapis.com/css?family=Oswald:300,400,700");
*,
*::before,
*::after {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0; }

.providers {
  margin: 3px; }

.provider {
  border-radius: 29px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Oswald, sans-serif;
  font-size: 16.8px;
  font-weight: 300;
  letter-spacing: 1px;
  margin: 0 auto 20px;
  min-width: 250px;
  padding: 12px 40px;
  text-align: center;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-transition: background .2s ease;
  transition: background .2s ease;
  vertical-align: top; }
  .provider:nth-child(1) {
    background: #283b44; }
    .provider:nth-child(1):hover {
      background: #416170; }
  .provider:nth-child(2) {
    background: #4c7e96; }
    .provider:nth-child(2):hover {
      background: #729db1; }
  .provider:nth-child(3) {
    background: #1990c9; }
    .provider:nth-child(3):hover {
      background: #33a9e2; }
