
@font-face {
  font-family: "P4h";
  src: url("../fonts/p4h.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "PrimaryIcons";
  src: url("../fonts/primary-icons.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
