%font-social-icon {
  &::after,
  &::before {
    font-family: $p4h;
  }
}

.font-social-icon {
  > a,
  > span {
    @extend %font-social-icon;
  }
}

@each $type, $content in (
  facebook: 'Q',
  linkedin: 'W',
  twitter: 'E',
  top-right: 'T',
  down-right: 'y',
  arrow-left: '8',
  arrow-right: '9',
  doc: 'u',
  pin: 'f',
  news: 's',
  event: 'x',
  country: 'j',
  project: 'i',
  person: 'a',
  social: 'R',
  mail: 'o',
  menu: 'G',
  close: 'w',
  onedrive: 'J',
  google: 'K',
  application-pdf: 'A',
  x-office-spreadsheet: 'S',
  x-office-document: 'D',
  download: 'F',
  search: 't',
  bell: 'm',
  expand: 'h',
  plus: '´',
  pensil: 'q'
) {
  .#{$type}-icon {
    > a::after,
    > span::after {
      content: $content;
    }
  }
}
