{% if content.banner|without('#prefix', '#suffix') is not empty %}
  <div class="top-banner-region">
    {{ content.banner|without('#prefix', '#suffix') }}
  </div>
{% endif %}

<section class="content-container content-with-sidebar">
  <div class="region-wrapper">
    {{ content.content|without('#prefix', '#suffix') }}
  </div>
</section>

{% if content.bottom|without('#prefix', '#suffix') is not empty %}
  <div class="full-width">
    {{ content.bottom|without('#prefix', '#suffix') }}
  </div>
{% endif %}
