{% if content.top|without('#prefix', '#suffix') is not empty %}
  <div class="top-banner-region">
    {{ content.top|without('#prefix', '#suffix') }}
  </div>
{% endif %}

<div class="content-wrapper">
  <section class="content-container content-with-sidebar">
    <aside class="sidebar">
      {{ content.right_sidebar|without('#prefix', '#suffix') }}
    </aside>

    <section class="content">
      {{ content.left_sidebar|without('#prefix', '#suffix') }}
    </section>
  </section>
</div>
