.add-event-popup-form {
  display: none;
}

.add-event-popup-form .filter-wrapper {
  display: none;
}

.add-event-popup-form .tabledrag-toggle-weight-wrapper {
  display: none;
}

.add-event-popup-form .field-multiple-table {
  width: 100%;
}

.add-event-popup-form .field-multiple-table .field-multiple-drag {
  display: none;
}

.add-event-popup-form .fieldset-wrapper > h4,
.add-event-popup-form .fieldset-wrapper > div {
  display: inline-block;
  margin-top: 5px;
  width: 45%;
  vertical-align: top;
}

.add-event-popup-form h4 {
  color: #283b44;
  display: block;
  margin-bottom: 10px;
  letter-spacing: .5px;
  font-size: 1.1375rem;
  font-family: Oswald, sans-serif;
  font-weight: normal;
  text-align: left;
}

.add-event-popup-form .form-submit {
  margin-top: 10px;
  margin-bottom: 10px;
}

.add-event-popup-form fieldset {
  margin: 0;
  border: 1px solid #75a8c0;
}

.add-event-popup-form .form-date {
  margin-bottom: 8px;
}

.add-event-popup-form .form-time {
  margin-bottom: 15px;
  border: 1px solid #75a8c0;
}

.add-event-calendar .fc-day-number {
  cursor: pointer;
}

.add-event-calendar .add-event {
  display: inline-block;
  padding-right: 35px;
}