<div{{ attributes }}>
  <div class="flag"></div>
  <h3 role="heading">{{ label }}</h3>
  {{ content.field_infographic }}
  <div class="left line projectwrapper w-clearfix">
    <div class="big iconwrapper">
      <div class="p4hicon">j</div>
    </div>
    <div class="blue largetxt left">Part of the Vestafrica Region</div>
  </div>
</div>
