<div class="country-title">
  <a href="{{ url }}">
    {% if group_icon %}
      <div class="country-icon-wrapper">
        <img src="{{ file_url(group_icon) }}">
      </div>
    {% endif %}
    <h3 role="heading">
      {{ label }}
    </h3>
  </a>
</div>
