<div class="article-teaser">
  <a href="{{ url }}">
    {% if display_submitted %}
      <span class="post-info">
        <time datetime="{{ content.field_content_date|field_value|field_raw }}">
          {{ content.field_content_date|field_value }}
        </time>
      </span>
    {% endif %}

    <h2 role="heading">
      {{ label }}
    </h2>
  </a>
</div>
