<div class="knowledge-vault-item">
  <div class="kv-content-container">
    <div class="region-title">
      <h3 role="heading">
        {{ fields.label.content }}
      </h3>
    </div>

    {{ fields.field_summary.content }}
    {{ fields.view.content }}
  </div>

  <div class="knowledge-vault-link">
    {{ fields.view_1.content }}
  </div>
</div>
