<div class="knowledge-vault-item">
  <div class="knowledge-vault-content">
    <div class="region-title">
      <h3 role="heading">
        {{ fields.label.content }}
      </h3>

      {{ fields.field_summary.content }}
      {{ fields.view.content }}
    </div>

    {{ fields.view_1.content }}
  </div>
</div>
