<div class="slider-item-wrapper">
  {{ content.field_content_image|field_value }}
  {% if content.field_description|field_value %}
    <p class="image-text">
      {{ content.field_description|field_value }}
    </p>
  {% endif %}
</div>
