<nav class="dashboard-sidebar">
  {{ elements.dashlogos_2 }}
  <div class="sidebar-menu">
    {{ elements.dashboardmenu }}
    <div class="expand-menu-btn font-social-icon expand-icon">
      <span></span>
    </div>
  </div>
</nav>
