.fc-day-number {
  cursor: pointer;
}

.add-event {
  display: inline-block;
  padding-right: 35px;
}

.has-event-calendar-popup {
  .ui-autocomplete.ui-front {
    z-index: 999;
    border: 1px solid #75a8c0;
  }
}