.addtoany-wrapper {
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 170px;
  text-align: center;
  z-index: 100;
  padding: 0px 0 0 2px;

  .toolbar-fixed & {
    top: 210px;
  }

  .toolbar-tray-open & {
    top: 250px;
  }

  .toggle-sharing-btn {
    @include font-size(22.4);
    width: 50px;
    height: 50px;
    background: #EBEFF2;
    color: $red;
    cursor: pointer;
    display: block;
    line-height: 35px;
    position: relative;
    z-index: 10;

    &:before {
      content: 'share';
      font-family: $primary-font;
      position: absolute;
      top: 20px;
      left: 8px;
      font-size: 14px;
      font-weight: bold;
    }
  }
}

.addtoany_list {
  background: $white;
  display: block;
  transition: transform .2s ease;

  &:after {
    display: none;
  }

  a {
    width: 50px;
    height: 40px;
    display: block;
    text-decoration: none;

    &:after {
      @include font-size(22.4);
      color: white;
      font-family: $p4h;
      line-height: 40px;
      transition: color .3s ease;
    }

    &:hover:after {
      opacity: 0.7;
    }

    span {
      display: none;
    }
  }

  .a2a_button_email {
    background: #F9AE44;
    &:after {
      content: "o";
    }
  }

  .a2a_button_facebook {
    background: #3B5899;
    &:after {
      content: "Q";
    }
  }

  .a2a_button_twitter {
    background: #55ACEE;
    &:after {
      content: "E";
    }
  }

  .a2a_button_linkedin {
    background: #0076B5;
    &:after {
      content: "W";
    }
  }

  .a2a_button_google_plus {
    background: url(../images/google-plus.svg) center 12px no-repeat;
    background-size: 20px 20px;

    &:hover {
      background-position: center -22px;
    }

    &:after {
      content: none;
    }
  }
}
