.teaser {
  background: $navy;
  color: $white;
  margin-bottom: 40px;
  transition: background .3s ease;

  &:hover {
    background: rgba($red, .85);
  }

  .full-width & {
    margin-bottom: 0;
    text-align: center;

    h2 {
      @include font-size(56);
      line-height: 40px;
    }
  }

  a {
    @include font-size(22.4);
    color: $white-dark;
    display: block;
    font-family: $fira;
    font-weight: 300;
    padding: 40px 30px;
    text-decoration: none;
  }

  h2 {
    @include font-size(30.8);
    color: $white-with-rose-shade;
    display: block;
    font-family: $oswald;
    font-weight: 400;
    line-height: 40px;
    margin: 0;
    text-decoration: none;
    transition: all .2s ease;

    &:hover {
      transform: scale(1.02);
    }
  }

  p {
    margin: 30px 0 0;
  }
}

.news-events-list,
.related-docs,
.timeline {
  margin-bottom: 50px;

  &.corners {
    padding: 30px 0 20px;
    margin-bottom: 40px;

    li {
      border-color: $navy;
      padding: 20px 15px 10px;

      &:hover {
        background: transparent;
      }
    }
  }

  h2 {
    @include font-size(25.2);
    line-height: 48px;
    margin: 0 0 21px 15px;
    text-transform: uppercase;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  li,
  .paragraph {
    border-bottom: 1px solid $white-dark;
    cursor: pointer;
    font-family: $fira;
    padding: 15px;

    &:hover {
      background: $white-dark;
      border-color: $red;
    }

    &:last-child {
      border-color: transparent;

      &:hover {
        border-color: $red;
      }
    }
  }

  a:not(.read-more):not(.download) {
    display: block;
    color: $navy-dark;
    text-decoration: none;
  }

  .font-social-icon {
    float: left;
    margin-left: -4px;
    margin-right: 10px;

    span {
      @include font-size(24);
      color: $navy-dark;
      text-decoration: none;
    }
  }

  .doc-icon {
    span {
      @include font-size(28);
      color: $navy;
      display: block;
      padding-top: 3px;
    }
  }

  .download {
    color: $red;
    margin-left: 37px;
    text-decoration: none;

    &:hover {
      color: $red-dark;
    }
  }

  .facebook-icon {
    margin-left: -6px;
  }

  time {
    @include font-size(12.6);
    color: $navy;
    font-weight: 700;
  }

  h4 {
    @include font-size(16.8);
    letter-spacing: .5px;
    line-height: 22px;
    margin: 0 0 10px;
  }

  p {
    @include font-size(15.4);
    color: $navy-dark;
    clear: both;
    line-height: 21px;
  }

  .tweet {
    line-height: 26px;
    margin-top: 5px;
  }
}

.timeline {
  .title-wrapper {
    margin-bottom: 20px;

    h2 {
      @include font-size(49);
      line-height: 48px;
      margin: 20px 0 21px;
    }
  }

  h2 {
    margin-left: 0;
    text-transform: none;
  }

  .timeline-content {
    h4 {
      font-family: $oswald;
      font-weight: 400;
      clear: both;
      letter-spacing: .5px;
      line-height: 25px;
    }

    p {
      line-height: 26px;
    }

    .timeline-content-item {
      a {
        color: $red;
      }
    }
  }
}

.timeline-wrapper {
  margin-top: 50px;

  > h2 {
    @include font-size(28);
    color: $navy;
    font-weight: 400;
    letter-spacing: .5px;
    line-height: 48px;
    margin: 0 0 15px;
    text-align: center;
  }

  .paragraph {
    border: none;
    cursor: auto;
    margin-bottom: 50px;
    padding: 0;
    position: relative;
    width: 50%;

    &:hover {
      background: none;
    }

    &:before,
    &:after {
      content: "";
      display: block;
      position: absolute;
    }

    &:before {
      background: $navy;
      height: 1px;
      top: 50%;
      width: calc(25% - 13px);
    }

    &:after {
      @include same(26px, height, width);
      border: 2px solid $red;
      border-radius: 50%;
      top: calc(50% - 13px);
    }

    &:nth-child(odd) {
      float: left;
      clear: left;

      &:before {
        right: 13px;
      }

      &:after {
        right: -13px;
      }
    }

    &:nth-child(even) {
      float: right;
      clear: right;

      &:before {
        left: 13px;
      }

      &:after {
        left: -13px;
      }

      .timeline-content-item {
        float: right;
      }
    }

    &:first-child {
      margin-top: 50px;
    }

    &:nth-child(2) {
      margin-top: 150px;
    }
  }
}

.timeline-content {
  overflow: hidden;
  position: relative;

  &:after {
    background: $navy;
    content: "";
    height: 90%;
    margin-left: -1px;
    position: absolute;
    top: 13px;
    left: 50%;
    width: 2px;
  }

  .font-social-icon {
    span {
      @include font-size(28);
      color: $navy;
    }
  }
}

.timeline-content-item {
  background: $white-dark;
  border: 1px solid $navy;
  box-shadow: 0 0 6px rgba($black, .2);
  padding: 20px 30px;
  transition: border .3s ease;
  width: 75%;

  &:hover {
    border-color: $red;
  }

  time {
    transition: color .2s ease;

    &:hover {
      color: $red;
    }
  }
}

.related-docs {
  h2 {
    background: url(../images/docs-icon.svg) left center no-repeat;
    background-size: 40px;
    padding-left: 60px;
  }

  li {
    cursor: default;
  }
}

.member-block {
  display: flex;
  width: 33.33%;

  .block-content {
    background: $white;
    box-shadow: 0 0 6px rgba($black, .1);
    margin: 10px;
    position: relative;
    transition: box-shadow .3s ease;
    width: 100%;

    &:hover {
      box-shadow: 0 0 6px 1px rgba($red, .5);
    }
  }

  a {
    display: block;
    padding: 30px 20px 68px;
    text-decoration: none;

    &:after {
      display: none;
    }
  }

  img {
    float: left;
    height: 80px;
    padding: 8px 0 5px;
    margin: 0 10px 20px 0;
    width: 60px;
  }

  .country {
    @include font-size(12.6);
    color: $red;
    font-family: $fira;
    font-weight: 700;
    text-transform: uppercase;
  }

  .title-wrapper {
    float: left;
    margin-bottom: 20px;
    padding: 0 0 10px;
    width: 75%;
  }

  h2 {
    @include font-size(22.4);
    letter-spacing: 1.5px;
    line-height: 32px;
    margin: 10px 0 5px;
    text-transform: uppercase;
  }

  p {
    @include font-size(15.4);
    color: $navy-dark;
    clear: both;
    font-family: $fira;
    line-height: 21px;
  }

  .external-link {
    border-bottom: 2px solid transparent;
    color: $navy-dark;
    font-family: $oswald;
    letter-spacing: .5px;
    min-height: 50px;
    padding: 13px 20px 5px;
    position: absolute;
    left: 0;
    bottom: 0;
    text-decoration: none;
    transition: border .3s ease, color .3s ease;
    width: 100%;

    &:hover {
      border-color: $red;
      color: rgba($navy-dark, .66);
    }

    &:after {
      display: none;
    }

    &:before {
      @include font-size(22.4);
      content: "y";
      color: $red;
      position: relative;
      top: 5px;
    }
  }
}

.visible {
  transform: translateY(0) !important;
  opacity: 1 !important;
}

.faded {
  transition: opacity .5s, transform 1s;
  opacity: 1 !important;
  transform: translateY(0) !important;
}

.related-wrapper {
  background: $white-with-rose-shade;
  border-top: 1px solid #e4dfdf;
  position: fixed;
  bottom: 0;
  left: 0;
  transform: translateY(150%);
  transition: transform .6s ease;
  width: 100%;

  .related-content {
    margin: 0 auto;
    max-width: 1260px;
    position: relative;
  }

  h3 {
    @include font-size(18.2);
    background: $white-with-rose-shade;
    border-bottom: 2px solid $red;
    font-weight: 400;
    line-height: 20px;
    margin: 0;
    padding: 8px 20px;
    position: absolute;
    left: 0;
    top: -38px;
    text-transform: uppercase;
    width: 180px;
  }

  .item-list {
    display: flex;
    margin: 0;
    padding: 0;

    li {
      border-bottom: 1px solid transparent;
      padding: 15px 20px 15px 0;
      width: 33.33%;

      &:hover {
        border-bottom: 1px solid $red;
        opacity: .75;
      }
    }

    a {
      color: $navy-dark;
      text-decoration: none;
    }
  }

  img {
    @include same(65px, height, width);
    float: left;
    margin-right: 20px;
  }

  p,
  time {
    @include font-size(15.4);
    color: $navy-dark;
    font-family: $fira;
    line-height: 21px;
    margin-top: 10px;
    margin-bottom: 0;
  }
}

.event-info {
  @include font-size(25.2);
  @include clearfix();
  border: 2px solid #e9ecee;
  font-family: $oswald;
  line-height: 48px;
  margin-bottom: 40px;
  padding: 40px 40px 20px;
  width: 94%;

  .label {
    display: block;
    font-weight: 700;
    float: left;
    margin-bottom: 15px;
    padding-right: 10px;
    text-transform: uppercase;
    width: 33.33%;
  }

  .value {
    color: $navy;
    display: block;
    font-weight: 400;
    float: left;
    margin-bottom: 15px;
    padding-left: 10px;
    width: 66.66%;

    a {
      color: $navy;
      display: inline-block;
      line-height: 27px;
      max-width: calc(100% - 28px);
      padding-left: 5px;
      text-decoration: underline;
    }
  }

  .font-social-icon {
    @include font-size(28);
    float: left;

    ~ a {
      margin-top: 10px;
    }
  }

  .sign-up {
    text-align: center;
  }

  .red-btn-link {
    @include font-size(21);
    line-height: 20px;
    margin: 10px auto;
  }
}

.news-and-events-list {
  @include font-size(0);
  margin-bottom: 30px;

  .item {
    @include font-size(15.4);
    display: inline-block;
    vertical-align: top;
    width: 25%;

    > a {
      border-bottom: 2px solid transparent;
      transition: background .2s ease, border .2s ease;

      &:hover {
        border-color: $red;
      }
    }
  }

  .news {
    &:first-child {
      margin-bottom: 20px;
      width: 50%;
    }

    > a {
      padding: 10px 10px 30px;

      &:hover {
        background: $white;
        border-color: $red;
      }
    }
  }

  .event {
    padding: 10px;

    > a {
      background: rgba($red, .09) url(../images/calendar-icon.svg) 20px 40px no-repeat;
      background-size: 41px;
      padding: 40px 20px 40px 71px;

      &:hover {
        background-color: rgba($red, .07);;
        border-color: $red;
      }
    }
  }

  a {
    display: block;
    text-decoration: none;
  }

  .image-wrapper {
    margin-bottom: 20px;
    overflow: hidden;
  }

  img {
    transition: transform .4s ease;

    &:hover {
      transform: scale(1.06);
    }
  }

  .post-info {
    @include font-size(12.6);
    margin: 0;
  }

  h2 {
    @include font-size(16.8);
    font-weight: 400;
    letter-spacing: .5px;
    line-height: 25px;
    margin: 0 0 10px;
  }
}

.country-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  .country-item {
    padding: 10px;
    width: 33.33%;
  }

  .country-content {
    background: $white;
    box-shadow: 0 0 6px rgba($black, .1);
    height: 100%;
    padding: 30px 20px 50px;
    position: relative;

    &:hover {
      box-shadow: 0 0 10px rgba($black, .2);
    }
  }

  .country-link {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }

  a {
    text-decoration: none;
  }

  .project-link {
    @include font-size(14);
    color: $navy-dark;
    border-top: 1px solid #afb7bb;
    font-family: $oswald;
    letter-spacing: .5px;
    padding: 15px 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: opacity .3s ease;
    width: 100%;
    z-index: 5;

    span {
      display: block;

      &:after {
        content: none;
      }

      &:before {
        @include font-size(28);
        content: "j";
        color: $navy;
        display: inline-block;
        margin-right: 10px;
        vertical-align: bottom;
      }
    }

    &:hover {
      opacity: .66;
    }
  }

  .section-info {
    .paragraph {
      overflow: hidden;
      padding: 5px 0;

      a {
        border-bottom: 2px solid transparent;
        display: inline-block;
        transition: border .3s ease;
        vertical-align: top;
        position: relative;
        z-index: 5;

        &:hover {
          border-color: $red;

          .icon-wrapper,
          h3 {
            opacity: .66;
          }
        }
      }
    }

    .icon-wrapper {
      float: left;
      height: 40px;
      margin-right: 10px;
      transition: opacity .3s ease;
      width: 26px;
    }

    h3 {
      @include font-size(14);
      font-weight: 400;
      float: left;
      letter-spacing: .5px;
      line-height: 20px;
      margin: 8px 0 0;
      transition: opacity .3s ease;
    }
  }
}

.country-title {
  margin-bottom: 20px;
  overflow: hidden;

  .country-icon-wrapper {
    float: left;
    margin-right: 20px;
    width: 40px;
  }

  h3 {
    @include font-size(22.4);
    line-height: 32px;
    margin: 10px 0 5px;
    text-transform: uppercase;
  }
}
