.teaser {
  background: $navy;
  color: $white;
  margin-bottom: 40px;
  transition: background .3s ease;

  &:hover {
    background: rgba($red, .85);
  }

  .full-width & {
    margin-bottom: 0;
    text-align: center;

    h2 {
      @include font-size(56);
      line-height: 40px;
    }
  }

  a {
    @include font-size(22.4);
    color: $white-dark;
    display: block;
    font-family: $fira;
    font-weight: 300;
    padding: 40px 30px;
    text-decoration: none;
  }

  h2 {
    @include font-size(30.8);
    color: $white-with-rose-shade;
    display: block;
    font-family: $oswald;
    font-weight: 400;
    line-height: 40px;
    margin: 0;
    text-decoration: none;
    transition: all .2s ease;

    &:hover {
      transform: scale(1.02);
    }
  }

  p {
    margin: 30px 0 0;
  }
}

@include breakpoint-for('.teaser', (to: laptop-small)) {
  a {
    padding: 30px 15px;
  }

  h2 {
    @include font-size(28);
    font-weight: 300;
    line-height: 35px;
  }

  .full-width & {
    h2 {
      @include font-size(42);
      font-weight: 300;
      line-height: 35px;
    }
  }
}

@include breakpoint-for('.teaser', (to: tablet)) {
  .full-width & {
    h2 {
      @include font-size(35);
    }
  }

  p {
    @include font-size(14);
    margin-top: 10px;
  }
}

@include breakpoint-for('.teaser', (to: mobileL)) {
  a {
    padding-top: 20px;
  }

  .full-width & {
    h2 {
      @include font-size(28);
    }
  }

  p {
    padding: 0 10px;
  }
}

.news-events-list,
.related-docs,
.timeline {
  margin-bottom: 50px;

  &.corners {
    padding: 30px 0 20px;
    margin-bottom: 40px;

    li {
      border-color: $navy;
      padding: 20px 15px 10px;

      &:hover {
        background: $white;
      }
    }
  }

  h2 {
    @include font-size(25.2);
    line-height: 48px;
    margin: 0 0 21px 15px;
    text-transform: uppercase;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  li,
  .paragraph {
    border-bottom: 1px solid $white-dark;
    cursor: pointer;
    font-family: $fira;
    padding: 15px;

    &:hover {
      background: $white-dark;
      border-color: $red;
    }

    &:last-child {
      border-color: transparent;

      &:hover {
        border-color: $red;
      }
    }
  }

  a:not(.read-more):not(.download) {
    display: block;
    color: $navy-dark;
    text-decoration: none;
  }

  .font-social-icon {
    float: left;
    margin-left: -4px;
    margin-right: 10px;

    span {
      @include font-size(24);
      color: $navy-dark;
      text-decoration: none;
    }
  }

  .doc-icon {
    span {
      @include font-size(28);
      color: $navy;
      display: block;
      padding-top: 3px;
    }
  }

  .download {
    color: $red;
    margin-left: 37px;
    text-decoration: none;

    &:hover {
      color: $red-dark;
    }
  }

  .facebook-icon {
    margin-left: -6px;
  }

  time {
    @include font-size(12.6);
    color: $navy;
    font-weight: 700;
  }

  h4 {
    @include font-size(16.8);
    letter-spacing: .5px;
    line-height: 22px;
    margin: 0 0 10px;
  }

  p {
    @include font-size(15.4);
    color: $navy-dark;
    clear: both;
    line-height: 21px;
  }

  .tweet {
    line-height: 26px;
    margin-top: 5px;
  }

  .bottom-link {
    margin: 0;
  }
}

.timeline {
  .title-wrapper {
    margin-bottom: 20px;
    padding-bottom: 5px;

    .group & {
      text-align: center;

      .line {
        left: 50%;
        transform: translateX(-50%);
      }
    }

    h2 {
      @include font-size(49);
      line-height: 48px;
      margin: 20px 0 21px;
    }
  }

  h2 {
    margin-left: 0;
    text-transform: none;
  }

  .timeline-content {
    h4 {
      font-family: $oswald;
      font-weight: 400;
      clear: both;
      letter-spacing: .5px;
      line-height: 25px;
    }

    p {
      line-height: 26px;
    }

    .timeline-content-item {
      a {
        color: $red;
      }
    }
  }
}

@include breakpoint-for('.timeline', (to: laptop-small)) {
  .title-wrapper {
    h2 {
      margin-bottom: 10px;
    }
  }
}

@include breakpoint-for('.timeline', (to: mobileL)) {
  .title-wrapper {
    h2 {
      @include font-size(36.4);
    }
  }
}

.timeline-wrapper {
  margin-top: 50px;

  > h2 {
    @include font-size(28);
    color: $navy;
    font-weight: 400;
    letter-spacing: .5px;
    line-height: 48px;
    margin: 0 0 15px;
    text-align: center;
  }

  .paragraph {
    border: none;
    cursor: auto;
    margin-bottom: 50px;
    padding: 0;
    position: relative;
    width: 50%;

    &:hover {
      background: none;
    }

    &:before,
    &:after {
      content: "";
      display: block;
      position: absolute;
    }

    &:before {
      background: $navy;
      height: 1px;
      top: 50%;
      width: calc(25% - 13px);
    }

    &:after {
      @include same(26px, height, width);
      border: 2px solid $red;
      border-radius: 50%;
      top: calc(50% - 13px);
    }

    &:nth-child(odd) {
      float: left;
      clear: left;

      &:before {
        right: 13px;
      }

      &:after {
        right: -13px;
      }
    }

    &:nth-child(even) {
      float: right;
      clear: right;

      &:before {
        left: 13px;
      }

      &:after {
        left: -13px;
      }

      .timeline-content-item {
        float: right;
      }
    }

    &:first-child {
      margin-top: 50px;
    }

    &:nth-child(2) {
      margin-top: 150px;
    }
  }
}

@include breakpoint-for('.timeline-wrapper', (to: mobileL)) {
  .paragraph {
    width: 100%;

    &:nth-child(n) {
      float: none;
      margin: 0 0 50px;
      position: relative;
      z-index: 10;

      &:after {
        background: $white;
        right: calc(50% - 13px);
        top: calc(100% - 13px);
        left: auto;
      }

      .timeline-content-item {
        float: none;
      }
    }

    &:first-child {
      margin-top: 50px;
    }

    &:before {
      content: none;
    }
  }
}

.timeline-content {
  overflow: hidden;
  position: relative;

  &:after {
    background: $navy;
    content: "";
    height: 90%;
    margin-left: -1px;
    position: absolute;
    top: 13px;
    left: 50%;
    width: 2px;
  }

  .font-social-icon {
    span {
      @include font-size(28);
      color: $navy;
    }
  }
}

.timeline-content-item {
  background: $white-dark;
  border: 1px solid $navy;
  box-shadow: 0 0 6px rgba($black, .2);
  padding: 20px 30px;
  transition: border .3s ease;
  width: 75%;

  &:hover {
    border-color: $red;
  }

  time {
    transition: color .2s ease;

    &:hover {
      color: $red;
    }
  }

  &.documents {
    position: relative;

    .font-social-icon {
      position: absolute;
      top: 20px;
      left: 30px;
    }

    time {
      margin-left: 35px;
    }

    h4 {
      margin-top: 5px;
    }

    .download {
      margin-left: 0;
    }
  }
}

@include breakpoint-for('.timeline-content-item', (to: mobileL)) {
  width: 100%;
}

.related-docs {
  h2 {
    background: url(../images/docs-icon.svg) left center no-repeat;
    background-size: 40px 40px;
    margin-left: 0;
    padding-left: 60px;
  }

  li {
    cursor: default;
    position: relative;
  }

  article {
    position: relative;
  }

  h4 {
    margin-left: 40px;
  }

  .font-social-icon {
    margin-left: 0;
    position: absolute;
    top: 3px;
    left: 0;

    span {
      @include font-size(30);
      color: $navy;
    }
  }

  .download {
    cursor: pointer;
    margin-left: 44px;
  }
}

.member-block {
  display: flex;
  width: 33.33%;

  .block-content {
    background: $white;
    box-shadow: 0 0 6px rgba($black, .1);
    margin: 10px;
    position: relative;
    transition: box-shadow .3s ease;
    width: 100%;

    &:hover {
      box-shadow: 0 0 6px 1px rgba($red, .5);
    }
  }

  a {
    display: block;
    padding: 30px 20px 68px;
    text-decoration: none;

    &:after {
      display: none;
    }
  }

  img {
    float: left;
    height: 80px;
    padding: 8px 0 5px;
    margin: 0 10px 20px 0;
    width: 60px;
  }

  .country {
    @include font-size(12.6);
    color: $red;
    font-family: $fira;
    font-weight: 700;
    text-transform: uppercase;
  }

  .title-wrapper {
    float: left;
    margin-bottom: 20px;
    padding: 0 0 10px;
    width: 75%;
  }

  h2 {
    @include font-size(22.4);
    letter-spacing: 1.5px;
    line-height: 32px;
    margin: 10px 0 5px;
    text-transform: uppercase;
  }

  p {
    @include font-size(15.4);
    color: $navy-dark;
    clear: both;
    font-family: $fira;
    line-height: 21px;
  }

  .external-link {
    border-bottom: 2px solid transparent;
    color: $navy-dark;
    font-family: $oswald;
    letter-spacing: .5px;
    min-height: 50px;
    overflow: hidden;
    padding: 13px 20px 5px;
    position: absolute;
    left: 0;
    bottom: 0;
    text-decoration: none;
    text-overflow: ellipsis;
    transition: border .3s ease, color .3s ease;
    width: 100%;

    &:hover {
      border-color: $red;
      color: rgba($navy-dark, .66);
    }

    &:after {
      display: none;
    }

    &:before {
      @include font-size(22.4);
      content: "y";
      color: $red;
      position: relative;
      top: 5px;
    }
  }
}

.visible {
  transform: translateY(0) !important;
  opacity: 1 !important;
}

.faded {
  transition: opacity .5s, transform 1s;
  opacity: 1 !important;
  transform: translateY(0) !important;
}

.related-wrapper {
  background: $white-with-rose-shade;
  border-top: 1px solid #e4dfdf;
  position: fixed;
  bottom: 0;
  left: 0;
  transform: translateY(150%);
  transition: transform .6s ease;
  width: 100%;

  .related-content {
    margin: 0 auto;
    max-width: 1260px;
    position: relative;
  }

  h3 {
    @include font-size(18.2);
    background: $white-with-rose-shade;
    border-bottom: 2px solid $red;
    font-weight: 400;
    line-height: 20px;
    margin: 0;
    padding: 8px 20px;
    position: absolute;
    left: 0;
    top: -38px;
    text-transform: uppercase;
    width: 180px;
  }

  .item-list {
    display: flex;
    margin: 0;
    padding: 0;

    li {
      border-bottom: 1px solid transparent;
      padding: 15px 20px 15px 0;
      width: 33.33%;

      &:hover {
        border-bottom: 1px solid $red;
        opacity: .75;
      }
    }

    a {
      color: $navy-dark;
      text-decoration: none;
    }
  }

  img {
    @include same(65px, height, width);
    float: left;
    margin-right: 20px;
  }

  p,
  time {
    @include font-size(15.4);
    color: $navy-dark;
    font-family: $fira;
    line-height: 21px;
    margin-top: 10px;
    margin-bottom: 0;
  }
}

.event-info {
  @include font-size(25.2);
  @include clearfix();
  border: 2px solid #e9ecee;
  font-family: $oswald;
  line-height: 48px;
  margin-bottom: 40px;
  padding: 40px 40px 20px;
  width: 94%;

  .label {
    display: block;
    font-weight: 700;
    float: left;
    margin-bottom: 15px;
    padding-right: 10px;
    text-transform: uppercase;
    width: 33.33%;
  }

  .value {
    color: $navy;
    display: block;
    font-weight: 400;
    float: left;
    margin-bottom: 15px;
    padding-left: 10px;
    width: 66.66%;

    a {
      color: $navy;
      display: inline-block;
      line-height: 27px;
      max-width: calc(100% - 28px);
      padding-left: 5px;
      text-decoration: underline;
    }
  }

  .font-social-icon {
    @include font-size(28);
    float: left;

    ~ a {
      margin-top: 10px;
    }
  }

  .sign-up {
    text-align: center;
  }

  .red-btn-link {
    @include font-size(21);
    line-height: 20px;
    margin: 10px auto;
  }
}

.news-and-events-list {
  @include font-size(0);
  margin-bottom: 30px;

  .item {
    @include font-size(15.4);
    display: inline-block;
    vertical-align: top;
    width: 25%;


    .front & {
      width: 33.33%;
    }

    > a {
      border-bottom: 2px solid transparent;
      transition: background .2s ease, border .2s ease;

      &:hover {
        border-color: $red;
      }
    }
  }

  .news {
    &:first-child {
      margin-bottom: 20px;
      width: 50%;
    }

    .front & {
      &:nth-child(2) {
        margin-bottom: 20px;
        width: 50%;
      }
    }

    > a {
      padding: 10px 10px 30px;

      &:hover {
        background: $white;
        border-color: $red;
      }
    }
  }

  .social {
    margin-bottom: 30px;
    padding: 10px;

    > a {
      background: $white;
      padding: 20px;

      &:hover {
        border-color: $red;
      }
    }

    .font-social-icon {
      @include font-size(24);
      color: $navy-dark;
      margin-bottom: 20px;
    }

    .teaser-text {
      @include font-size(15.4);
      color: $navy-dark;
      font-family: $fira;
      line-height: 22px;
      margin: 5px 0 10px;
    }
  }

  .event {
    padding: 10px;

    > a {
      background: rgba($red, .09) url(../images/calendar-icon.svg) 20px 40px no-repeat;
      background-size: 41px 41px;
      padding: 40px 20px 40px 71px;

      &:hover {
        background-color: rgba($red, .07);;
        border-color: $red;
      }
    }
  }

  a {
    display: block;
    text-decoration: none;
  }

  .image-wrapper {
    margin-bottom: 20px;
    overflow: hidden;
  }

  img {
    transition: transform .4s ease;

    &:hover {
      transform: scale(1.06);
    }
  }

  .post-info {
    @include font-size(12.6);
    margin: 0;
  }

  h2 {
    @include font-size(16.8);
    font-weight: 400;
    letter-spacing: .5px;
    line-height: 25px;
    margin: 0 0 10px;
  }
}

@include breakpoint-for('.news-and-events-list', (to: laptop-small)) {
  .item:nth-child(n) {
    width: 33.33%;
  }

  .front & {
    .news {
      width: 50%;
    }
  }
}

@include breakpoint-for('.news-and-events-list', (to: tablet)) {
  .item:nth-child(n) {
    width: 50%;
  }
}

@include breakpoint-for('.news-and-events-list', (to: mobileL)) {
  .item:nth-child(n) {
    width: 100%;
  }

  .front & {
    .news:nth-child(n) {
      width: 100%;
    }
  }
}

.country-list,
.project-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  .country-item,
  .project-item {
    padding: 10px;
    width: 33.33%;
  }

  .country-content,
  .project-content {
    background: $white;
    box-shadow: 0 0 6px rgba($black, .1);
    height: 100%;
    padding: 30px 0 20px;
    position: relative;

    &:hover {
      box-shadow: 0 0 10px rgba($black, .2);
    }
  }

  .project-content {
    .summary {
      padding-top: 20px;
    }
  }

  .summary {
    @include font-size(15.4);
    color: $navy-dark;
    font-family: $fira;
    line-height: 21px;
  }

  .country-link,
  .project-link {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }

  a {
    text-decoration: none;
  }

  .project-bottom-link {
    @include font-size(14);
    color: $navy-dark;
    border-top: 1px solid #afb7bb;
    font-family: $oswald;
    letter-spacing: .5px;
    padding: 14px 20px 0;
    position: relative;
    width: 100%;
    z-index: 5;

    .font-social-icon:not(:last-child) {
      margin-bottom: 10px;
    }

    span {
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      transition: opacity .3s ease;
      white-space: nowrap;

      &:hover {
        opacity: .66;
      }

      &:after {
        content: none;
      }

      &:before {
        @include font-size(28);
        content: "j";
        color: $navy;
        display: inline-block;
        margin-right: 10px;
        padding-top: 2px;
        vertical-align: bottom;
      }
    }
  }

  .section-info {
    padding: 0 20px;

    .paragraph {
      overflow: hidden;
      padding: 5px 0;

      a {
        border-bottom: 2px solid transparent;
        display: inline-block;
        transition: border .3s ease;
        vertical-align: top;
        position: relative;
        z-index: 5;

        &:hover {
          border-color: $red;

          .icon-wrapper,
          h3 {
            opacity: .66;
          }
        }
      }
    }

    .icon-wrapper {
      float: left;
      height: 40px;
      margin-right: 10px;
      transition: opacity .3s ease;
      width: 26px;
    }

    path {
      fill: $navy;
    }

    h3 {
      @include font-size(14);
      font-weight: 400;
      letter-spacing: .5px;
      line-height: 20px;
      margin: 8px 0 0;
      transition: opacity .3s ease;
    }
  }
}

@include breakpoint-for('.country-list, .project-list, .members-list ul', (to: laptop-small)) {
  .country-item,
  .project-item,
  .member-block {
    width: 50%;
  }
}

@include breakpoint-for('.country-list, .project-list', (to: tablet)) {
  .country-item,
  .project-item {
    padding: 5px;
  }
}

@include breakpoint-for('.country-list, .project-list, .members-list ul', (to: mobileL)) {
  .country-item,
  .project-item,
  .member-block {
    padding-left: 0;
    padding-right: 0;
    width: 100%;

    .block-content {
      margin-left: 0;
      margin-right: 0;
    }
  }
}

.country-title,
.project-title {
  margin-bottom: 20px;
  overflow: hidden;
  padding: 0 20px;

  + div {
    min-height: 150px;
    margin-bottom: 5px;
  }

  .project-icon-wrapper {
    float: left;
    margin-right: 20px;
    max-width: 40px;
    padding-top: 5px;
    width: 100%;
  }

  .country-icon-wrapper {
    float: left;
    margin-right: 20px;
    width: 40px;
  }

  h3 {
    @include font-size(22.4);
    line-height: 32px;
    margin: 10px 0 5px;
    text-transform: uppercase;
  }
}

.view-list-of-projects {
  .title-wrapper {
    padding-bottom: 10px;
    text-align: center;

    h1 {
      padding-top: 0;

      .group & {
        @include font-size(42);
        line-height: 48px;
        padding-top: 30px;
      }
    }

    .line {
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.error-block {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  max-width: 300px;
  margin: 0 auto;

  .ie9 & {
    display: block;
    flex: none;
    margin-top: 100px;
  }

  .toolbar-horizontal & {
    height: calc(100vh - 41px);
  }

  .toolbar-tray-open & {
    height: calc(100vh - 81px);
  }

  .top-text-region {
    margin: 0;
    width: 100%;

    .title-wrapper {
      margin: 20px 0 10px;
      padding: 0;
    }

    h1 {
      @include font-size(70);
      line-height: 72px;
      margin: 0;
      padding: 0;
    }

    .summary-text p {
      @include font-size(14);
      color: $grey-dark;
      font-family: $fira;
      font-weight: 400;
      line-height: 20px;
      margin: 30px 0 20px;
    }
  }

  .read-more {
    @include font-size(16.8);
    border: none;
    color: $red;
    display: inline-block;
    font-family: $fira;
    font-weight: 700;
    padding: 0;
    transition: all .2s ease;
    vertical-align: top;
    width: 100%;

    &:hover {
      color: $red-dark;
      transform: scale(1.02);
      border: none;
    }
  }
}

.error-image-wrapper {
  @include same(200px, height, width);
  border-radius: 50%;
  overflow: hidden;

  .ie9 & {
    margin: 0 auto;
  }
}

.last-news-by-group {
  padding: 0 20px;

  .item {
    clear: both;

    a {
      border-bottom: 2px solid transparent;
      display: inline-block;
      min-height: 50px;
      padding: 5px 0;
      position: relative;
      transition: border .2s ease;
      vertical-align: top;
      z-index: 10;

      &:hover {
        border-color: $red;
      }
    }
  }

  .font-social-icon {
    @include font-size(28);
    color: $navy;
    float: left;
    margin-right: 10px;
    padding-top: 10px;
  }

  h3 {
    @include font-size(14);
    display: inline-block;
    font-weight: 400;
    line-height: 20px;
    margin: 8px 0 0;
    max-width: calc(100% - 38px);
    vertical-align: top;
  }
}

.follow-us {
  margin-top: 20px;
  text-align: center;

  h5 {
    @include font-size(14.4);
    color: $navy;
    margin: 0;
    transition: color .2s ease;

    &:hover {
      color: $red;
    }
  }

  .font-social-icon {
    @include same(40px, height, width);
    @include font-size(30);
    background: $white;
    border: 1px solid $navy-dark;
    border-radius: 50%;
    display: inline-block;
    line-height: 40px;
    margin: 20px 3px;
    overflow: hidden;
  }

  a {
    color: $navy-dark;
    display: block;
    text-decoration: none;
    transition: all .2s ease;

    &:hover {
      border-color: $navy;
      color: $navy;
    }
  }
}

.status-message {
  font-family: $oswald;
  padding: 10px;
  position: relative;
  text-align: center;
  z-index: 60;

  &.status {
    background: $navy-light;
  }

  &.error {
    background: #ffdede;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  li:not(:last-child) {
    margin-bottom: 5px;
  }

  em {
    font-style: normal;
  }

  a {
    color: $red-dark;
    transition: color .2s ease;

    &:hover {
      color: $red;
    }
  }
}
