.top-right-icon {
  text-align: center;
}

.bottom-link {
  margin: 30px 0 10px;
  text-align: center;

  .contact-us & {
    margin: 0 0 20px;
  }
}

@include breakpoint-for('.bottom-link', (to: laptop-small)) {
  margin-top: 0;
}

.red-btn-link {
  @include font-size(21);
  border: 1px solid transparent;
  color: $red;
  display: inline-block;
  font-family: $oswald;
  font-weight: 400;
  margin: 30px 0 10px;
  padding: 20px 40px;
  text-align: center;
  text-decoration: none;
  transition: border .3s ease;

  .contact-us & {
    @include font-size(21);
    margin: 0;
    padding: 20px 40px;
    transition: border .3s ease;

    &:hover {
      color: $red;
    }
  }

  &:hover {
    border-color: $red;
  }

  &:after {
    @include font-size(29.4);
    margin-left: 4px;
  }
}

@include breakpoint-for('.red-btn-link', (to: laptop-small)) {
  @include font-size(16.8);
  margin-top: 0;
  padding-left: 30px;
  padding-right: 30px;
}

.read-more {
  @include font-size(14);
  border: 1px solid transparent;
  color: $red;
  display: inline-block;
  font-family: $oswald;
  margin: 10px 0;
  padding: 15px 40px;
  text-decoration: none;
  transition: border .3s ease;

  &:hover {
    border-color: $red;
  }
}

.show-more {
  @include font-size(15.4);
  cursor: pointer;
}

.accordion-button {
  @include font-size(15.4);
  background: $white;
  border: 1px solid #75a8c0;
  border-radius: 2px;
  color: $navy-dark;
  cursor: pointer;
  font-family: $fira;
  font-weight: 700;
  height: 50px;
  padding: 15px 50px 0 10px;
  position: relative;
  text-align: center;
  transition: box-shadow .2s ease;
  
  .view-my-projects & {
    text-align: left;
  }

  &:after {
    @include font-size(28);
    content: "´";
    color: $red;
    font-family: $p4h;
    position: absolute;
    top: 15px;
    right: 10px;
    transition: transform .2s ease;
  }

  &:hover {
    box-shadow: 0 0 6px rgba($navy-dark, .38);

    &:after {
      transform: rotate(45deg);
    }
  }

  &.closed {
    &:after {
      transform: none;
    }
  }

  .text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.color-switcher {
  @include font-size(16);
  color: $white;
  cursor: pointer;
  font-family: $oswald;
  font-weight: 300;
  letter-spacing: 1px;
  padding: 9px 15px;
  position: absolute;
  bottom: 15px;
  right: 0;
  transition: color .3s ease;

  &:hover {
    color: $red;
  }
}
