.view-news-and-events,
.view-my-projects,
.view-contacts,
.view-knowledge-vault {
  .title-wrapper {
    padding-bottom: 10px;
    text-align: center;

    h1 {
      padding-top: 0;

      .group-region:not(.page-group-news-and-event) & {
        @include font-size(42);
        line-height: 48px;
      }
    }

    .line {
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .front & {
    .title-wrapper {
      background: $white-dark;
      margin-top: -72px;
      padding: 10px 20px 0;
      text-align: left;
      width: 180px;
      z-index: 100;

      h1 {
        @include font-size(22.4);
        font-weight: 400;
        line-height: 20px;
        padding: 10px 0 15px;
        text-transform: uppercase;
      }

      .line {
        left: 0;
        transform: none;
      }
    }
  }

  > h2 {
    @include font-size(25.2);
    line-height: 48px;
    margin-bottom: 15px;
    text-align: center;
  }

  form {
    max-width: 100%;
  }

  .wrapper-filters {
    display: flex;
    justify-content: center;

    .ie9 & {
      display: block;
      flex: none;
      overflow: hidden;

      > div {
        float: left;
        max-width: calc(20% - 20px);
      }
    }

    .ie10 & {
      > div {
        max-width: calc(20% - 20px);
      }
    }

    > div {
      margin-left: 10px;
      margin-right: 10px;
      max-width: 20%;
      width: 100%;
    }
  }

  fieldset {
    display: none;
    margin: 0;
  }

  .fieldset-wrapper {
    background: $white;
    box-shadow: 0 0 6px rgba($black, .09);
    margin: 0 10px 10px;
    padding: 30px 30px;
  }

  .form-checkboxes {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    width: 100%;

    .form-item {
      padding: 0 10px 30px;
      width: 16.6%;

      .ie9 & {
        display: inline-block;
        margin-left: -4px;
        vertical-align: top;
      }
    }

    .form-checkbox {
      float: left;
      margin: 3px 8px 0 0;
    }

    label {
      @include font-size(15.4);
      float: left;
      font-family: $fira;
      letter-spacing: normal;
      margin-bottom: 0;
      width: calc(100% - 25px);
    }
  }
}

.view-contacts {
  .wrapper-filters {
    > div {
      max-width: 25%;

      .ie10 & {
        max-width: calc(25% - 20px);
      }

      .ie9 & {
        max-width: calc(25% - 25px);
      }
    }
  }
}

.view-article {
  .title-wrapper {
    text-align: center;

    a {
      transition: opacity .3s ease;
      text-decoration: none;

      &:hover {
        opacity: .66;
      }
    }

    .line {
      left: 50%;
      transform: translateX(-50%);
    }
  }

  form {
    overflow: hidden;
    margin-bottom: 30px;
  }

  .js-form-type-select {
    display: none;
  }

  .filter-label {
    &.tags_by_group {
      @include font-size(25.2);
      font-weight: 700;
      line-height: 64px;
      margin: 0 0 10px;
      text-align: center;
    }

    &.field_type_target_id {
      @include font-size(15.4);
      font-family: $fira;
      font-weight: 700;
      float: left;
      line-height: 18px;
      margin: 10px 10px 15px 0;
    }
  }

  .tags-by-group {
    background: $white;
    margin-bottom: 40px;
    overflow: hidden;
    padding: 20px 171px;

    li {
      float: left;
      margin-right: 5px;
    }

    @for $i from 1 through 5 {
      .level#{$i} {
        font-size: 20px + $i;
      }
    }

    .level1 {
      @include font-size(12.6);
    }

    .level2 {
      @include font-size(18.2);
    }

    .level3 {
      @include font-size(22.4);
    }

    .level4 {
      @include font-size(28);
    }

    .level5 {
      @include font-size(42);
    }

    a {
      color: $navy;
      display: inline-block;
      font-family: $fira;
      line-height: 27px;
      text-decoration: none;
      vertical-align: top;

      &:hover {
        color: $red;
      }
    }
  }

  .wrapper-field-type-target-id {
    float: left;
    width: 66.64%;
  }

  .search-form-wrapper {
    float: left;
    width: 33.33%;
  }

  .field-type-target-id {
    @include font-size(15.4);
    font-family: $fira;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      margin: 10px 10px 15px 0;
      vertical-align: top;
    }

    a {
      text-decoration: none;

      &:hover {
        color: $red;
      }
    }

    .active {
      color: $red;
      font-weight: 700;
      text-decoration: underline;
    }
  }
}

.search-form-wrapper {
  position: relative;

  .form-text {
    border-color: rgba($navy-dark, .32);
    padding-right: 60px;

    &:focus {
      border-color: rgba(#3898EC, .32);
    }
  }

  .form-submit {
    background: url(../images/magnifying-glass.svg) center no-repeat;
    background-size: 20px 20px;
    border: none;
    height: 50px;
    padding: 0;
    position: absolute;
    top: 0;
    right: 0;
    text-indent: -9999px;
    transition: transform .1s ease;
    width: 60px;

    &:hover {
      border: none;
      transform: scale(1.2);
    }
  }
}

.block-facet--checkbox,
.block-facet--datebasic {
  margin-bottom: 20px;

  h2 {
    @include font-size(14);
    cursor: pointer;
    font-weight: 400;
    letter-spacing: .5px;
    line-height: 25px;
    margin: 0 0 10px;

    &:hover {
      opacity: .79;
    }
  }

  > ul {
    background: $white;
    box-shadow: 0 0 6px rgba($black, .09);
    display: none;
    margin: 0;
    padding: 30px 20px;
  }

  li {
    margin-bottom: 15px;
  }

  a {
    text-decoration: none;
  }

  [type="checkbox"] {
    appearance: checkbox;
    margin-right: 4px;
  }

  label {
    @include font-size(15.4);
    font-family: $fira;
  }

  .facet-item__count {
    color: $navy;
  }
}

.reset-filters {
  margin-top: 50px;

  ul {
    margin: 0;
    padding: 0;
  }

  a {
    @extend .form-submit;
    background: transparent;
    display: inline-block;
    font-family: $oswald;
    text-decoration: none;
    vertical-align: top;
  }
}

@include breakpoint-for('.view-news-and-events, .view-my-projects, .view-contacts', (to: laptop-small)) {
  .wrapper-filters {
    flex-wrap: wrap;
    justify-content: flex-start;

    > div {
      max-width: calc(33.33% - 20px);
      margin-bottom: 20px;
    }

    .ie10 &,
    .ie9 & {
      > div {
        max-width: calc(33.33% - 20px);
      }
    }
  }

  .form-checkboxes {
    .form-item {
      width: 33.33%;
    }
  }
}

@include breakpoint-for('.view-news-and-events, .view-my-projects, .view-contacts', (to: tablet)) {
  .wrapper-filters {
    > div {
      max-width: calc(50% - 20px);
    }

    .ie10 &,
    .ie9 & {
      > div {
        max-width: calc(50% - 20px);
      }
    }
  }

  .front & {
    .title-wrapper {
      margin: -40px 0 3px -20px;
    }
  }

  .form-checkboxes {
    .form-item {
      width: 50%;
    }
  }
}

@include breakpoint-for('.view-news-and-events, .view-my-projects, .view-contacts', (to: mobileL)) {
  .wrapper-filters {
    > div {
      max-width: 100%;
      margin-left: 0;
      margin-right: 0;
    }

    .ie10 &,
    .ie9 & {
      > div {
        max-width: 100%;
      }
    }
  }

  .form-checkboxes {
    .form-item {
      width: 100%;
    }
  }
}

.view-my-projects,
.view-knowledge-vault {
  .wrapper-filters {
    > div {
      max-width: 30%;
    }
  }
}

.view-knowledge-vault {
  &:not(.with-filters) {
    form {
      max-width: 40%;
    }
  }
}

@include breakpoint-for('.view-my-projects, .view-knowledge-vault', (to: laptop-small)) {
  .wrapper-filters {
    flex-wrap: wrap;
    justify-content: center;

    > div {
      max-width: calc(40% - 20px);
    }
  }
}

@include breakpoint-for('.view-knowledge-vault', (to: laptop-small)) {
  &:not(.with-filters) {
    form {
      max-width: 60%;
    }
  }
}

@include breakpoint-for('.view-my-projects, .view-knowledge-vault', (to: tablet)) {
  .wrapper-filters {
    > div {
      max-width: calc(50% - 20px);
    }
  }
}

@include breakpoint-for('.view-knowledge-vault', (to: tablet)) {
  &:not(.with-filters) {
    form {
      max-width: 80%;
    }
  }
}

@include breakpoint-for('.view-my-projects, .view-knowledge-vault', (to: mobileL)) {
  .wrapper-filters {
    > div {
      margin-left: 0;
      margin-right: 0;
      max-width: 100%;
    }
  }
}

@include breakpoint-for('.view-knowledge-vault', (to: mobileL)) {
  &:not(.with-filters) {
    form {
      max-width: 100%;
    }
  }
}

.view-country {
  margin-top: 40px;

  > h2 {
    @include font-size(25.2);
    line-height: 48px;
    margin-bottom: 15px;
    position: relative;
    text-align: center;

    a {
      @include font-size(15.4);
      line-height: 18px;
      position: absolute;
      top: 17px;
      right: 0;
      text-decoration: none;

      &:before {
        content: "q";
        color: $red;
        font-family: $p4h;
        margin-right: 4px;
      }

      &:hover {
        &:before {
          color: $red-dark;
        }
      }
    }
  }

  .group-region & {
    margin-top: 0;

    .title-wrapper {
      padding-bottom: 10px;
      text-align: center;

      h1 {
        @include font-size(67.2);
        line-height: 78px;
        padding-top: 30px;
      }

      .line {
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }

  .js-form-type-textfield {
    background: $white;
    overflow: hidden;
    margin-bottom: 20px;
    padding: 20px;

    label {
      @include font-size(22.4);
      float: left;
      line-height: 31px;
      margin-top: 10px;
      width: 33.33%;
    }

    .form-text {
      @include font-size(23.52);
      border-color: rgba($navy-dark, .32);
      float: left;
      font-weight: 300;
      margin-top: 20px;
      padding-left: 20px;
      width: 45.5%;
    }
  }
}

@include breakpoint-for('.view-country', (to: laptop-small)) {
  .js-form-type-textfield {
    margin-bottom: 0;

    label,
    .form-text {
      float: none;
      width: 100%;
    }

    .form-text {
      margin: 0;
    }
  }
}

@include breakpoint-for('.view-country', (to: tablet)) {
  .js-form-type-textfield {
    label {
      text-align: center;
    }
  }
}

.empty-result {
  @include font-size(20);
  background: #ffdede;
  font-family: $oswald;
  margin: 30px auto;
  padding: 15px 0;
  text-align: center;

  p {
    margin: 0;
  }
}

.view-country,
.view-contacts {
  div[id^='edit-combine'],
  div[id^='edit-user-name-alf'] {
    padding: 20px 0 28px;
    text-align: center;

    ul {
      margin: 0;
      padding: 0;
    }

    li {
      @include same(50px, height, width);
      background: $white;
      display: inline-block;
      margin: 0 1px 2px;
      text-align: center;
      vertical-align: top;

      &:hover {
        background: #ffe9e9;
      }
    }

    .form-radio:checked {
      ~ label {
        border-bottom: 2px solid $red;
      }
    }

    .form-radio {
      display: none;
    }

    label {
      @include font-size(14);
      color: $red;
      display: inline-block;
      height: 50px;
      line-height: 50px;
      margin: 0;
      vertical-align: top;
      width: 100%;
    }
  }
}
