.view-news-and-events {
  .title-wrapper {
    padding-bottom: 10px;
    text-align: center;

    h1 {
      padding-top: 0;

      .group & {
        @include font-size(42);
        line-height: 48px;
        padding-top: 30px;
      }
    }

    .line {
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .front & {
    .title-wrapper {
      background: $white-dark;
      margin-top: -72px;
      padding: 10px 20px 0;
      text-align: left;
      width: 180px;
      z-index: 100;

      h1 {
        @include font-size(22.4);
        font-weight: 400;
        line-height: 20px;
        padding: 10px 0 15px;
        text-transform: uppercase;
      }

      .line {
        left: 0;
        transform: none;
      }
    }
  }

  > h2 {
    @include font-size(25.2);
    line-height: 48px;
    margin-bottom: 15px;
    text-align: center;
  }

  .wrapper-filters {
    display: flex;
    justify-content: center;

    .ie9 & {
      display: block;
      flex: none;
      overflow: hidden;

      > div {
        float: left;
        max-width: calc(20% - 20px);
      }
    }

    > div {
      margin-left: 10px;
      margin-right: 10px;
      max-width: 20%;
      width: 100%;
    }
  }

  fieldset {
    display: none;
    margin: 0;
  }

  .fieldset-wrapper {
    background: $white;
    box-shadow: 0 0 6px rgba($black, .09);
    margin: 0 10px 10px;
    padding: 30px 30px;
  }

  .form-checkboxes {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    width: 100%;

    .form-item {
      padding: 0 10px 30px;
      width: 16.6%;

      .ie9 & {
        display: inline-block;
        margin-left: -4px;
        vertical-align: top;
      }
    }

    .form-checkbox {
      float: left;
      margin-right: 8px;
    }

    label {
      @include font-size(15.4);
      float: left;
      font-family: $fira;
      letter-spacing: normal;
      margin-bottom: 0;
      width: calc(100% - 25px);
    }
  }
}

@include breakpoint-for('.view-news-and-events', (to: laptop-small)) {
  .wrapper-filters {
    flex-wrap: wrap;
    justify-content: flex-start;

    > div {
      max-width: calc(33.33% - 20px);
      margin-bottom: 20px;
    }
  }

  .form-checkboxes {
    .form-item {
      width: 33.33%;
    }
  }
}

@include breakpoint-for('.view-news-and-events', (to: tablet)) {
  .wrapper-filters {
    > div {
      max-width: calc(50% - 20px);
    }
  }

  .front & {
    .title-wrapper {
      margin: -40px 0 3px -20px;
    }
  }

  .form-checkboxes {
    .form-item {
      width: 50%;
    }
  }
}

@include breakpoint-for('.view-news-and-events', (to: mobileL)) {
  .wrapper-filters {
    > div {
      max-width: 100%;
      margin-left: 0;
      margin-right: 0;
    }
  }

  .form-checkboxes {
    .form-item {
      width: 100%;
    }
  }
}

.view-country {
  margin-top: 40px;

  .js-form-type-textfield {
    background: $white;
    overflow: hidden;
    margin-bottom: 20px;
    padding: 20px;

    label {
      @include font-size(22.4);
      float: left;
      line-height: 31px;
      margin-top: 10px;
      width: 33.33%;
    }

    .form-text {
      @include font-size(23.52);
      border-color: rgba($navy-dark, .32);
      float: left;
      font-weight: 300;
      margin-top: 20px;
      padding-left: 20px;
      width: 45.5%;
    }
  }

  div[id^='edit-combine'] {
    padding: 20px 0 28px;
    text-align: center;

    ul {
      margin: 0;
      padding: 0;
    }

    li {
      @include same(50px, height, width);
      background: $white;
      display: inline-block;
      margin: 0 1px 2px;
      text-align: center;
      vertical-align: top;

      &:hover {
        background: #ffe9e9;
      }
    }

    .form-radio:checked {
      ~ label {
        border-bottom: 2px solid $red;
      }
    }

    .form-radio {
      display: none;
    }

    label {
      @include font-size(14);
      color: $red;
      display: inline-block;
      height: 50px;
      line-height: 50px;
      margin: 0;
      vertical-align: top;
      width: 100%;
    }
  }
}

@include breakpoint-for('.view-country', (to: laptop-small)) {
  .js-form-type-textfield {
    margin-bottom: 0;

    label,
    .form-text {
      float: none;
      width: 100%;
    }

    .form-text {
      margin: 0;
    }
  }
}

@include breakpoint-for('.view-country', (to: tablet)) {
  .js-form-type-textfield {
    label {
      text-align: center;
    }
  }
}

.empty-result {
  @include font-size(20);
  background: #ffdede;
  font-family: $oswald;
  margin: 30px auto;
  padding: 15px 0;
  text-align: center;

  p {
    margin: 0;
  }
}
