.banner-wrapper {
  clear: both;
}

.fullcontent-image {
  margin-bottom: 50px;
  position: relative;
}

.image-text {
  @extend .corners;
  @include font-size(16.8);
  background: rgba($black, .42);
  color: $white-with-rose-shade;
  font-family: $oswald;
  font-weight: 300;
  line-height: 25px;
  padding: 20px 47px 25px;
  position: absolute;
  left: 54px;
  bottom: 50px;
  text-align: left;
  width: 50%;
}
