// Logged user
// Replace last link with search icon
.logged {
  .dashboard-menu {

    > div > ul > li:not(.expanded):last-child a { // FUCK!!!
      font-size: 0;
      position: relative;

      &::after {
        @include font-size(28);
        content: 't';
        color: $navy;
        text-transform: none;
        left: 50%;
        transform: translateX(-50%);
      }

      &::before {
        display: none;
      }
    }
  }
}

.main-menu {
  @include font-size(0);
  text-align: center;
  font-family: $oswald;

  > div {
    display: inline-block;
    transition: padding .3s ease;
  }

  // List links
  li {
    display: inline-block;
    vertical-align: top;

    // Not logged user
    // Orange link with arrow
    &:last-child {
      a {
        color: $red;

        &::after {
          @include font-size(19.6);
          content: 'T';
          font-family: $p4h;
          margin-left: 4px;
          position: absolute;
        }
      }
    }
  }

  // Single link
  a {
    @include font-size(14);
    color: $navy-dark;
    display: block;
    font-weight: 400;
    padding: 28px 25px 15px;
    text-transform: uppercase;
    text-decoration: none;
    transition: opacity .2s ease, color .2s ease, padding .3s ease;
    cursor: pointer;

    &.is-active {
      position: relative;

      &::before {
        content: ' ';
        height: 2px;
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        background: $red;
      }
    }

    // Static header
    .header-static & {
      &:hover {
        background: rgba($navy, .08);
        opacity: .7;
      }
    }
    // Fixed header
    .header-fixed & {
      padding: 20px 30px;
      color: $white;
      font-weight: 200;

      &:hover {
        color: rgba($white, .56);
      }
    }

    // ----------------------------------------
    // Logged user
    // Links style update
    .logged & {
      @include font-size(12.6);
      color: $navy-dark;
      font-weight: 400;
    }

    // Static header
    .logged .header-static & {
      &:hover {
        background: transparent;
      }
    }

    // Fixed header
    .logged .header-fixed & {
      color: $navy-dark;
      font-weight: 400;

      &:hover {
        background: transparent;
        color: $navy-dark;
        opacity: .7;
      }
    }
  }

  .expanded > a {
    position: relative;

    &::before {
      display: none;
    }

    &:hover {
      color: $red;
      opacity: 1;
    }

    .header-fixed & {
      &:hover {
        color: $red;
        opacity: 1;
      }
    }

    &::after {
      content: '';
      height: 0;
      width: 0;
      border: 8px solid transparent;
      border-top: 10px solid $red;
      position: absolute;
      right: 20px;
      top: 50%;
      margin-top: -4px;

      .header-fixed & {
        margin-top: 5px;
      }

      @include media-q(min, 1200) {
        border: 4px solid transparent;
        border-top: 6px solid $red;
        margin-top: 3px;
        right: 0;

      }

      @include media-q(min, 1280) {
        right: 5px;
      }

      @include media-q(min, 1600) {
        right: 10px;
      }
      .header-fixed & {
        margin-top: -3px;
      }

    }
  }

  .display-second-menu > a {
    color: $red;

    .header-fixed & {
      color: $red;
    }

    &::after {
      border-top: 0;
      border-bottom: 8px solid $red;

      @include media-q(min, 1200) {
        border-bottom: 6px solid $red;
      }
    }
  }

}

// Second level menu for fixed header
.header-fixed .main-menu .submenu a {
  @include media-q(min, 1201) {
    @include font-size(16.8);
    padding: 15px 30px;
  }
}

// Need to remove relative position in case of
// first menu level only, because second level menu is not 100% width
// for an admin only
.toolbar-fixed #block-headerdashboardmenu {
  position: static;
}

.submenu {
  width: 100%;
  background: $grey-medium;
  text-align: left;
  transition: transform .3s ease;
  z-index: -1;

  @include media-q(max, 1200) {
    max-height: 0;
    overflow: hidden;

    .display-second-menu & {
      max-height: 1000px;
    }
  }

  li:last-child a::after {
    display: none;
  }

  @include media-q(min, 1201) {
    visibility: hidden;
    opacity: 0;
    text-align: center;
    max-height: none;
    bottom: 0;
    left: 0;
    position: absolute;
    transform: translateY(-100%);

    .h-with-anchors & {
      z-index: 1;
      top: 100%;
      transition: none;
      transform: none;

      li a {
        @include font-size(12.6);
        padding: 10px 15px;
      }
    }

    .h-with-anchors:not(.header-fixed) & {
      transition: none;
      transform: none;
      bottom: auto;
      z-index: 1;
    }
  }

  .submenu-col {
    text-align: left;

    @include media-q(min, 1201) {
      text-align: center;
    }

    li {
      position: relative;
    }

    li a {
      font-weight: 400 !important;
      text-transform: none !important;
    }

    a {
      max-width: none;
      padding-left: 50px;

      &::before {
        display: none;
      }

      @include media-q(min, 1201) {
        max-width: 250px;
        padding-left: 15px;
      }
    }
  }

  ul {
    a {
      padding: 9px 15px;
      height: auto;
    }
  }

  .display-second-menu & {
    @include media-q(min, 1200) {
      visibility: visible;
      opacity: 1;
      transform: translateY(100%);
      transition: transform .3s ease;

      .has-anchors &,
      .h-with-anchors.header-fixed &,
      .h-with-anchors.header-static & {
        z-index: 1;
        top: calc(100% - 39px);
        transition: none;
        transform: none;
        bottom: auto;
      }

      .h-with-anchors.header-fixed & {
        top: calc(100% - 50px);
      }

      .toolbar-fixed .header-fixed & {
        top: 100%;
        bottom: auto;
        transform: none;
      }
    }
  }
}

@include breakpoint-for('.collapsed', (to: tablet)) {
  ~ .dashboard-sidebar {
    .toolbar-fixed & {
      padding-top: 156px;
    }
  }
}

@include media-q(min, 1201) {
  .logged {
    .main-menu {
      a {
        padding-left: 15px;
        padding-right: 15px;
      }
    }
  }

  .header-static {
    .logged & {
      .main-menu {
        > div {
          padding-left: 30px;
        }
      }
    }
  }
}

@include media-q(min, 1366) {
  .header-static {
    .logged & {
      .main-menu {
        > div {
          padding-left: 0;
        }
      }
    }
  }
}

@include media-q(min, 1600) {
  .logged {
    .main-menu {
      a {
        padding-left: 20px;
        padding-right: 20px;
      }
    }
  }
}

//@include breakpoint-for('.header-static ', (to: 1281px)) {
//  .logged & {
//    .main-menu {
//      > div {
//        padding-left: 30px;
//      }
//
//      a {
//        padding-left: 20px;
//        padding-right: 20px;
//      }
//    }
//  }
//}

@media screen and (max-width: 1280px) {
  .header-static {
    .logged & {
      .main-menu {
        > div {
          padding-left: 175px;
        }
      }
    }
  }

  .header-fixed {
    .logged & {
      .main-menu {
        > div {
          padding-left: 60px;
        }

        a {
          padding-left: 15px;
          padding-right: 15px;
        }
      }
    }
  }
}

@include breakpoint-for('.header-static, .header-fixed', (to: 1200px)) {
  .main-menu {
    text-align: left;

    > div {
      display: block;
    }
    li {
      display: block;

      &.active {
        a {
          border: none;
          border-left: 3px solid $red;

          &::before {
            display: none;
          }
        }
      }
    }

    a {
      @include font-size(18.2);
      color: $navy-dark;
    }

  }

  .logged & {
    .main-menu {
      text-align: left;

      > div {
        display: block;
        padding-left: 0;
      }

      li {
        display: block;

        &.active {
          a {
            border: none;
            border-left: 3px solid $red;
          }
        }
      }

      a {
        @include font-size(18.2);
        color: $navy-dark;
        height: auto;
        padding: 30px;

        &:hover {
          background: $white-dark;
          color: $red;
          opacity: 1;
        }
      }

    }
  }
}

// ----------------------------------------------------------------------------
// Second level menu

// Anchors menu
.submenu,
.anchor-links {
  ul {
    height: 100%;
    -webkit-overflow-scrolling: touch;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
  }

  li {
    display: inline-block;
    height: 100%;
    transition: border .4s ease;
    vertical-align: top;

    .group-country & {
      &:first-child {
        a {
          font-weight: 700;
          text-transform: uppercase;

          &:before {
            @include font-size(16.8);
            content: 'f';
            font-family: P4h, sans-serif;
            text-transform: none;
            line-height: 1.2;
          }
        }
      }
    }

    .group-project &,
    .group-project_protected &,
    .group-region &,
    .group-region_protected &,
    .group-governance_area &,
    .group-product & {
      &:first-child {
        a {
          font-weight: 700;
          text-transform: uppercase;
        }
      }
    }
  }


  a {
    @include font-size(12.6);
    color: $red;
    display: block;
    border-bottom: 0;
    font-family: $oswald;
    font-weight: 400;
    height: 100%;
    letter-spacing: .5px;
    padding: 9px 15px;
    text-decoration: none;
    transition: color .3s ease, padding .3s ease;
    vertical-align: middle;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 250px;

    .header-fixed & {
      @include font-size(16.8);
      padding: 15px 30px;
      text-transform: none;
    }

    &::after {
      //display: none;
    }

    &:hover {
      background: transparent;
      color: $navy;
    }
  }

  .active a {
    position: relative;

    &::after {
      content: ' ';
      height: 2px;
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      background: $red;
    }
  }
}

.group-country {
  .anchor-links {
    li:first-child a {
      line-height: 1;
    }
  }
}

// Fix of menu width for users who has
// Contextual links
@include media-q(min, 1200) {
  .header-fixed {
    .contextual-region {
      .submenu {
        margin: 0 -50%;
        width: 200%;
      }
    }
  }
}

.toolbar-item {
  &.unmasquerade-link {
    display: none;
  }
}

.about-menu {
  line-height: 1.2;
}
