.main-menu {
  text-align: center;

  > div {
    display: inline-block;
  }

  ul:not(.contextual-links) {
    li {
      display: inline-block;
      vertical-align: top;

      &:last-child {
        a {
          color: $red;

          &:after {
            @include font-size(19.6);
            content: 'T';
            font-family: $p4h;
            margin-left: 4px;
          }
        }
      }
    }

    .header-static & {
      @include font-size(0);

      .active {
        a {
          border-bottom: 2px solid $red;
        }
      }
    }

    a {
      @include font-size(14);
      color: $navy-dark;
      display: block;
      font-family: $oswald;
      font-weight: 400;
      height: 63px;
      padding: 25px 30px 15px;
      text-transform: uppercase;
      text-decoration: none;
      transition: opacity .2s ease, color .2s ease;

      .header-static & {
        &:hover {
          background: rgba($navy, .08);
          opacity: .7;
        }
      }

      .header-fixed & {
        &:hover {
          color: rgba($white, .56);
        }
      }
    }
  }
}

.anchor-links {
  text-align: center;

  a {
    @include font-size(16.8);
    font-family: $oswald;
    font-weight: 400;
    color: $red;
    letter-spacing: .5px;
    padding: 15px 30px;
    text-decoration: none;
    transition: color .3s ease;

    &:hover {
      color: $navy;
    }
  }
}
