.main-menu {
  text-align: center;

  > div {
    display: inline-block;
    transition: padding .3s ease;
  }

  ul:not(.contextual-links) {
    li {
      display: inline-block;
      vertical-align: top;

      &:last-child {
        a {
          color: $red;
          line-height: 12px;

          &:after {
            @include font-size(19.6);
            content: 'T';
            font-family: $p4h;
            margin-left: 4px;
          }
        }
      }
    }

    .header-static & {
      @include font-size(0);

      .active {
        a {
          border-bottom: 2px solid $red;
        }
      }
    }

    a {
      @include font-size(14);
      color: $navy-dark;
      display: block;
      font-family: $oswald;
      font-weight: 400;
      height: 63px;
      padding: 25px 30px 15px;
      text-transform: uppercase;
      text-decoration: none;
      transition: opacity .2s ease, color .2s ease, padding .3s ease;

      .header-static & {
        &:hover {
          background: rgba($navy, .08);
          opacity: .7;
        }
      }

      .header-fixed & {
        &:hover {
          color: rgba($white, .56);
        }
      }
    }
  }
}

.dashboard-menu {
  ul:not(.contextual-links) {
    li {
      &:last-child {
        a {
          text-indent: -9999px;

          &:after {
            @include font-size(28);
            content: 't';
            color: $navy;
            display: block;
            line-height: 0;
            text-indent: 0;
            text-transform: none;
          }
        }
      }

      a {
        @include font-size(12.6);
        color: $navy-dark;
        font-weight: 400;

        .header-fixed & {
          &:hover {
            color: $navy-dark;
            opacity: .7;
          }
        }

        .header-static & {
          &:hover {
            background: none;
          }
        }
      }
    }
  }
}

.collapsed {
  ~ .dashboard-sidebar {
    padding-top: 0;

    .mobile & {
      padding-top: 0;
    }

    .toolbar-fixed & {
      padding-top: 39px;
    }

    .toolbar-vertical:not(.toolbar-fixed) & {
      padding-top: 117px;
    }

    .toolbar-tray-open & {
      padding-top: 79px;
    }
  }
}

@include breakpoint-for('.collapsed', (to: tablet)) {
  ~ .dashboard-sidebar {
    .toolbar-fixed & {
      padding-top: 156px;
    }
  }
}

.dashboard-sidebar {
  background: $navy-dark;
  height: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  padding: 46px 0 80px;
  position: fixed;
  top: 0;
  left: 0;
  transition: padding .3s ease;
  width: 80px;
  z-index: 400;

  .toolbar-fixed & {
    padding-top: 85px;
  }

  .toolbar-tray-open & {
    padding-top: 125px;
  }

  .mobile.toolbar-horizontal & {
    padding-top: 85px;
  }

  .logo-wrapper {
    a {
      background: $white;
      border-bottom: 2px solid $red;
      display: block;
      height: 150px;
      margin-bottom: 30px;
      padding: 35px 10px 0;
    }
  }

  .ie & {
    .dashboard-logo {
      &.small {
        img {
          height: 49px !important;
        }
      }

      &.big {
        img {
          height: 94px !important;
        }
      }
    }
  }

  .dashboard-logo {
    display: block;

    &.big {
      display: none;
    }
  }

  ul {
    margin: 0;
    padding: 0;
  }

  ul:not(.contextual-links) li {
    @include font-size(12);
    font-family: $fira;
    font-style: italic;
    font-weight: 300;
    display: block;

    &:not(:last-child) {
      a {
        @include font-size(0);
        font-style: normal;
        line-height: 0;
      }
    }
  }

  a.notification-icon {
    position: relative;

    &:after {
      content: "";
      position: absolute;
      top: 36px;
      left: 39px;
      display: block;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: #EA3A32;
    }
  }

  .sidebar-menu {
    .ie & {
      margin-bottom: 74px;
    }

    .contextual-links {
      max-width: 70px;

      a {
        line-height: 1.2;
        white-space: normal;
      }
    }

    ul:not(.contextual-links) {
      a {
        color: $white;
        display: block;
        min-height: 70px;
        padding: 26px 0 20px 15px;
        text-decoration: none;
        transition: background .4s ease;

        &:before {
          @include font-size(32);
          display: inline-block;
          font-family: $p4h;
          line-height: 20px;
          margin-right: 15px;
          position: relative;
          top: -4px;
          vertical-align: top;
        }

        &:hover {
          background: #345a6d;
        }
      }

      .active {
        a {
          background: $white;
          color: $navy;
          font-weight: 400;

          &:before {
            color: $red;
          }
        }
      }
    }

    .sign-out {
      word-break: break-all;
    }

    .language-switcher-wrapper {
      .links {
        li {
          display: inline-block;
          vertical-align: top;
          width: 50%;

          &:last-child {
            a {
              padding-left: 10px;
              padding-right: 14px;
            }
          }

          a {
            @include font-size(14);
            font-style: italic;
            line-height: 1.2;
            padding-right: 9px;
            text-align: center;
          }
        }
      }
    }
  }

  .account {
    &:before {
      content: 'a';
    }
  }

  .news {
    &:before {
      content: 's';
    }
  }

  .notifications {
    &:before {
      content: 'm';
    }
  }

  .calendar {
    &:before {
      content: 'x';
    }
  }

  .folder {
    &:before {
      content: 'i';
    }
  }

  .contacts {
    &:before {
      content: 'n';
    }
  }

  .countries {
    &:before {
      content: 'j';
    }
  }

  .expand-menu-btn {
    @include font-size(25.6);
    background: $navy;
    color: $white;
    cursor: pointer;
    padding: 26px 0;
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
    transition: background .4s ease;
    width: 80px;

    &:hover {
      background: #345a6d;
    }
  }

  &.expanded-menu {
    box-shadow: 0 1px 3px rgba($black, 0.25);
    width: 220px;

    .contextual-links {
      max-width: 100%;

      a {
        line-height: .8em;
      }
    }

    .logo-wrapper {
      a {
        padding: 20px 10px 0 20px;
      }
    }

    .dashboard-logo {
      &.small {
        display: none;
      }

      &.big {
        display: block;
      }
    }

    ul:not(.contextual-links) {
      li {
        a {
          @include font-size(14);
          line-height: 20px;
        }

        .sign-out {
          @include font-size(12);
        }
      }
    }

    .expand-menu-btn {
      transform: rotate(180deg);
      width: 220px;
    }
  }
}

@include breakpoint-for('.dashboard-sidebar', (to: laptop-small)) {
  .logo-wrapper {
    a {
      height: 107px;
    }
  }
}

@include breakpoint-for('.dashboard-sidebar', (to: tablet)) {
  padding-top: 60px;
  left: auto;
  right: -75%;
  transition: transform .4s ease;
  z-index: 350;
  width: 75%;

  &.expanded-menu {
    transform: translateX(-100%);
    width: 75%;
  }

  .toolbar-vertical & {
    padding-top: 156px;
  }

  .toolbar-vertical:not(.toolbar-fixed) & {
    padding-top: 156px;
  }

  .logged:not(.toolbar-vertical) & {
    padding-top: 0;
    top: 60px;
  }

  .logo-wrapper,
  .expand-menu-btn {
    display: none;
  }

  a.notification-icon {
    &:after {
      top: 44px;
      left: 56px;
    }
  }

  .sidebar-menu {
    li:nth-child(n) {
      a {
        @include font-size(16.8);
        letter-spacing: .5px;
        line-height: 20px;
        padding: 30px;

        &:before {
          @include font-size(35);
          position: static;
        }
      }
    }

    .language-switcher-wrapper {
      .links {
        li,
        li:last-child {
          width: auto;

          a {
            padding: 30px;
            text-align: left;
          }
        }
      }
    }
  }
}

@include breakpoint-for('.dashboard-sidebar', (to: mobileL)) {
  right: -100%;
  width: 100%;

  &.expanded-menu {
    width: 100%;
  }
}

@include breakpoint-for('.header-static, .header-fixed', (to: desktop)) {
  .logged & {
    .main-menu {
      > div {
        padding-left: 30px;
      }

      ul:not(.contextual-links) {
        a {
          padding-left: 20px;
          padding-right: 20px;
        }
      }
    }
  }
}

@media screen and (max-width: 1280px) {
  .header-static {
    .logged & {
      .main-menu {
        > div {
          padding-left: 175px;
        }

        ul:not(.contextual-links) {
          a {
            padding-left: 10px;
            padding-right: 10px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1280px) {
  .header-fixed {
    .logged & {
      .main-menu {
        > div {
          padding-left: 60px;
        }

        ul:not(.contextual-links) {
          a {
            padding-left: 15px;
            padding-right: 15px;
          }
        }
      }
    }
  }
}

@include breakpoint-for('.header-static, .header-fixed', (to: laptop-small)) {
  .main-menu {
    text-align: left;

    > div {
      display: block;
    }

    ul:not(.contextual-links) {
      li {
        display: block;

        &.active {
          a {
            border: none;
            border-left: 3px solid $red;
          }
        }
      }

      a {
        @include font-size(18.2);
        color: $navy-dark;
      }
    }
  }

  .logged & {
    .main-menu {
      text-align: left;

      > div {
        display: block;
        padding-left: 0;
      }

      ul:not(.contextual-links) {
        li {
          display: block;

          &.active {
            a {
              border: none;
              border-left: 3px solid $red;
            }
          }
        }

        a {
          @include font-size(18.2);
          color: $navy-dark;
          height: auto;
          padding: 30px;

          &:hover {
            background: $white-dark;
            color: $red;
            opacity: 1;
          }
        }
      }
    }
  }
}

.anchor-links {
  ul {
    height: 100%;
    -webkit-overflow-scrolling: touch;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
  }

  li {
    border-bottom: 2px solid transparent;
    display: inline-block;
    height: 100%;
    transition: border .4s ease;
    vertical-align: top;

    &.active {
      border-color: $red;
    }

    .group-country &,
    .group-country_protected {
      &:first-child {
        a {
          font-weight: 700;
          text-transform: uppercase;

          &:before {
            @include font-size(16.8);
            content: 'f';
            font-family: P4h, sans-serif;
            text-transform: none;
          }
        }
      }
    }

    .group-project &,
    .group-project_protected &,
    .group-region &,
    .group-region_protected &,
    .group-governance_area &,
    .group-product & {
      &:first-child {
        a {
          font-weight: 700;
          text-transform: uppercase;
        }
      }
    }
  }

  a {
    @include font-size(16.8);
    color: $red;
    display: inline-block;
    font-family: $oswald;
    font-weight: 400;
    height: 100%;
    letter-spacing: .5px;
    padding: 15px 30px;
    text-decoration: none;
    transition: color .3s ease, padding .3s ease;
    vertical-align: top;

    &:hover {
      color: $navy;
    }
  }
}

.toolbar-item {
  &.unmasquerade-link {
    display: none;
  }
}
