.node-pager {
  @include font-size(14);
  border-top: 1px solid $navy-light;
  font-weight: 400;
  line-height: 20px;
  margin-top: 50px;
  padding: 20px 0;
  width: 90%;

  > a {
    transition: opacity .2s ease;
    max-width: 50%;

    &:hover {
      opacity: .69;
    }
  }

  p {
    color: $navy;
    line-height: 22px;
  }
}

.prev-wrapper {
  float: left;
  padding-right: 10px;

  span:after {
    margin-left: 4px;
  }
}

.next-wrapper {
  float: right;
  padding-left: 10px;
  text-align: right;

  span {
    &:after {
      display: none;
    }

    &:before {
      content: '9';
      margin-right: 4px;
    }
  }
}
