.partners {
  position: relative;
  top: 0;
  text-align: center;
  transition: top .3s ease-in-out;

  .item-list {
    display: inline-block;
    margin: 0;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    padding: 0;
    vertical-align: top;
    white-space: nowrap;

    li {
      float: left;
      height: 46px;
      margin: 0 8px;
      padding: 8px 0;

      @include media-q(min, 1024) {
        margin: 0 12px;
      }
    }
  }

  img {
    height: 100% !important;
    width: auto;
  }

  .contextual {
    &.open {
      .trigger {
        border: 1px solid #ccc;
        border-left-color: transparent;
        border-radius: 0 13px 13px 0;
      }
    }
  }

  .contextual-links {
    right: 30px !important;
    top: -30px !important;

    li {
      display: inline-block;
      vertical-align: top;
    }
  }
}

header,
footer {
  > .partners {
    height: 47px;
    background: $white-dark;
    z-index: 410;

    .item-list {
      li {
        display: inline-block;
        float: none;
        vertical-align: top;
      }
    }
  }
}

@include breakpoint-for('.partners', (to: laptop-small)) {
  .collapsed & {
    top: -150px;
  }
}

@include breakpoint-for('header, footer', (to: tablet)) {
  > .partners {
    display: none;
  }
}
