.social-links {
  .trigger,
  .contextual-links {
    right: -15px !important;
  }

  .menu {
    display: flex;
    margin: 0;
    padding: 0;

    .ie9 & {
      display: block;
      flex: none;
      overflow: hidden;
    }
  }

  .twitter-icon {
    margin-top: 2px;
  }

  a {
    @include font-size(22);
    display: block;
    color: $navy-dark;
    text-decoration: none;
    transition: color .2s ease;

    &:hover {
      color: $navy-light;
    }
  }

  header & {
    .font-social-icon {
      margin: 0 10px;

      .ie9 & {
        float: left;
      }
    }
  }
}
