#block-ample-local-tasks {
  background: $white;
  margin: 0;
  padding: 0 0 5px;
  position: relative;
  z-index: 100;
  overflow: auto;
  white-space: nowrap;

  > ul {
    @include font-size(0);
    margin: 0;
    padding: 0;
    text-align: center;

    li {
      display: inline-block;
    }

    a {
      @include font-size(20);
      border-bottom: 1px solid $primary-color-light;
      color: $primary-color-dark;
      display: block;
      font-family: $primary-font;
      padding: 20px 30px;
      text-decoration: none;
      transition: background .3s ease;

      &:hover {
        background: $white-dark;
        border-bottom: 2px solid $primary-color-light;
      }

      &.is-active {
        border-bottom: 2px solid $primary-color-dark;
      }
    }
  }
}

//@include breakpoint-for('#block-ample-local-tasks', (to: tablet)) {
//  margin-top: 57px;
//}

.ui-tabs,
.blocktabs-click {
  background: none;
  border: none;
  padding: 0;

  .ui-tabs-nav,
  > ul {
    background: none;
    border: none;
    padding: 0;
    text-align: center;

    li {
      background: none;
      border: none;
      display: inline-block;
      float: none;
      margin: 0;
      opacity: .36;
      vertical-align: top;
      white-space: normal;
    }

    a {
      padding: 0 !important;
      text-decoration: none;
    }

    .ui-tabs-active {
      opacity: 1;
    }

    h1 {
      @include font-size(67.2);
      margin: 0 20px;
    }

    .line {
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

// Page My countries and regions
.page-my-countries-and-regions {
  .region-wrapper > h2 {
    @include font-size(70);
    text-align: center;
    line-height: 1.3;
    margin: .75em 0 1em;
  }
}

#blocktabs-my_countries_and_regions {
  .view-country {
    margin-top: 0;
  }

  h1 {
    @include font-size(30);
    line-height: 1;
    padding: 0 0 10px;
  }

  .line {
    max-width: 100%;
  }

  // Tabs
  // remove indent between items
  .ui-tabs-nav {
    font-size: 0;
  }
  // Remove moving of active item for 1px
  .ui-tabs-active {
    margin-bottom: 0;
    padding-bottom: 0;
  }

  // Single tab
  .title-wrapper {
    margin-bottom: 20px;

    @include media-q(min, 992) {
      margin-bottom: 0;
    }
  }
}



@include breakpoint-for('.ui-tabs', (to: laptop-small)) {
  overflow: hidden;

  .ui-tabs-nav {
    li {
      float: left;
      width: 50%;
    }

    a {
      width: 100%;
    }

    h1 {
      margin: 0;
      padding: 20px 20px 30px;
    }
  }
}

@include breakpoint-for('.ui-tabs', (to: tablet)) {
  .ui-tabs-nav {
    h1 {
      @include font-size(46);
      line-height: 56px;
    }
  }
}

@include breakpoint-for('.ui-tabs', (to: mobileL)) {
  .ui-tabs-nav {
    h1 {
      @include font-size(28);
      line-height: 34px;
      padding: 0 0 20px;
    }

    .line {
      width: 100px;
    }
  }
}
