.top-banner-region {
  background: $white-dark;

  .contact-us & {
    padding-top: 120px;
  }

  body:not(.group) & {
    border-bottom: 1px solid #e9e6e6;
    box-shadow: 0 0 8px rgba($black, .11);
  }

  ~ .content-container {
    padding-top: 40px;
  }

  .section-info {
    display: flex;
    justify-content: center;
    margin: 0 auto 20px;
    max-width: 1160px;
    padding: 100px 0 50px;

    .ie9 & {
      display: block;
      flex: none;
      overflow: hidden;
      text-align: center;

      .paragraph {
        display: inline-block;
        margin-left: -4px;
        max-width: 25%;
        vertical-align: top;
      }
    }

    .ie10 & {
      .paragraph {
        max-width: 25%;
      }
    }

    .paragraph {
      max-width: 33.33%;
      text-align: center;
      width: 100%;
    }

    a {
      text-decoration: none;
    }
  }

  .paragraph {
    display: block;
    height: 100%;
    overflow: hidden;
    padding: 20px;
    position: relative;

    &:hover {
      .infooverlay {
        top: 0;
      }
    }

    .icon-wrapper {
      height: 100px;
      margin: 0 auto 30px;
      width: 50%;

      img {
        max-width: 67px;
      }
    }

    h2 {
      @include font-size(30.8);
      line-height: 48px;
      margin: 0 0 15px;
    }

    h3 {
      @include font-size(22.4);
      font-weight: 400;
      line-height: 31px;
      margin: 10px 0;
    }

    .value {
      @include font-size(56);
      color: $navy;
      display: block;
      font-family: $oswald;
      font-weight: 700;
      line-height: 60px;
      margin-top: 20px;
      padding: 25px 0;
    }
  }

  .user-info {
    flex-wrap: wrap;
    padding-top: 0;

    .paragraph {
      height: auto;
      max-width: 25%;
    }

    .icon-wrapper {
      @include same(150px, height, width);
      border-radius: 50%;
      margin: 0 auto 20px;
      overflow: hidden;

      img {
        max-height: none;
        max-width: 100%;
      }
    }
  }

  .infooverlay {
    background: $white;
    height: 100%;
    padding: 40px 20px 20px;
    position: absolute;
    top: 100%;
    left: 0;
    transition: top 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
    width: 100%;
    z-index: 100;

    h3 {
      @include font-size(28);
      font-weight: 400;
      line-height: 40px;
      margin: 0 0 5px;
    }

    p {
      @include font-size(15.4);
      color: $navy;
      font-family: $fira;
      line-height: 23px;
      margin: 20px 0 0;
    }
  }
}

@include breakpoint-for('.top-banner-region', (to: laptop-small)) {
  .section-info {
    flex-wrap: wrap;
    margin-bottom: 0;

    .paragraph {
      max-width: 50%;

      h2 {
        @include font-size(28);
      }
    }
  }

  .user-info {
    .paragraph {
      h3 {
        @include font-size(21);
        line-height: 29px;
      }
    }
  }
}

@include breakpoint-for('.top-banner-region', (to: tablet)) {
  .section-info {
    padding: 40px 0 0;

    .paragraph {
      .icon-wrapper {
        height: 75px;
        margin-bottom: 15px;
      }

      h2 {
        @include font-size(21);
        line-height: 29px;
      }

      .value {
        @include font-size(36.4);
        line-height: 49px;
        padding-top: 0;
      }
    }
  }

  .user-info {
    .paragraph {
      width: 50%;

      .icon-wrapper {
        @include same(150px, height, width);
        margin-bottom: 20px;
      }

      h3 {
        @include font-size(19.6);
      }
    }
  }
}

@include breakpoint-for('.top-banner-region', (to: mobileL)) {
  .section-info {
    .paragraph {
      max-width: 100%;
    }
  }

  .user-info {
    .paragraph {
      .icon-wrapper {
        @include same(100px, height, width);
      }
    }
  }
}

.banner-image-wrapper {
  height: 650px;
  position: relative;
}

.country-content-wrapper {
  max-width: 1200px;
  padding-top: 10%;
  position: absolute;
  top: 0;
  left: 50%;
  text-align: left;
  transform: translateX(-50%);
  transition: padding .3s ease;
  width: 100%;
  z-index: 10;

  .country-icon-wrapper {
    @include same(100px, height, width);
    float: left;
    margin-right: 20px;

    .ie & {
      img {
        max-height: 100%;
      }
    }

    &.default {
      background: url(../images/globe_white.svg) center no-repeat;
      background-size: 100%;
    }
  }

  h1 {
    @include font-size(80);
    color: $white;
    letter-spacing: 1.5px;
    line-height: 72px;
    margin: 20px 0 10px;
    padding: 0;
  }

  .follow-link {
    @include font-size(24);
    border: 1px solid $white;
    color: $white;
    cursor: pointer;
    display: inline-block;
    font-family: $oswald;
    letter-spacing: .5px;
    margin-top: 40px;
    margin-left: 10px;
    padding: 15px 40px;
    transform: scale(1.06);
    transition: background .2s ease;

    &:hover {
      background: $red;
    }
  }
}

@include breakpoint-for('.country-content-wrapper', (to: laptop-small)) {
  padding: 40px 70px 0;

  h1 {
    @include font-size(64);
  }
}

@include breakpoint-for('.country-content-wrapper', (to: tablet)) {
  height: 600px;

  h1 {
    @include font-size(56);
    line-height: 64px;
    margin-bottom: 20px;
  }
}

@include breakpoint-for('.country-content-wrapper', (to: mobileL)) {
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;

  .country-icon-wrapper {
    float: none;
    margin: 0 auto;
  }

  h1 {
    @include font-size(32);
    line-height: 48px;
    text-align: center;
  }

  .follow-link {
    margin-left: 0;
  }
}

.video-wrapper {
  position: relative;
}

.overlay-wrapper {
  background: rgba($black, .53);
  color: $white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 100;

  .ie9 & {
    display: block;
    flex: none;
    padding-top: 15%;

    > * {
      display: inline-block;
      vertical-align: top;
    }
  }

  > * {
    width: 80%;
  }

  h1 {
    @include font-size(70);
    color: $white;
    letter-spacing: 1.5px;
    line-height: 72px;
    margin: 20px 0 10px;
    padding: 0;
    text-transform: uppercase;
  }

  .description {
    @include font-size(32.2);
    font-family: $fira;
    font-weight: 300;
    line-height: 50px;
    margin-top: 30px;
  }
}

@include breakpoint-for('.overlay-wrapper', (to: desktop)) {
  .ie9 & {
    padding-top: 19%;
  }
}

.w-background-video {
  .plyr {
    max-height: 60vh;
    overflow: hidden;
  }

  .plyr__video-embed {
    margin-top: -13%;
    transition: margin .2s ease;
  }
}

@include breakpoint-for('.w-background-video', (to: desktop)) {
  .plyr__video-embed {
    margin-top: -5%;
  }
}

@include breakpoint-for('.w-background-video', (to: laptop)) {
  .plyr__video-embed {
    margin-top: 0;
  }
}

.video-embed-field-responsive-video:after {
  content: none;
}
