// Form elements
form {
  @include font-size(18.2);
  font-family: $oswald;

  label {
    color: $navy-dark;
    display: block;
    margin-bottom: 10px;
    letter-spacing: .5px;
  }

  .description {
    @include font-size(14);
    color: $red;
    font-family: $fira;
    margin: 0 20px 5px 0;
  }

  .form-item {
    position: relative;
  }

  input,
  textarea {
    &.error,
    &.error:focus {
      border-color: $red;
    }

    &.error {
      animation: blink 2s linear infinite;
    }

    ~ label.error {
      @include font-size(16);
      color: $red;
      margin: 0;
      position: absolute;
      top: 0;
      right: 0;

      &:after {
        content: none;
      }
    }
  }
}

.form-text,
.form-email {
  border: 1px solid #75a8c0;
  color: $navy;
  font-family: $fira;
  font-weight: 300;
  height: 50px;
  line-height: 26px;
  margin-bottom: 25px;
  padding: 1px 12px;
  transition: all .2s ease;
  width: 100%;

  &:hover {
    box-shadow: 0 0 6px 0 rgba($navy-dark, .38);
  }

  &:focus {
    border-color: #3898EC;
    outline: none;
  }

  &::-webkit-input-placeholder,
  &::-moz-placeholder,
  &:-ms-input-placeholder,
  &:-moz-placeholder {
    color: #999;
  }
}

.form-textarea {
  @extend .form-text;
  height: auto;
  padding: 8px 12px;
}

.js-form-type-select {
  border-radius: 4px;
  margin-bottom: 20px;

  label {
    margin-bottom: 0;
    padding-bottom: 10px;
  }
}

.form-select {
  @include font-size(16.8);
  background-image: url(../images/select-arrows.png), linear-gradient($white 0, #f3f3f3 100%);
  background-position: right center;
  background-repeat: no-repeat;
  border: 1px solid #75a8c0;
  border-radius: 4px;
  color: $grey-dark;
  font-family: $fira;
  height: 50px;
  padding: 1px 12px;
  width: 100%;

  &::-ms-expand {
    display: none;
  }

  &:hover {
    box-shadow: none;
  }

  &:focus {
    border-color: #3898EC;
    outline: none;
  }
}

.ie9 {
  .select-wrapper {
    background: $white-dark;
    border: 1px solid #75a8c0;
    border-radius: 4px;
    overflow: hidden;
  }

  .form-select {
    width: calc(100% + 30px);
  }
}

.form-checkbox {
  appearance: checkbox;
  animation: none !important;
}

.form-submit {
  background: $white;
  border: 1px solid transparent;
  color: $red;
  letter-spacing: 1px;
  padding: 15px 41px;
  text-transform: uppercase;
  transition: border .3s ease;

  &:hover {
    border-color: $red;
    transform: scale(1.04);
  }
}

// Form wrappers
.user-login-form {
  overflow: hidden;
  margin: 40px auto 15px;
  padding: 20px 40px;
  max-width: 50%;

  .form-submit {
    float: right;
  }
}

// Contact form
.form-contact-us {
  display: flex;
  flex-wrap: wrap;

  .webform-left-column,
  .webform-right-column {
    padding: 20px 40px;
    width: 50%;
  }

  .inner-bottom-column {
    padding: 0 40px 30px;
    width: 100%;
  }

  .inner-top-column {
    overflow: hidden;
    margin-bottom: 20px;
  }

  .form-item-title {
    float: left;
    width: 33.33%;
  }

  .form-item-organisation {
    float: left;
    padding-left: 20px;
    width: 66.64%;
  }


  .terms {
    padding-top: 25px;

    .field-suffix {
      @include font-size(15.4);
      font-family: $fira;
      padding-left: 10px;
    }

    a {
      color: $navy-dark;
      transition: color .2s ease;

      &:hover {
        color: $red;
      }
    }

    input {
      ~ label.error {
        left: 0;
        right: auto;
        top: 5px;
      }
    }
  }

  .form-textarea {
    min-height: 275px;
  }

  .form-actions {
    margin: 10px 0 55px;
    text-align: center;
    width: 50%;
  }

  .form-submit {
    border-color: $red;
    font-weight: 700;
    text-transform: none;
  }

  label {
    &:after {
      content: ":";
    }

    &.form-required {
      &:after {
        content: ": *";
      }
    }
  }
}

@include breakpoint-for('.form-contact-us', (to: laptop-small)) {
  .webform-left-column,
  .webform-right-column {
    padding: 20px;
  }

  .inner-bottom-column {
    padding: 0 20px 30px;
  }

  .inner-top-column {
    margin-bottom: 0;
  }

  .form-item-title,
  .form-item-organisation {
    margin-bottom: 40px;
    padding: 0;
    width: 100%;
  }
}

@include breakpoint-for('.form-contact-us', (to: tablet)) {
  .webform-left-column,
  .webform-right-column {
    padding: 20px 10px;
    width: 100%;
  }

  .inner-bottom-column {
    padding: 0 10px 30px;
  }

  .form-actions {
    width: 100%;
  }
}
