// Form elements
form {
  @include font-size(18.2);
  font-family: $oswald;

  label {
    color: $navy-dark;
    display: block;
    margin-bottom: 10px;
    letter-spacing: .5px;
  }

  .description {
    @include font-size(14);
    color: $red;
    font-family: $fira;
    margin: 0 20px 5px 0;
  }

  .form-item {
    position: relative;
  }

  input,
  textarea {
    &.error,
    &.error:focus {
      border-color: $red;
    }

    &.error {
      animation: blink 2s linear infinite;
    }

    ~ label.error {
      @include font-size(16);
      color: $red;
      margin: 0;
      position: absolute;
      top: 0;
      right: 0;

      &:after {
        content: none;
      }
    }
  }
}

.form-text,
.form-email {
  border: 1px solid #75a8c0;
  color: $navy;
  font-family: $fira;
  font-weight: 300;
  height: 50px;
  line-height: 26px;
  margin-bottom: 25px;
  padding: 1px 12px;
  transition: all .2s ease;
  width: 100%;

  &:hover {
    box-shadow: 0 0 6px 0 rgba($navy-dark, .38);
  }

  &:focus {
    border-color: #3898EC;
    outline: none;
  }

  &::-webkit-input-placeholder {
    color: #999;
  }
  &::-moz-placeholder {
    color: #999;
  }
  &:-ms-input-placeholder {
    color: #999;
  }
  &:-moz-placeholder {
    color: #999;
  }
}

.placeholder {
  color: #999;
}

:-ms-input-placeholder {
  color: #999 !important;
}

.email-suffix {
  display: table;
  margin-bottom: 25px;

  input,
  .field-suffix {
    display: table-cell;
    margin-bottom: 0;
    vertical-align: middle;
  }

  .field-suffix {
    padding-left: 5px;
  }
}

.form-file {
  @include font-size(16);
  color: $navy-dark;
  line-height: 1;
}

.form-textarea {
  @extend .form-text;
  height: auto;
  padding: 8px 12px;
}

.js-form-type-select {
  border-radius: 4px;
  margin-bottom: 20px;

  label {
    margin-bottom: 0;
    padding-bottom: 10px;
  }
}

.form-select {
  @include font-size(16.8);
  background-image: url(../images/select-arrows.png), linear-gradient($white 0, #f3f3f3 100%);
  background-position: right center;
  background-repeat: no-repeat;
  border: 1px solid #75a8c0;
  border-radius: 4px;
  color: $grey-dark;
  font-family: $fira;
  height: 50px;
  padding: 1px 12px;
  width: 100%;

  &[disabled] {
    border-color: $grey-light;
    color: $grey-light;
    cursor: not-allowed;
    font-weight: 300;
  }

  &.chosen-container {
    background: $white;
    border: none;
    height: auto;
    padding: 0;
    width: 100% !important;

    .chosen-choices,
    .chosen-single {
      background: $white;
      border: 1px solid #75a8c0;
      height: 100%;
      min-height: 50px;
      padding: 10px 12px;

      &:hover {
        box-shadow: 0 0 6px 0 rgba($navy-dark, .38);
      }

      input[type="text"] {
        @include font-size(18.2);
        font-weight: 300;
      }

      .search-choice {
        @include font-size(15.4);
        background: none;
        border: none;
        box-shadow: none;
        color: $navy-dark;
        font-family: $fira;
        line-height: 18px;
        padding: 2px 5px 2px 20px;

        .search-choice-close {
          background: url(../images/add-plus-button.png) 2px -1px no-repeat;
          right: auto;
          left: 3px;
          transform: rotate(45deg);

          &:hover {
            background-position: 2px -22px;
          }
        }
      }
    }

    .chosen-single {
      background-image: url(../images/select-arrows.png), linear-gradient($white 0, #f3f3f3 100%);
      background-position: right center;
      background-repeat: no-repeat;

      &:hover {
        box-shadow: none;
      }

      &:focus {
        border-color: #3898EC;
        outline: none;
      }

      > span {
        margin-top: 2px;
      }

      > div {
        display: none;
      }
    }

    .search-field,
    input[type="text"] {
      height: 100% !important;
    }

    input[type="text"] {
      margin-top: 4px !important;
    }
  }

  &::-ms-expand {
    display: none;
  }

  &:hover {
    box-shadow: none;
  }

  &:focus {
    border-color: #3898EC;
    outline: none;
  }
}

.ie9 {
  .select-wrapper {
    background: $white url(../images/select-arrows.png) right center no-repeat;
    border: 1px solid #75a8c0;
    border-radius: 4px;
    overflow: hidden;
  }

  .chosen-select-wrapper {
    border: none;
    border-radius: 0;
    overflow: visible;
  }

  .form-select {
    background: transparent;
    border: none;
    width: calc(100% + 35px);

    &[multiple] {
      width: 100%;
    }

    .chosen-single {
      background: none;
      border: none;
    }
  }
}

.form-checkbox {
  appearance: checkbox;
  animation: none !important;
}

.form-radio {
  appearance: radio;
}

.form-submit {
  background: $white;
  border: 1px solid transparent;
  color: $red;
  letter-spacing: 1px;
  padding: 15px 41px;
  text-transform: uppercase;
  transition: border .3s ease;

  &:hover {
    border-color: $red;
    transform: scale(1.04);
  }
}

form {
  .social_login {
    label {
      &:after {
        content: none;
      }
    }
  }
}

// Form wrappers
.user-login-form {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  margin: 0 auto 40px;
  max-width: 1160px;
  padding: 0 20px;

  .ie9 & {
    overflow: hidden;

    .login-wrapper {
      float: right;
    }
  }

  .social_login {
    margin: 40px 0 0 !important;
    padding: 0 40px;
    width: 50%;
  }

  .login-wrapper {
    margin-top: 40px;
    width: 50%;
  }

  a {
    @include font-size(14);
    color: $red;
    display: inline-block;
    font-family: $fira;
    margin: 0 20px 5px 0;
    text-decoration: none;
    vertical-align: top;

    &:hover {
      color: $red-dark;
    }
  }

  label {
    &:after {
      content: ":";
    }

    &.form-required {
      &:after {
        content: ": *";
      }
    }
  }

  .form-actions {
    margin-top: 20px;
  }

  .form-submit {
    border-color: $red;
    font-weight: 700;
    text-transform: none;

    &:hover {
      border-color: $red-dark;
      color: $red-dark;
      transform: none;
    }
  }
}

@include breakpoint-for('.user-login-form', (to: laptop-small)) {
  .social_login {
    padding: 0 20px;
  }
}

@include breakpoint-for('.user-login-form', (to: tablet)) {
  flex-direction: column-reverse;
  padding: 0;

  .social_login,
  .login-wrapper {
    width: 100%;
  }

  .login-wrapper {
    padding: 0 10px;

    .ie9 & {
      float: none;
    }
  }
}

@include breakpoint-for('.user-login-form', (to: mobileL)) {
  .social_login,
  .login-wrapper {
    padding: 0;
  }
}

// Contact form
.form-contact-us {
  display: flex;
  flex-wrap: wrap;

  .ie9 & {
    display: block;
    flex: none;
    overflow: hidden;

    .webform-left-column,
    .webform-right-column {
      float: left;
    }
  }

  .webform-left-column,
  .webform-right-column {
    padding: 20px 40px;
    width: 50%;
  }

  .inner-bottom-column {
    padding: 0 40px 30px;
    width: 100%;

    .ie9 & {
      clear: both;
    }
  }

  .inner-top-column {
    overflow: hidden;
    margin-bottom: 20px;
  }

  .form-item-title {
    float: left;
    width: 33.33%;
  }

  .form-item-organisation {
    float: left;
    padding-left: 20px;
    width: 66.64%;
  }


  .terms {
    padding-top: 25px;

    .field-suffix {
      @include font-size(15.4);
      font-family: $fira;
      padding-left: 10px;
    }

    a {
      transition: color .2s ease;

      &:hover {
        color: $red;
      }
    }

    input {
      ~ label.error {
        left: 0;
        right: auto;
        top: 5px;
      }
    }
  }

  .form-textarea {
    min-height: 275px;
  }

  .form-actions {
    margin: 10px 0 55px;
    text-align: center;
    width: 50%;
  }

  .form-submit {
    border-color: $red;
    font-weight: 700;
    text-transform: none;
  }

  label {
    &:after {
      content: ":";
    }

    &.form-required {
      &:after {
        content: ": *";
      }
    }
  }
}

@include breakpoint-for('.form-contact-us', (to: laptop-small)) {
  .webform-left-column,
  .webform-right-column {
    padding: 20px;
  }

  .inner-bottom-column {
    padding: 0 20px 30px;
  }

  .inner-top-column {
    margin-bottom: 0;
  }

  .form-item-title,
  .form-item-organisation {
    margin-bottom: 40px;
    padding: 0;
    width: 100%;
  }
}

@include breakpoint-for('.form-contact-us', (to: tablet)) {
  .webform-left-column,
  .webform-right-column {
    padding: 20px 10px;
    width: 100%;
  }

  .inner-bottom-column {
    padding: 0 10px 30px;
  }

  .form-actions {
    width: 100%;
  }
}

.view-project {
  form {
    max-width: 40%;
    margin: 0 auto;
    position: relative;
  }

  .form-text {
    border-color: rgba($navy-dark, .32);
    padding-right: 60px;

    &:focus {
      border-color: rgba(#3898EC, .32);
    }
  }

  .form-submit {
    background: url(../images/magnifying-glass.svg) center no-repeat;
    background-size: 20px 20px;
    border: none;
    height: 50px;
    padding: 0;
    position: absolute;
    top: 0;
    right: 0;
    text-indent: -9999px;
    transition: transform .1s ease;
    width: 60px;

    &:hover {
      border: none;
      transform: scale(1.2);
    }
  }
}

.user-register-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;

  .ie9 & {
    overflow: hidden;

    .social_login,
    .login-wrapper {
      float: left;
    }
  }

  .social_login,
  .login-wrapper {
    margin-top: 40px;
    width: 50%;
  }

  .social_login {
    margin: 40px 0 0 !important;
    padding: 0 40px;
    overflow: hidden;
  }

  #title-wrapper {
    overflow: hidden;
  }

  .field--name-field-person-titles,
  .field--name-field-organisation {
    float: left;
    margin-bottom: 40px;
  }

  .field--name-field-person-titles {
    width: 33.33%;
  }

  .field--name-field-organisation {
    padding-left: 20px;
    width: 66.64%;
  }

  label {
    display: inline-block;
    vertical-align: top;

    &:after {
      content: ":";
    }

    &.form-required {
      &:after {
        content: ": *";
      }
    }

    a {
      color: $red;
      text-decoration: none;

      &:hover {
        color: $red-dark;
      }
    }
  }

  .js-form-type-checkbox {
    margin-bottom: 10px;

    label {
      @include font-size(15.4);
      font-family: $fira;
      margin: 5px 0 0 5px;

      &:after {
        content: none;
      }
    }
  }

  .js-form-type-email-confirm,
  .captcha {
    margin: 20px 0 10px;
  }

  .form-item-legal-terms-and-conditions {
    padding-top: 25px;
    position: relative;

    label {
      display: inline-block;
      vertical-align: top;

      &.error {
        font-family: $oswald;
        right: auto;
        left: 0;
        margin: 0;
      }
    }
  }

  .form-actions {
    margin: 30px auto 0;
    text-align: center;
    width: 50%;
  }

  .form-submit {
    border-color: $red;
    font-weight: 700;
    text-transform: none;

    &:hover {
      border-color: $red-dark;
      color: $red-dark;
      transform: none;
    }
  }
}

@include breakpoint-for('.user-register-form', (to: laptop-small)) {
  .social_login,
  .login-wrapper {
    padding: 0 20px;
  }

  .field--name-field-person-titles,
  .field--name-field-organisation {
    float: none;
    padding: 0;
    width: 100%;
  }
}

@include breakpoint-for('.user-register-form', (to: tablet)) {
  flex-direction: column;

  .social_login,
  .login-wrapper {
    width: 100%;
  }

  .login-wrapper {
    padding: 0 10px;
  }
}

.user-onetime-form {
  .good-to-know-icon {
    background: url(../images/light.svg) center no-repeat;
    height: 120px;
    margin-bottom: 30px;
  }

  .title-wrapper {
    h1 {
      @include font-size(42);
      font-weight: 400;
      line-height: 48px;
      margin: 0 0 31px;
    }
  }

  #fields-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .ie9 & {
      overflow: hidden;
    }

    .form-wrapper:empty {
      display: none;

      .ie9 & {
        ~ #catagories-wrapper {
          float: none;
          margin: 0 auto;
        }
      }
    }
  }

  #edit-account,
  #catagories-wrapper {
    padding: 10px;
    width: 50%;

    .ie9 & {
      float: left;
    }
  }

  .content-with-sidebar & {
    .content {
      float: none;
      margin-top: 45px;

      em {
        @include font-size(22.4);
        color: $navy;
        display: inline-block;
        font-style: normal;
        line-height: 31px;
        margin-bottom: 30px;
      }
    }
  }

  .js-form-type-select {
    margin-bottom: 25px;
  }

  label {
    &:after {
      content: ":";
    }

    &.form-required {
      &:after {
        content: ": *";
      }
    }
  }

  .form-actions {
    margin-top: 30px;
    text-align: center;
  }

  .form-submit {
    &:hover {
      transform: none;
    }
  }
}

@include breakpoint-for('.user-onetime-form', (to: tablet)) {
  #edit-account {
    padding-left: 0;
  }

  #catagories-wrapper {
    padding-right: 0;
  }
}

@include breakpoint-for('.user-onetime-form', (to: mobileL)) {
  #edit-account {
    margin-bottom: 45px;
  }

  #edit-account,
  #catagories-wrapper {
    padding: 10px 0;
    width: 100%;
  }
}

.user-pass {
  margin: 0 auto 15px;
  padding: 20px 40px;
  width: 50%;

  .captcha {
    display: flex;
    justify-content: center;
    margin-top: 25px;
  }

  .ie9 & {
    .g-recaptcha {
      > div {
        margin: 0 auto;
      }
    }
  }

  label {
    &:after {
      content: ":";
    }

    &.form-required {
      &:after {
        content: ": *";
      }
    }
  }

  .form-actions {
    margin-top: 25px;
    text-align: center;
  }

  .form-submit {
    border-color: $red;
    font-weight: 700;
    text-transform: none;

    &:hover {
      border-color: $red-dark;
      color: $red-dark;
      transform: none;
    }
  }
}

@include breakpoint-for('.user-pass', (to: laptop-small)) {
  padding: 20px;
}

@include breakpoint-for('.user-pass', (to: tablet)) {
  padding: 20px 10px;
  width: 100%;
}

.acceptance-form {
  margin: 0 auto 50px;
  max-width: 1160px;

  .entity-legal-document-acceptance-form {
    margin: 0 auto;
    width: 66.64%;
  }

  .form-item {
    padding-top: 25px;
  }

  .form-checkbox,
  .js-form-type-checkbox {
    margin-right: 5px;

    ~ label {
      display: inline-block;
      vertical-align: top;

      &.error {
        right: auto;
        left: 0;
      }
    }

    a {
      color: $red;
      text-decoration: none;

      &:hover {
        color: $red-dark;
      }
    }
  }

  .form-submit {
    margin-top: 30px;
  }
}

@include breakpoint-for('.acceptance-form', (to: laptop-small)) {
  padding: 0 20px;
}

@include breakpoint-for('.acceptance-form', (to: tablet)) {
  .entity-legal-document-acceptance-form {
    width: 100%;
  }
}

.form-my-settings {
  #my_profile,
  #interest,
  #newsletter {
    margin-bottom: 100px;
  }

  .title-wrapper {
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;

    h1 {
      @include font-size(67.2);
    }

    .line {
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .anchor-region {
    background: #e9ecee;
    box-shadow: 0 1px 3px rgba($black, .1);
    height: 60px;

    &:empty {
      display: none;
    }

    a {
      padding: 20px 30px;
    }
  }

  label {
    &:after {
      content: ":";
    }

    &.form-required {
      &:after {
        content: ": *";
      }
    }
  }

  #edit-pass {
    .form-text {
      margin-bottom: 0;
    }

    .form-item {
      margin-bottom: 25px;
    }
  }

  .description {
    margin: 5px 0 0;
  }

  #edit-field-organisations-wrapper strong,
  #contact-details strong,
  .label {
    &:after {
      content: ":";
    }
  }

  #interest,
  #newsletter {
    h1 {
      @include font-size(49);
      line-height: 58px;
      padding-bottom: 10px;
    }
  }

  .field--name-field-person-titles {
    margin-bottom: 15px;
    padding: 20px 40px;
    width: 50%;

    .form-item {
      margin-bottom: 0;
      width: 33.33%;
    }
  }

  #edit-field-avatar-wrapper {
    padding: 20px 40px 10px;
    width: 50%;

    label {
      display: none;
    }

    .image-preview {
      @include same(150px, height, width);
      border-radius: 50%;
      float: none;
      margin: 40px 0 30px;
      overflow: hidden;
      padding: 0;
    }

    .image-widget-data {
      @include font-size(14);
      color: $red;
      font-family: $fira;
      float: none;

      a {
        color: $red;
        text-decoration: none;

        &:hover {
          color: $red-dark;
        }
      }

      summary {
        outline: none;
      }

      .form-submit {
        @include font-size(14);
        background: none;
        border: none;
        font-family: $fira;
        font-weight: 400;
        letter-spacing: normal;
        margin: 10px 0 0;
        padding: 0;
      }
    }

    .image-data__crop-wrapper {
      margin-top: 10px;
    }

    .vertical-tabs {
      border: none;
      margin: 0;
    }

    .vertical-tabs__menu {
      display: none;
    }
  }

  #user-details,
  #organisation-details,
  #interests-wrapper,
  #contact-details,
  #address-details {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
    padding: 20px 0;

    .ie9 & {
      overflow: hidden;

      .form-wrapper {
        float: left;
      }
    }

    .form-wrapper {
      padding: 0 40px;
      width: 50%;

      .form-wrapper {
        padding: 0;
        width: 100%;
      }
    }
  }

  #organisation-details {
    justify-content: flex-end;

    .form-wrapper {
      .ie9 & {
        &:last-child {
          float: right;
        }
      }
    }
  }

  #interest {
    .form-wrapper {
      margin: 0 auto 15px;
      padding: 20px 40px;
      width: 50%;

      label {
        display: none;
      }
    }
  }

  #contact-details {
    justify-content: flex-end;

    > .form-wrapper {
      margin-bottom: 35px;

      .ie9 & {
        &:last-child {
          float: right;
        }
      }
    }

    label {
      display: none;
    }

    .paragraph-type-top {
      top: -30px;
    }
  }

  #edit-account {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
    padding: 20px 0;

    .ie9 & {
      overflow: hidden;

      > .form-item {
        float: left;
      }
    }

    > .form-item {
      margin: 0;
      padding: 0 40px;
      width: 50%;
    }
  }

  #edit-field-organisations-wrapper,
  #contact-details {
    margin-bottom: 15px;
    padding: 20px 0;

    .paragraph-type-title {
      display: none;
    }

    strong {
      display: block;
      font-weight: 400;
      margin-bottom: 20px;
    }

    .form-submit {
      @include font-size(14);
      background: transparent;
      border: none;
      font-family: $fira;
      letter-spacing: 0;
      padding: 0;
      text-transform: none;

      &.field-add-more-submit {
        background: url(../images/add-plus-button.png) left top no-repeat;
        padding-left: 21px;
      }

      &:hover {
        background-position: left bottom;
        color: $red-dark;
        transform: none;
      }
    }
  }

  #edit-field-organisations-wrapper,
  #edit-field-skype-or-other-wrapper {
    .field-add-more-submit {
      margin-left: 40px;
    }

    > .ajax-new-content {
      padding: 0 40px;

      .field-add-more-submit {
        margin-left: 0;
      }

      .field--name-field-organisation,
      thead .label {
        padding-left: 0;
      }

      .field--name-field-job-title,
      .paragraph-type-top {
        padding-right: 0;
      }
    }
  }

  #edit-field-skype-or-other-wrapper {
    .paragraphs-subform {
      .ie9 & {
        overflow: visible;
      }

      .field--name-field-type {
        width: 33.33%;
      }

      .field--name-field-account {
        padding-left: 10px;
        width: 66.64%;
      }
    }

    .ajax-new-content {
      padding: 0;
    }

    .paragraph-type-top {
      top: -20px;
    }

    label {
      &.error {
        right: auto;
        left: 0;
        top: -23px;
      }
    }

    .form-submit {
      &.field-add-more-submit {
        margin-left: 0;
      }
    }

    .ie11 &,
    .ie10 & {
      table,
      tbody,
      tr {
        display: block;
        clear: both;
      }
    }
  }

  #edit-field-organisations,
  #edit-field-skype-or-other,
  #edit-field-mobilephone-wrapper,
  #edit-field-telephone-wrapper {
    padding: 0 40px;
    position: relative;

    .field-add-more-submit {
      margin-left: 0;
    }
  }

  table {
    margin: 0 !important;
    width: 100%;

    th,
    td {
      padding: 0 !important;
      position: relative;
    }

    td {
      display: block;
      min-height: 50px;
    }

    .field-multiple-drag {
      display: none;
    }

    .paragraph-type-top {
      padding-right: 40px;
      position: absolute;
      top: 0;
      right: 0;
      z-index: 10;
    }

    .paragraphs-subform {
      display: flex;
      flex-wrap: wrap;

      .ie9 & {
        overflow: hidden;

        .form-wrapper {
          float: left;
        }
      }

      .form-wrapper {
        padding: 0 40px;
        width: 50%;
      }
    }

    .dropbutton-wrapper {
      min-height: 0;

      &.open {
        .dropbutton-toggle {
          top: -9px;
        }

        .dropbutton-arrow {
          border-top-color: transparent;
          border-bottom-color: $red-dark;
        }
      }

      .dropbutton-toggle {
        bottom: auto;
        top: 9px;
      }

      .dropbutton-arrow {
        border-top-color: $red-dark;
      }
    }

    .confirm-remove,
    .restore {
      .form-submit {
        margin-top: 0 !important;
      }
    }
  }

  thead {
    .label {
      @include font-size(18.2);
      font-family: $oswald;
      font-weight: 400;
      letter-spacing: .5px;
      line-height: 20px;
      margin: 0;
      padding-bottom: 10px;
      text-align: left;
    }
  }

  #edit-field-organisations-wrapper {
    thead {
      .label {
        padding: 0 40px 10px;
      }
    }

    .ie11 &,
    .ie10 & {
      table,
      thead,
      tbody,
      tr,
      th {
        display: block;
        clear: both;
      }
    }
  }

  .paragraphs-dropbutton-wrapper .form-submit,
  .field-add-more-submit.form-submit {
    font-weight: 400;
    margin: 0;
  }

  .form- {
    &checkbox,
    &radio {
      ~ label {
        display: inline-block;
        margin-left: 5px;
        vertical-align: top;
      }
    }
  }

  #edit-status--wrapper,
  #edit-roles--wrapper {
    .form- {
      &checkbox,
      &radio {
        ~ label {
          &:after {
            content: none;
          }
        }
      }
    }
  }

  .form-submit {
    background: none;
    border-color: $red;
    font-weight: 700;
    margin: 0 auto;
    text-transform: none;

    &:not(.js-hide) {
      display: block;
    }

    &:hover {
      border-color: $red-dark;
      color: $red-dark;
      transform: none;
    }
  }

  .ajax-progress-throbber {
    position: absolute;
    left: 50%;
  }
}
