// Form elements
form {
  @include font-size(18.2);
  font-family: $oswald;

  label {
    color: $navy-dark;
    display: block;
    margin-bottom: 10px;
    letter-spacing: .5px;
  }

  .description {
    @include font-size(14);
    color: $red;
    font-family: $fira;
    margin: 0 20px 5px 0;
  }

  .form-item {
    position: relative;
  }

  input,
  textarea {
    &.error,
    &.error:focus {
      border-color: $red;
    }

    &.error {
      animation: blink 2s linear infinite;
    }

    ~ label.error {
      @include font-size(16);
      color: $red;
      margin: 0;
      position: absolute;
      top: 0;
      right: 0;

      &:after {
        content: none;
      }
    }
  }
}

@include breakpoint-for('form', (to: mobileL)) {
  label {
    @include font-size(16);
  }

  &:not(.form-contact-us) {
    .form-email,
    .form-text {
      ~ label.error {
        @include font-size(14);
        top: 82px;
        text-align: right;
      }
    }
  }
}

.form-text,
.form-url,
.form-email {
  border: 1px solid #75a8c0;
  color: $navy;
  font-family: $fira;
  font-weight: 300;
  height: 50px;
  line-height: 26px;
  margin-bottom: 25px;
  padding: 1px 12px;
  transition: all .2s ease;
  text-overflow: ellipsis;
  width: 100%;

  .ui-widget & {
    font-family: $fira;
  }

  &:hover {
    box-shadow: 0 0 6px 0 rgba($navy-dark, .38);
  }

  &:focus {
    border-color: #3898EC;
    outline: none;
  }

  &::-webkit-input-placeholder {
    color: #999;
  }
  &::-moz-placeholder {
    color: #999;
  }
  &:-ms-input-placeholder {
    color: #999;
  }
  &:-moz-placeholder {
    color: #999;
  }
}

.placeholder {
  color: #999;
}

:-ms-input-placeholder {
  color: #999 !important;
}

.email-suffix {
  margin-bottom: 25px;

  .form-my-settings & {
    display: table;

    input,
    .field-suffix {
      display: table-cell;
      margin-bottom: 0;
      vertical-align: middle;
    }

    .field-suffix {
      padding-left: 5px;
    }
  }
}

.choose-file {
  @include font-size(16.8);
  background: #e9ecee;
  color: $red;
  cursor: pointer;
  display: inline-block;
  font-family: $oswald;
  padding: 15px 40px;
  vertical-align: top;

  &:hover {
    color: $red-dark;
  }
}

.form-date {
  border: 1px solid #75a8c0;
  color: $navy;
  font-family: $fira;
  font-weight: 300;
  height: 50px;
  line-height: 26px;
  margin-bottom: 25px;
  padding: 1px 12px;
}

.form-textarea {
  @extend .form-text;
  height: auto;
  padding: 8px 12px;
}

.js-form-type-select {
  border-radius: 4px;
  margin-bottom: 20px;

  label {
    margin-bottom: 0;
    padding-bottom: 10px;
  }
}

.form-select {
  @include font-size(16.8);
  background-image: url(../images/select-arrows.png), linear-gradient($white 0, #f3f3f3 100%);
  background-position: right center;
  background-repeat: no-repeat;
  border: 1px solid #75a8c0;
  border-radius: 4px;
  color: $grey-dark;
  font-family: $fira;
  height: 50px;
  padding: 1px 12px;
  width: 100%;

  .select-wrapper & {
    @include font-size(16.8);
    font-family: $fira;
  }

  &[disabled] {
    border-color: $grey-light;
    color: $grey-light;
    cursor: not-allowed;
    font-weight: 300;
  }

  .field--name-field-following-p4h-areas & {
    .group-result {
      color: #FC000E;
      font-weight: 500 !important;
      font-style: italic;
    }
  }

  &.chosen-container {
    background: $white;
    border: none;
    height: auto;
    padding: 0;
    width: 100% !important;

    .chosen-choices,
    .chosen-single {
      background: $white;
      border: 1px solid #75a8c0;
      height: 100%;
      min-height: 50px;
      padding: 10px 12px;

      &:hover {
        box-shadow: 0 0 6px 0 rgba($navy-dark, .38);
      }

      input[type="text"] {
        font-size: 18.2px !important;
        font-family: $fira !important;
        font-weight: 300;
      }

      .search-choice {
        @include font-size(15.4);
        background: none;
        border: none;
        box-shadow: none;
        color: $navy-dark;
        font-family: $fira;
        line-height: 18px;
        padding: 2px 5px 2px 20px;

        .search-choice-close {
          background: url(../images/add-plus-button.png) 2px -1px no-repeat !important;
          right: auto;
          left: 3px;
          transform: rotate(45deg);

          &:hover {
            background-position: 2px -22px;
          }
        }
      }
    }

    .chosen-single {
      background-image: url(../images/select-arrows.png), linear-gradient($white 0, #f3f3f3 100%);
      background-position: right center;
      background-repeat: no-repeat;

      &:hover {
        box-shadow: none;
      }

      &:focus {
        border-color: #3898EC;
        outline: none;
      }

      > span {
        margin-top: 2px;
      }

      > div {
        display: none;
      }
    }

    .search-field,
    input[type="text"] {
      height: 100% !important;
    }

    input[type="text"] {
      margin-top: 4px !important;
    }

    .chosen-results {
      @include font-size(15.4);
      color: $navy-dark;
      font-family: $fira;

      .highlighted {
        background: $navy;
      }
    }
  }

  &::-ms-expand {
    display: none;
  }

  &:hover {
    box-shadow: none;
  }

  &:focus {
    border-color: #3898EC;
    outline: none;
  }
}

.ie9 {
  .select-wrapper {
    background: $white;
    border: 1px solid #75a8c0;
    border-radius: 4px;
    overflow: hidden;
    position: relative;

    &:after {
      background: $white url(../images/select-arrows-ie.png) right center no-repeat;
      content: "";
      display: block;
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;
      width: 16px;
    }
  }

  .chosen-select-wrapper {
    border-radius: 0;
    overflow: visible;
  }

  .chosen-container {
    &.form-select {
      .chosen-choices {
        border: none;
      }
    }
  }

  .form-item-field-country {
    .select-wrapper {
      border-radius: 0;
      overflow: visible;
    }
  }

  .form-select {
    background: transparent;
    border: none;
    width: calc(100% + 35px);

    &[multiple] {
      width: 100%;
    }

    .chosen-single {
      background: none;
      border: none;
    }
  }
}

.form-checkbox {
  appearance: checkbox;
  animation: none !important;
}

.form-radio {
  appearance: radio;
}

.form-submit {
  background: $white;
  border: 1px solid $red;
  color: $red;
  letter-spacing: 1px;
  padding: 15px 41px;
  text-transform: uppercase;
  transition: border .3s ease;

  &:hover {
    border-color: $red-dark;
    color: $red-dark;
    //transform: scale(1.04);
  }
}

.ie {
  .webform-body,
  .view-news-and-events {
    @media screen and (min-width: 991px) {
      .fieldset-wrapper {
        width: 100%;
      }

      .form-radios {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
      }
    }
  }
}

.ie9 {
  .webform-body,
  .view-news-and-events {
    @media screen and (min-width: 991px) {
      .form-checkboxes {
        text-align: left;
      }
    }
  }
}

// Single radio button item
.webform-body .js-form-type-radio,
.view-news-and-events .js-form-type-radio {
  @include font-size(16);
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: 0 0 20px;
  position: relative;

  @media only screen and (min-width: 991px) {
    margin: 0 10px;
    display: inline-flex;

    .ie9 & {
      display: inline-block;
    }
  }

  // Hide native radio item
  .form-radio {
    @extend %element-invisible;

    // Active state
    &:checked + label {
      &::after {
        opacity: 1;
        transform: scale(.5);
        background: $red;
      }
    }

    // Disabled state
    &:disabled + label {
      color: #cacaca;
      cursor: not-allowed;

      &::before {
        background: $white;
        box-shadow: 0 0 1px rgba($black, .1) inset;
      }

      &:hover::after {
        transform: scale(0);
      }
    }

    // Active-Disabled state
    &:disabled:checked + label {
      &::after {
        opacity: 1;
        background: $red;
      }

      &:hover::after {
        transform: scale(.5);
      }
    }
  }

  // Create 'fake' radio element
  label {
    display: flex;
    align-items: flex-start;
    margin-bottom: 0;
    cursor: pointer;

    // Need for position of checkbox state
    position: relative;

    .ie9 & {
      line-height: 20px;
    }

    &::before,
    &::after {
      content: ' ';
    }

    // 'Fake radio'
    &::before {
      display: inline-block;
      height: 20px;
      min-width: 20px;
      background: $white-dark;
      border-radius: 50%;
      margin: 0 8px 0 0;
      box-shadow: 0 1px 1px rgba($black, .1) inset;
    }

    &::after {
      width: 20px;
      height: 20px;
      background: rgba($red, .5);
      border-radius: 100%;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      transition: all .5s ease;
      transform-origin: center;
      transform: scale(0);
    }

    // Hover effect
    &:hover {
      &::after {
        opacity: 1;
        transform: scale(.5);
      }
    }
  }
}

// Checkboxes
.webform-body .js-form-type-checkbox,
.view-news-and-events .js-form-type-checkbox {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: 0 0 20px;
  position: relative;

  @media only screen and (min-width: 991px) {
    margin: 0 10px;
    display: inline-flex;
  }

  @media only screen and (min-width: 991px) {
    .ie9 & {
      display: inline-block;
    }
  }

  // Hide native radio item
  .form-checkbox {
    @extend %element-invisible;

    // Active state
    &:checked + label {
      &::after {
        opacity: 1;
        transform: scale(.5);
        background: $red;
      }
    }

    // Disabled state
    &:disabled + label {
      color: #cacaca;
      cursor: not-allowed;

      &::before {
        background: $white;
        box-shadow: 0 0 1px rgba($black, .1) inset;
      }

      &:hover::after {
        transform: scale(0);
      }
    }

    // Active-Disabled state
    &:disabled:checked + label {
      &::after {
        opacity: 1;
        background: $red;
      }

      &:hover::after {
        transform: scale(.5);
      }
    }
  }

  // Create 'fake' radio element
  label {
    padding-left: 25px;
    margin-bottom: 0;
    cursor: pointer;
    line-height: 1.2;
    float: none;

    // Need for position of checkbox state
    position: relative;

    .ie9 &,
    .ie10 & {
      flex: none;
      display: inline-block;
    }

    &::before,
    &::after {
      content: ' ';
    }

    // 'Fake radio'
    &::before {
      position: absolute;
      left: 0;
      top: 0;
      height: 20px;
      min-width: 20px;
      background: $white-dark;
      border-radius: 3px;
      margin: 0 8px 0 0;
      box-shadow: 0 1px 1px rgba($black, .1) inset;
    }

    &::after {
      width: 20px;
      height: 20px;
      background: rgba($red, .5);
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      border-radius: 3px;
      transition: all .5s ease;
      transform-origin: center;
      transform: scale(0);
    }

    // Hover effect
    &:hover {
      &::after {
        opacity: 1;
        transform: scale(.5);
      }
    }
  }
}

form {
  .social_login {
    label {
      @include font-size(16.8);
      line-height: 25px;
      margin-bottom: 27px;

      &:after {
        content: none;
      }
    }

    iframe {
      display: block;
      max-width: 266px;
      width: 100% !important;
    }
  }
}

@include breakpoint-for('form', (to: tablet)) {
  .social_login {
    iframe {
      margin: 0 auto;
    }
  }
}

@include breakpoint-for('form', (to: mobileL)) {
  .social_login {
    iframe {
      max-width: 100%;
    }
  }
}

// Form wrappers
.user-login-form {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  margin: 0 auto 40px;
  max-width: 1160px;
  padding: 0 20px;

  .ie9 & {
    overflow: hidden;

    .login-wrapper {
      float: right;
    }
  }

  .social_login {
    margin: 40px 0 0 !important;
    padding: 0 40px;
    width: 50%;
  }

  .login-wrapper {
    margin-top: 40px;
    width: 50%;
  }

  a {
    @include font-size(14);
    color: $red;
    display: inline-block;
    font-family: $fira;
    margin: 0 20px 5px 0;
    text-decoration: none;
    vertical-align: top;

    &:hover {
      color: $red-dark;
    }
  }

  label {
    &:after {
      content: ":";
    }

    &.form-required {
      &:after {
        content: ": *";
      }
    }
  }

  .form-actions {
    margin-top: 20px;
  }

  .form-submit {
    border-color: $red;
    font-weight: 700;
    text-transform: none;

    &:hover {
      border-color: $red-dark;
      color: $red-dark;
      transform: none;
    }
  }
}

@include breakpoint-for('.user-login-form', (to: laptop-small)) {
  .social_login {
    padding: 0 20px;
  }
}

@include breakpoint-for('.user-login-form', (to: tablet)) {
  flex-direction: column-reverse;
  padding: 0;

  .social_login,
  .login-wrapper {
    width: 100%;
  }

  .login-wrapper {
    padding: 0 20px;

    .ie9 & {
      float: none;
    }
  }
}

// Contact form
.form-contact-us {
  display: flex;
  flex-wrap: wrap;

  .ie9 & {
    display: block;
    flex: none;
    overflow: hidden;

    .webform-left-column,
    .webform-right-column {
      float: left;
    }
  }

  .webform-left-column,
  .webform-right-column {
    padding: 20px 40px;
    width: 50%;
  }

  .inner-bottom-column {
    padding: 0 40px 30px;
    width: 100%;

    .ie9 & {
      clear: both;
    }
  }

  .inner-top-column {
    overflow: hidden;
    margin-bottom: 20px;
  }

  .form-item-title {
    float: left;
    width: 33.33%;
  }

  .form-item-organisation {
    float: left;
    padding-left: 20px;
    width: 66.64%;
  }

  .terms {
    padding-top: 25px;

    .field-suffix {
      @include font-size(15.4);
      font-family: $fira;
      padding-left: 10px;
    }

    a {
      transition: color .2s ease;

      &:hover {
        color: $red;
      }
    }

    input {
      ~ label.error {
        left: 0;
        right: auto;
        top: 5px;
      }
    }
  }

  .form-textarea {
    min-height: 275px;
  }

  .form-actions {
    margin: 10px 0 55px;
    text-align: center;
    width: 50%;
  }

  .form-submit {
    border-color: $red;
    font-weight: 700;
    text-transform: none;
  }

  label {
    &:after {
      content: ":";
    }

    &.form-required {
      &:after {
        content: ": *";
      }
    }
  }
}

@include breakpoint-for('.form-contact-us', (to: laptop-small)) {
  .webform-left-column,
  .webform-right-column {
    padding: 20px;
  }

  .inner-bottom-column {
    padding: 0 20px 30px;
  }

  .inner-top-column {
    margin-bottom: 0;
  }

  .form-item-title,
  .form-item-organisation {
    margin-bottom: 40px;
    padding: 0;
    width: 100%;
  }
}

@include breakpoint-for('.form-contact-us', (to: tablet)) {
  .webform-left-column,
  .webform-right-column {
    padding: 20px 10px;
    width: 100%;
  }

  .inner-bottom-column {
    padding: 0 10px 30px;
  }

  .form-actions {
    width: 100%;
  }
}

.view-project,
.view-product,
.view-knowledge-vault {
  > h2 {
    @include font-size(25.2);
    line-height: 48px;
    margin-bottom: 15px;
    position: relative;
    text-align: center;

    a {
      @include font-size(15.4);
      line-height: 18px;
      position: absolute;
      top: 17px;
      right: 0;
      text-decoration: none;

      &:before {
        content: "q";
        color: $red;
        font-family: $p4h;
        margin-right: 4px;
      }

      &:hover {
        &:before {
          color: $red-dark;
        }
      }
    }
  }

  form {
    max-width: 40%;
    margin: 0 auto;
    position: relative;
  }
}

@include breakpoint-for('.view-project, .view-product', (to: laptop-small)) {
  form {
    max-width: 60%;
  }
}

@include breakpoint-for('.view-project, .view-product', (to: tablet)) {
  form {
    max-width: 80%;
  }
}

@include breakpoint-for('.view-project, .view-product', (to: mobileL)) {
  form {
    max-width: 100%;
  }
}

.user-register-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;

  .ie9 & {
    overflow: hidden;

    .social_login,
    .login-wrapper {
      float: left;
    }
  }

  .social_login,
  .login-wrapper,
  .form-item-social-login-create-account {
    margin-top: 40px;
    width: 50%;
  }

  .social_login {
    margin: 40px 0 0 !important;
    padding: 0 40px;
    overflow: hidden;
  }

  #title-wrapper {
    overflow: hidden;
  }

  .field--name-field-person-titles,
  .field--name-field-organisation {
    float: left;
    margin-bottom: 40px;
  }

  .field--name-field-person-titles {
    width: 33.33%;
  }

  .field--name-field-organisation {
    padding-left: 20px;
    width: 66.64%;
  }

  label {
    display: inline-block;
    vertical-align: top;

    &:after {
      content: ":";
    }

    &.form-required {
      &:after {
        content: ": *";
      }
    }

    a {
      color: $red;
      text-decoration: none;

      &:hover {
        color: $red-dark;
      }
    }
  }

  .js-form-type-checkbox {
    margin-bottom: 10px;

    label {
      @include font-size(15.4);
      font-family: $fira;
      margin: 5px 0 0 5px;

      &:after {
        content: none;
      }
    }
  }

  .js-form-type-email-confirm,
  .captcha {
    margin: 20px 0 10px;
  }

  .form-item-mail-mail1 {
    .email-suffix {
      margin-bottom: 0;
    }
  }

  .form-item-legal-terms-and-conditions {
    padding-top: 25px;
    position: relative;

    label {
      display: inline-block;
      vertical-align: top;

      &.error {
        font-family: $oswald;
        right: auto;
        left: 0;
        margin: 0;
      }
    }
  }

  fieldset {
    border: none;
    margin: 0;
    padding: 0;

    .description {
      display: none;
    }
  }

  .form-actions {
    margin: 30px auto 0;
    text-align: center;
    width: 50%;
  }

  .form-submit {
    border-color: $red;
    font-weight: 700;
    text-transform: none;

    &:hover {
      border-color: $red-dark;
      color: $red-dark;
      transform: none;
    }
  }
}

@include breakpoint-for('.user-register-form', (to: laptop-small)) {
  .social_login,
  .login-wrapper,
  .form-item-social-login-create-account {
    padding: 0 20px;
  }

  .field--name-field-person-titles,
  .field--name-field-organisation {
    float: none;
    padding: 0;
    width: 100%;
  }
}

@include breakpoint-for('.user-register-form', (to: tablet)) {
  flex-direction: column;

  .social_login,
  .login-wrapper,
  .form-item-social-login-create-account {
    width: 100%;
  }

  .login-wrapper {
    padding: 0 10px;
  }
}

@include breakpoint-for('.user-register-form', (to: mobileL)) {
  .social_login,
  .login-wrapper,
  .form-item-social-login-create-account {
    padding: 0;
  }
}

.user-onetime-form {
  .good-to-know-icon {
    background: url(../images/light.svg) center no-repeat;
    height: 120px;
    margin-bottom: 30px;
  }

  .title-wrapper {
    h1 {
      @include font-size(42);
      font-weight: 400;
      line-height: 48px;
      margin: 0 0 31px;
    }
  }

  #fields-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .ie9 & {
      @include clearfix;
      display: block;
      flex: none;
    }

    .form-wrapper:empty {
      display: none;

      .ie9 & {
        ~ #catagories-wrapper {
          float: none;
          margin: 0 auto;
        }
      }
    }
  }

  #edit-pass {
    .form-text {
      margin-bottom: 0;
    }

    .form-item {
      margin-bottom: 25px;
    }

    .description {
      margin: 5px 0 0;
    }
  }

  #edit-account,
  #catagories-wrapper {
    padding: 10px;
    width: 50%;

    .ie9 & {
      float: left;
    }
  }

  .content-with-sidebar & {
    .content {
      float: none;
      margin-top: 45px;

      em {
        @include font-size(22.4);
        color: $navy;
        display: inline-block;
        font-style: normal;
        line-height: 31px;
        margin-bottom: 30px;
      }
    }
  }

  .js-form-type-select {
    margin-bottom: 25px;
  }

  label {
    &:after {
      content: ":";
    }

    &.form-required {
      &:after {
        content: ": *";
      }
    }
  }

  .form-actions {
    margin-top: 30px;
    text-align: center;
  }

  .form-submit {
    &:hover {
      transform: none;
    }
  }
}

@include breakpoint-for('.user-onetime-form', (to: tablet)) {
  #edit-account {
    padding-left: 0;
  }

  #catagories-wrapper {
    padding-right: 0;
  }
}

@include breakpoint-for('.user-onetime-form', (to: mobileL)) {
  #edit-account {
    margin-bottom: 45px;
  }

  #edit-account,
  #catagories-wrapper {
    padding: 10px 0;
    width: 100%;
  }

  .form-submit {
    @include font-size(16.8);
    padding: 10px;
  }
}

.user-pass {
  margin: 0 auto 15px;
  padding: 20px 40px;
  width: 50%;

  .captcha {
    display: flex;
    justify-content: center;
    margin-top: 25px;
  }

  .ie9 & {
    .g-recaptcha {
      > div {
        margin: 0 auto;
      }
    }
  }

  label {
    &:after {
      content: ":";
    }

    &.form-required {
      &:after {
        content: ": *";
      }
    }
  }

  .form-actions {
    margin-top: 25px;
    text-align: center;
  }

  .form-submit {
    border-color: $red;
    font-weight: 700;
    text-transform: none;

    &:hover {
      border-color: $red-dark;
      color: $red-dark;
      transform: none;
    }
  }
}

@include breakpoint-for('.user-pass', (to: laptop-small)) {
  padding: 20px;
}

@include breakpoint-for('.user-pass', (to: tablet)) {
  padding: 20px 10px;
  width: 100%;
}

.acceptance-form {
  margin: 0 auto 50px;
  max-width: 1160px;

  .entity-legal-document-acceptance-form {
    margin: 0 auto;
    width: 66.64%;
  }

  .form-item {
    padding-top: 25px;
  }

  .form-checkbox,
  .js-form-type-checkbox {
    margin-right: 5px;

    ~ label {
      display: inline-block;
      vertical-align: top;

      &.error {
        right: auto;
        left: 0;
      }
    }

    a {
      color: $red;
      text-decoration: none;

      &:hover {
        color: $red-dark;
      }
    }
  }

  .form-submit {
    margin-top: 30px;
  }
}

@include breakpoint-for('.acceptance-form', (to: laptop-small)) {
  padding: 0 20px;
}

@include breakpoint-for('.acceptance-form', (to: tablet)) {
  .entity-legal-document-acceptance-form {
    width: 100%;
  }
}

// ----------------------------------------------------------------------------
// Profile Help block
.profile-help {
  margin: 40px 0;

  @media screen and (max-width: 991px) {
    margin: 0 0 40px;
  }

  .profile-help-wrapper {
    background: $white;
    box-shadow: 0 0 6px rgba($black, .1);
    padding: 30px;
    transition: background .5s ease, padding .5s ease, box-shdow 5s ease 1s;

  }

  .profile-help-collapsed {
    background: transparent;
    padding-bottom: 0;
    box-shadow: none;
  }

  // Title
  .profile-help-title {
    h1 {
      @include font-size(18);
      padding: 0;
      margin-bottom: 25px;
      line-height: 1;
      font-weight: 500;
    }
  }

  .profile-help-info {
    font-family: $fira;
    text-align: left;
    margin-bottom: 0;

    p {
      @include font-size(16);
      font-weight: 400;
      line-height: 1.5;
      margin: 0 0 1.5rem;
      color: #2b2b2b;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  // Bottom side
  .profile-help-bottom {
    background: transparent;
    border-top: 2px solid $red;
    position: relative;
    text-align: center;
    overflow: hidden;
  }

  .toggle-help {
    font-size: 0;
    display: inline-block;
    vertical-align: middle;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: $red;
    position: relative;
    top: -20px;
    transition: top .3s ease;

    &:hover {
      top: -15px;
    }

    &::after {
      content: ' ';
      width: 10px;
      height: 10px;
      border: solid $white;
      border-width: 0 1px 1px 0;
      position: absolute;
      left: 50%;
      bottom: 7px;
      transform: rotate(-135deg) translateY(-50%);
      margin-left: -1px;
      transform-origin: center;
    }
  }

  .profile-help-collapsed + .profile-help-bottom .toggle-help::after {
    transform: rotate(45deg) translateY(-50%);
    margin-left: -8px;
  }
}

.form-my-settings {
  #my_profile,
  #interest,
  #newsletter {
    margin-bottom: 100px;
  }

  // Helpful information layout only,
  .profile-info {
    @include clearfix();

    .profile-col {
      padding: 0 20px;

      @media screen and (min-width: 992px) {
        padding: 20px 40px 10px;
        width: 50%;
        float: left;
      }
    }
  }

  .title-wrapper {
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;

    h1 {
      @include font-size(67.2);
    }

    .line {
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .anchor-region {
    background: #e9ecee;
    box-shadow: 0 1px 3px rgba($black, .1);
    height: 60px;

    &:empty {
      display: none;
    }

    a {
      padding: 20px 30px;
    }
  }

  label {
    &:after {
      content: ":";
    }

    &.form-required {
      &:after {
        content: ": *";
      }
    }
  }

  #edit-pass {
    .form-text {
      margin-bottom: 0;
    }

    .form-item {
      margin-bottom: 25px;
    }
  }

  .description {
    margin: 5px 0 0;
  }

  #edit-field-organisations-wrapper strong,
  #contact-details strong,
  .label {
    &:after {
      content: ":";
    }
  }

  #interest,
  #newsletter {
    h1 {
      @include font-size(49);
      line-height: 58px;
      padding-bottom: 10px;
    }
  }

  .field--name-field-person-titles {
    margin-bottom: 15px;
    padding: 20px 0;

    .form-item {
      margin-bottom: 0;
      width: 33.33%;
    }
  }

  #edit-field-avatar-wrapper {


    label {
      display: none;
    }

    .image-preview {
      @include same(150px, height, width);
      border-radius: 50%;
      float: none;
      margin: 40px 0 30px;
      overflow: hidden;
      padding: 0;
    }

    .image-widget-data {
      @include font-size(14);
      color: $red;
      font-family: $fira;
      float: none;

      a {
        color: $red;
        text-decoration: none;

        &:hover {
          color: $red-dark;
        }
      }

      summary {
        outline: none;
      }

      .form-submit {
        @include font-size(14);
        background: none;
        border: none;
        font-family: $fira;
        font-weight: 400;
        letter-spacing: normal;
        margin: 10px 0 0;
        padding: 0;
      }
    }

    .image-data__crop-wrapper {
      margin-top: 10px;
    }

    .vertical-tabs {
      border: none;
      margin: 0;
    }

    .vertical-tabs__menu {
      display: none;
    }
  }

  #user-details,
  #organisation-details,
  #interests-wrapper,
  #contact-details,
  #address-details,
  #managers-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
    padding: 20px 0;

    .ie9 & {
      @include clearfix;
      display: block;
      flex: none;
      //overflow: hidden;

      .form-wrapper {
        float: left;
      }
    }

    .form-wrapper {
      padding: 0 40px;
      width: 50%;

      .form-wrapper {
        padding: 0;
        width: 100%;
      }
    }
  }

  #organisation-details {
    justify-content: flex-end;

    .form-wrapper {
      .ie9 & {
        &:last-child {
          float: right;
        }
      }
    }
  }

  #interest {
    .form-wrapper {
      margin: 0 auto 15px;
      padding: 20px 40px;
      width: 50%;

      label {
        display: none;
      }
    }
  }

  #contact-details {
    justify-content: flex-end;

    > .form-wrapper {
      margin-bottom: 35px;

      .ie9 & {
        &:last-child {
          float: right;
        }
      }
    }

    label {
      display: none;
    }

    .paragraph-type-top {
      top: -30px;
    }
  }

  #edit-account {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
    padding: 20px 0;

    .ie9 & {
      @include clearfix;
      display: block;
      flex: none;
      //overflow: hidden;

      > .form-item {
        float: left;
      }
    }

    > .form-item {
      margin: 0;
      padding: 0 40px;
      width: 50%;
    }

    fieldset {
      legend {
        margin-bottom: 10px;

        span:after {
          content: ":";
        }
      }

      .fieldset-wrapper {
        margin-bottom: 25px;
      }
    }
  }

  body.fr & {
    #edit-mail {
      .form-item-mail-mail2 {
        .email-suffix {
          label.error {
            top: 80px;
          }
        }
      }
    }
  }

  .role-status-wrapper {
    display: flex;
    margin-bottom: 15px;
    padding-bottom: 20px;
    width: 100%;

    legend {
      margin-bottom: 10px;
    }

    fieldset {
      padding: 0 40px;
      margin: 0;
      width: 50%;
    }
  }

  #edit-field-organisations-wrapper,
  #contact-details {
    margin-bottom: 15px;
    padding: 20px 0;

    .paragraph-type-title {
      display: none;
    }

    strong {
      display: block;
      font-weight: 400;
      margin-bottom: 20px;
    }

    .form-submit {
      @include font-size(14);
      background: transparent;
      border: none;
      font-family: $fira;
      letter-spacing: 0;
      padding: 0;
      text-transform: none;

      &.field-add-more-submit {
        background: url(../images/add-plus-button.png) left top no-repeat;
        padding-left: 21px;
      }

      &:hover {
        background-position: left bottom;
        color: $red-dark;
        transform: none;
      }
    }
  }

  #edit-field-organisations-wrapper,
  #edit-field-skype-or-other-wrapper {
    .field-add-more-submit {
      margin-left: 40px;
    }

    > .ajax-new-content {
      padding: 0 40px;

      .field-add-more-submit {
        margin-left: 0;
      }

      .field--name-field-organisation,
      thead .label {
        padding-left: 0;
      }

      .field--name-field-job-title,
      .paragraph-type-top {
        padding-right: 0;
      }
    }
  }

  #edit-field-skype-or-other-wrapper {
    .paragraphs-subform {
      .ie9 & {
        overflow: visible;
      }

      .field--name-field-type {
        width: 33.33%;
      }

      .field--name-field-account {
        padding-left: 10px;
        width: 66.64%;
      }
    }

    .ajax-new-content {
      padding: 0;
    }

    .paragraph-type-top {
      top: -20px;
    }

    label {
      &.error {
        right: auto;
        left: 0;
        top: -23px;
      }
    }

    .form-submit {
      &.field-add-more-submit {
        margin-left: 0;
      }
    }

    .ie11 &,
    .ie10 & {
      table,
      tbody,
      tr {
        display: block;
        clear: both;
      }
    }
  }

  #edit-field-organisations,
  #edit-field-skype-or-other,
  #edit-field-mobilephone-wrapper,
  #edit-field-telephone-wrapper {
    padding: 0 40px;
    position: relative;

    .field-add-more-submit {
      margin-left: 0;
    }
  }

  table {
    margin: 0 !important;
    width: 100%;

    th,
    td {
      padding: 0 !important;
      position: relative;
    }

    td {
      display: block;
      min-height: 50px;
    }

    .field-multiple-drag {
      display: none;
    }

    .paragraph-type-top {
      padding-right: 40px;
      position: absolute;
      top: 0;
      right: 0;
      z-index: 10;
    }

    .paragraphs-subform {
      display: flex;
      flex-wrap: wrap;

      .ie9 & {
        @include clearfix;
        display: block;
        flex: none;
        //overflow: hidden;

        .form-wrapper {
          float: left;
        }
      }

      .form-wrapper {
        padding: 0 40px;
        width: 50%;
      }
    }

    .dropbutton-wrapper {
      min-height: 0;

      &.open {
        .dropbutton-toggle {
          top: -9px;
        }

        .dropbutton-arrow {
          border-top-color: transparent;
          border-bottom-color: $red-dark;
        }
      }

      .dropbutton-toggle {
        bottom: auto;
        top: 9px;

        button {
          height: 15px;
          margin-top: -13px;
        }
      }

      .dropbutton-arrow {
        border-top-color: $red-dark;
      }
    }

    .confirm-remove,
    .restore {
      .form-submit {
        margin-top: 0 !important;
      }
    }
  }

  thead {
    .label {
      @include font-size(18.2);
      font-family: $oswald;
      font-weight: 400;
      letter-spacing: .5px;
      line-height: 20px;
      margin: 0;
      padding-bottom: 10px;
      text-align: left;
    }
  }

  #edit-field-organisations-wrapper {
    thead {
      .label {
        padding: 0 40px 10px;
      }
    }

    .ie11 &,
    .ie10 & {
      table,
      thead,
      tbody,
      tr,
      th {
        display: block;
        clear: both;
      }
    }

    .field--name-field-job-title {
      label.error {
        right: 60px;
        top: -3px;
      }
    }
  }

  .paragraphs-dropbutton-wrapper .form-submit,
  .field-add-more-submit.form-submit {
    font-weight: 400;
    margin: 0;
  }

  .form- {
    &checkbox,
    &radio {
      ~ label {
        display: inline-block;
        margin-left: 5px;
        vertical-align: top;
      }
    }
  }

  #edit-status--wrapper,
  #edit-roles--wrapper {
    .form- {
      &checkbox,
      &radio {
        ~ label {
          &:after {
            content: none;
          }
        }
      }
    }
  }

  #edit-field-disclose-your-personal-det-wrapper {
    padding: 20px 40px;
    margin-bottom: 14px;
  }

  #edit-subscriptions {
    padding: 0 40px;
  }

  label {
    &:after {
      content: none;
    }
  }

  .form-submit {
    background: none;
    border-color: $red;
    font-weight: 700;
    margin: 0 auto 15px;
    text-transform: none;

    &:not(.js-hide) {
      display: block;
    }

    &:hover {
      border-color: $red-dark;
      color: $red-dark;
      transform: none;
    }
  }

  .ajax-progress-throbber {
    position: absolute;
    left: 50%;
  }
}

@include breakpoint-for('.form-my-settings', (to: laptop-small)) {
  #edit-field-avatar-wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }

  .field--name-field-person-titles {
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;

    .form-item {
      width: 100%;
    }
  }

  #user-details,
  #organisation-details,
  #interests-wrapper,
  #contact-details,
  #address-details,
  #managers-wrapper {
    .form-wrapper {
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  #edit-account {
    > .form-item {
      padding: 0 20px;
    }
  }

  #organisation-details {
    justify-content: flex-start;

    .field--name-field-organisation {
      width: 100%;
    }
  }

  #edit-field-organisations-wrapper {
    thead {
      .label {
        padding-left: 20px;
      }
    }
  }

  #edit-field-skype-or-other-wrapper,
  #edit-field-organisations-wrapper {
    > .ajax-new-content {
      padding: 0 20px;
    }

    .field-add-more-submit {
      margin-left: 20px;
    }
  }

  #edit-field-organisations {
    padding: 0 20px;

    .field-add-more-submit {
      margin-left: 0;
    }
  }

  table {
    .paragraph-type-top {
      padding-right: 20px;
    }

    .paragraphs-subform {
      .form-wrapper {
        padding: 0 20px;
      }
    }
  }

  #edit-field-disclose-your-personal-det-wrapper {
    padding: 20px;
  }

  #edit-subscriptions {
    padding: 0 20px;
  }
}

@include breakpoint-for('.form-my-settings', (to: tablet)) {
  #edit-field-avatar-wrapper {
    padding-left: 10px;
    padding-right: 10px;
  }

  .field--name-field-person-titles {
    padding-left: 0;
    padding-right: 0;
  }

  #user-details,
  #organisation-details,
  #interests-wrapper,
  #contact-details,
  #address-details,
  #managers-wrapper {
    .form-wrapper {
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  #edit-account {
    > .form-item {
      padding: 0 10px;
    }
  }

  body.fr & {
    label {
      @include font-size(16);

      &.error {
        font-size: 14px !important;
      }
    }

    #edit-mail {
      margin-bottom: 20px;
    }
  }

  #edit-field-organisations-wrapper {
    .field--name-field-job-title {
      label.error {
        bottom: 5px;
        right: 0;
        top: auto;
      }
    }

    thead {
      .label {
        padding-left: 10px;
      }
    }
  }

  #interests-wrapper,
  #contact-details {
    .form-wrapper {
      width: 100%;
    }
  }

  #edit-field-skype-or-other-wrapper,
  #edit-field-organisations-wrapper {
    > .ajax-new-content {
      padding: 0 10px;
    }

    .field-add-more-submit {
      margin-left: 10px;
    }
  }

  #edit-field-skype-or-other-wrapper {
    .paragraphs-subform {
      .field--name-field-type,
      .field--name-field-account {
        padding: 0;
        width: 100%;
      }
    }
  }

  #edit-field-organisations {
    padding: 0 10px;

    .field-add-more-submit {
      margin-left: 0;
    }
  }

  table {
    .paragraph-type-top {
      padding-right: 10px;
    }

    .paragraphs-subform {
      .form-wrapper {
        padding: 0 10px;
      }
    }
  }

  #edit-field-disclose-your-personal-det-wrapper {
    padding: 10px;
  }

  #edit-subscriptions {
    padding: 0 10px;
  }
}

@include breakpoint-for('.form-my-settings', (to: mobileL)) {
  #user-details,
  #organisation-details,
  #interests-wrapper,
  #contact-details,
  #address-details,
  #managers-wrapper {
    .form-wrapper {
      width: 100%;
    }
  }

  #edit-account {
    > .form-item {
      width: 100%;
    }
  }

  #edit-field-skype-or-other-wrapper,
  #edit-field-organisations-wrapper {
    > .ajax-new-content {
      width: 100%;
    }
  }

  table {
    .paragraph-type-top {
      width: 100%;
    }

    .paragraphs-subform {
      .form-wrapper {
        width: 100%;
      }
    }
  }
}


@media screen  and (max-width: 991px) {
 .form-my-settings #edit-field-avatar-wrapper {
    margin: 0 auto;
    text-align: center;
    width: 100%;

    .image-preview {
      margin: 40px auto 30px;
    }
  }
}

.full-width-search {
  background: $white;
  margin: 50px auto 27px;
  max-width: 1160px;
  padding: 42px;

  .form-text {
    @include font-size(19.6);
    height: 70px;
    margin-bottom: 0;
    padding-left: 20px;
  }

  .search-form-wrapper {
    .form-submit {
      height: 100%;
    }
  }
}

@include breakpoint-for('.full-width-search', (to: mobileL)) {
  padding: 5px;

  .form-text {
    height: 50px;
  }
}

// Paragraph webform

.webform-title {
  text-align: center;
  margin-bottom: 30px;

  &::after {
    content: ' ';
    background: #ea3a32;
    display: block;
    height: 2px;
    margin: auto;
    width: 180px;
  }

  h3 {
    @include font-size(36);
    margin-bottom: 20px;
    line-height: 1.45;
  }
}

.webform-body {
  .form-composite {
    margin: 0 0 30px;

    // Title (Legend)
    .fieldset-legend {
      font-weight: 500;
      display: block;
    }
    .fieldset-wrapper {
      padding-top: 20px;
    }
  }
  // Radio buttons
  .js-form-type-radio,
  .js-form-type-checkbox {
    margin: 0 0 20px;
    display: block;

    label {
      line-height: 1.2;
    }
  }

  // Form actions
  .form-actions {
    text-align: center;
  }
}

// ----------------------------------------------------------------------------
// Event form
.content-add-form {

  .node-form {
    margin: 0 auto 80px;
    max-width: 770px;
    padding: 0 40px;

    .description {
      @include font-size(15.4);
      color: $navy;
      margin-bottom: 30px;
    }

    select {
      optgroup {
        color: #FC000E;
        font-weight: 500;
        font-style: italic;
      }

      option {
        color: #000;
        font-style: normal;
      }
    }

    .form-item:not(.js-form-type-managed-file) {
      position: relative;
      padding-top: 5px;

      .description {
        position: absolute;
        top: 0;
        right: 0;
        text-align: right;

        &:before {
          content: "?";
          display: inline-block;
          padding-top: 5px;
          width: 30px;
          height: 30px;
          border-radius: 100%;
          background-color: #283b44;
          color: white;
          text-align: center;
          font-size: 18px;
          transition: opacity 0.2s ease 0s;
          cursor: pointer;
        }

        &-inner {
          z-index: 500;
          position: absolute;
          top: 5px;
          right: 40px;
          display: none;
          padding: 20px;
          width: 300px;
          background-color: #283b44;
          color: white;
          font-size: 14px;
          text-align: left;
          box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, .21);
        }

        &:hover {
          &:before {
            opacity: 0.79;
          }

          .description-inner {
            display: block;
          }
        }
      }
    }

    input + .description {
      margin-top: -5px;
    }

    .horizontal-tabs {
      border: 0;
      margin: 0;
    }

    // Tabs list
    // Drag functionality
    .horizontal-tabs-list,
    .tabledrag-toggle-weight-wrapper {
      display: none;
    }

    .horizontal-tabs-pane {
      padding: 0;
    }

    // CK editor
    .cke_chrome {
      border: 1px solid #fafafa;
      box-shadow: 0 0 5px rgba($black, .06);
    }

    .cke_top,
    .cke_bottom {
      border: 0;
    }

    // Drag table items
    #field-date-values {
      width: 100%;

      h4 {
        font-family: $oswald;
        margin-top: 18px;
        display: inline-block;
        vertical-align: top;
        min-width: 150px;
        font-weight: 300;

        + div {
          margin-bottom: 30px;

          @media screen and (min-width: 645px) {
            margin-bottom: 0;
            display: inline-block;
            width: calc(100% - 160px);
          }
        }
      }

      th h4 {
        text-align: left;
        display: block;
        font-weight: 400;
      }

      .form-date {
        width: 100%;

        @media screen and (min-width: 480px) {
          width: auto;
        }
      }
    }

    .image-widget,
    .form-managed-file {
      margin-bottom: 20px;
    }

    .form-managed-file {
      .file {
        margin-right: 20px;

        ~ .form-submit {
          @include font-size(15);
          padding: 10px 15px;
        }
      }
    }

    .delta-order,
    .field-multiple-drag {
      display: none;
    }

    // Date
    .js-form-type-date {
      display: block;
      margin-bottom: 25px;

      @media screen and (min-width: 480px) {
        display: inline-block;
        vertical-align: middle;
        margin: 0 20px 35px 0;
      }

      input[type="time"] {
        padding: 10px;
        width: 100%;

        @media screen and (min-width: 480px) {
          width: auto;
        }
      }

      .form-date {
        margin-bottom: 0;
      }

      input ~ label.error {
        top: 100%;
        @include font-size(14);

        @media screen and (min-width: 480px) {
          @include font-size(16);
          top: -20px;
        }
      }
    }

    .field--type-daterange {
      .form-submit {
        @include font-size(16.8);
        border: 0;
        text-transform: none;
        background: #e9ecee;
        color: $red;
        cursor: pointer;
        display: inline-block;
        font-family: $oswald;
        padding: 15px 40px;
        vertical-align: top;

        &:hover {
          color: $red-dark;
        }
      }
    }

    // Fieldset
    fieldset {
      border: 0;
      padding: 0;
      margin: 0 0 30px;

      legend {
        padding: 0;
        margin-bottom: 10px;
      }
    }

    // Summary / Body
    .field--type-text-with-summary {
      margin: 0 0 40px;

      .filter-wrapper {
        display: none;
      }
    }

    // Summary edit link
    .link-edit-summary {
      background: none;
      color: $red;
      text-decoration: none;
    }

    // Form actions
    .form-actions {
      text-align: center;
    }

    // Multiple select
    .form-select[multiple='multiple'] {
      min-height: 200px;
    }

    // Paragraph
    .paragraph-type-top {
      background: $white-dark;
      align-items: center;
      margin: -20px -20px 30px -20px;

      // Header
      .paragraph-type-title {
        padding-left: 20px;
      }

      // Remove button
      .paragraphs-dropbutton-wrapper {
        position: relative;

        .form-submit {
          @include font-size(15);
          background: transparent;
          border: 0;
          padding: 10px 15px;
        }
      }
    }

    .field--name-field-document {
      border: 1px solid $white-dark;
      padding: 20px;

      // Ajax throbber override
      .ajax-progress {
        position: absolute;
        width: 30px;
        height: 30px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin-left: -15px;
        z-index: 100;
      }

      // No paragraphs message
      strong {
        margin-bottom: 20px;
        display: block;
        font-weight: 400;

        + {
          .form-wrapper {
            margin-bottom: 20px;
          }
        }
      }

      // Dropdown
      .dropbutton-multiple.open {
        .dropbutton-arrow {
          border-bottom-color: $navy;
          border-top-width: 0;
        }
      }

      .dropbutton-action {
        text-align: left;

        .form-submit {
          background: $navy;
          width: 100%;
          padding: 10px;
          font-size: 16px;
          text-transform: none;
          border: 0;
          text-align: left;
          color: #fff;
        }
      }

      .dropbutton-arrow {
        border-top-color: $navy;
      }

      // Bottom form
      .paragraphs-subform {

        // Hide duplicated status message
        .status-message {
          display: none;
        }

        // Show message only if it appear in form element
        .form-item {
          .status-message {
            @include font-size(16);
            line-height: 1.2;
            display: block;
            padding: 10px;
            margin-bottom: 10px;
          }
        }
      }
    }
  }
}

.article-delete-node {

  .node-news-delete-form {
    @include font-size(24);
    text-align: center;
    text-transform: uppercase;
    color: $red;
  }

  .form-actions {
    @include font-size(16);
    margin-top: 40px;
    text-transform: none;

    a {
      text-decoration: none;
      margin: 0 40px;
    }
  }
}

@include breakpoint-for('.content-add-form', (to: laptop-small)) {
  .node-form,
  #block-ample-page-title {
    padding-right: 0;
    padding-left: 0;
    width: 100%;
  }

  .horizontal-tabs {
    padding-left: 0;
    padding-right: 0;
  }

  .form-item:not(.js-form-type-managed-file) {
    position: relative;

    .description {
      &-inner {
        top: 35px;
        right: -10px;
      }
    }
  }
}
