<div class="main-wrapper">
  <div class="left-sidebar">
    {{ content.left_sidebar|without('#prefix', '#suffix') }}
  </div>

  <div class="right-sidebar">
    {{ content.right_sidebar|without('#prefix', '#suffix') }}
  </div>
</div>
