{% for item in items %}
  <span itemscope="" class="location">
    <meta itemprop="latitude" content="{{ item.content['#lat'] }}">
    <meta itemprop="longitude" content="{{ item.content['#lng'] }}">
  </span>
{% endfor %}
