<section class="content-container">
  <div class="region-wrapper">
    <section class="content">
      <article role="article">
        <div class="title-wrapper">
          <h1 class="anchor-title page-title" role="heading">
            {{ 'Terms & Conditions'|t }}
          </h1>
          <div class="line"></div>
        </div>

        {% for item in items %}
          {{ item.content }}
        {% endfor %}

      </article>
  </div>
</section>
