{% for item in items %}
  {% set region = item.content|render %}
  {% if region is not empty %}
    <a href="#" {{ item.attributes.addClass('project-link font-social-icon country-icon') }}>
      <span>{{ "Part of the @region Region"|t({ '@region': region }) }}</span>
    </a>
  {% endif %}
{% endfor %}
