<div class="item event">
  <a href="{{ url }}" rel="bookmark">
    {% if content.field_image %}
      {{ content.field_image|field_value }}
    {% endif %}

    <div class="post-info">
      {{ content.field_date }}
    </div>

    <h2>{{ label }}</h2>
  </a>
</div>
