<div{{ attributes.addClass('item').addClass('videos').addClass('list-item') }}>
  <a href="{{ url }}" rel="bookmark">
  <div class="videos-container view-list-container">
    {{ content.field_video_thumnail }}
  </div>
</a>
</div>
