<input{{ attributes }} />{{ children }}

{% if element['#name'] == 'pass[pass2]' %}
  <div class="description">
    <p>
      {{ 'Passwords must be at least 8 characters in length. A minimum of 1 lower case letter, 1 upper case letter, 1 numeric character, 1 special character.'|t }}
    </p>
  </div>
{% endif %}
