{#
/**
 * @file
 *
 * This file is also used in views-view-unformatted--list-of-projects--block-6.html.twig
 */
#}
<div class="country-list">
  {% for row in rows %}
    <div class="country-item">
      <div class="country-content">
        {{ row.content }}
      </div>
    </div>
  {% endfor %}
</div>
