{#
/**
 * @file
 *
 * This file is also used in:
 * views-view-unformatted--list-of-projects--block-8.html.twig
 */
#}

<div class="project-list">
  {% for row in rows %}
    {{ row.content }}
  {% endfor %}
</div>
