<div class="wrapper-view-list resources-list">
  <div class="top-text-region">
    <div class="title-wrapper">
      <h1>{{ 'Our documents'|t }}</h1>
      <div class="line"></div>
    </div>
  </div>
  {% for row in rows %}
    {{ row.content }}
  {% endfor %}
</div>
