<p><strong>{{ 'P4H Members'|t }}:</strong></p>

<div class="partners">
  <ul class="item-list">
    {{content.field_member_icons|field_value}}
  </ul>
</div>

{% if content.field_copyright_text|field_value %}
  <p>{{ content.field_copyright_text|field_value }}</p>
{% endif %}
