<div class="teaser corners">
  {{ content.field_link }}

  {% if content.field_link_description|field_value %}
    <p>
      {{ content.field_link_description|field_value }}
    </p>
  {% endif %}
</div>
