{% if attributes.toArray() is not empty %}
<div{{ attributes }}>
  {% endif %}
  {% block content %}
    {{ content }}
  {% endblock %}
  {% if attributes.toArray() is not empty %}
</div>
{% endif %}
