{{ attach_library('ample/map') }}
<script async defer src="//maps.googleapis.com/maps/api/js?key={{ key }}"></script>

<div id="map"></div>

<div class="overlay-wpapper">
  <h1 role="heading">
    {{ configuration.header }}
  </h1>

  <div class="description">
    {{ configuration.description }}
  </div>
</div>

