<div class="teaser corners">
  <a href="{{ content.field_link[0]['#url'] }}">
    <h2 role="heading">
      {{ content.field_link[0]['#title'] }}
    </h2>

    {% if content.field_link_description|field_value %}
      <p>
        {{ content.field_link_description|field_value }}
      </p>
    {% endif %}
  </a>
</div>
