<table>
  <tr>
    <td{{ attributes }}>
      <div class="newsletter-large-image">
        {{ content.field_image }}
        <div class="newsletter-bg">
          {{ content.body }}
        </div>
      </div>

      {% if content.childs|length %}
        <table>
          {% for row in content.childs|batch(2, ' ') %}
            <tr>
              {% for subentity in row %}
                <td>{{ subentity }}</td>
              {% endfor %}
            </tr>
          {% endfor %}

        </table>
      {% endif %}
    </td>
  </tr>
</table>

