{{ build }}

<table width="100%" style="background-color: #f5f5f5; font-size: 12px; line-height: 1.4; padding: 20px 10px; text-align: center;" cellspacing="0" cellpadding="0">
  <tr>
    <td style="padding-bottom: 10px;">
      <p style="font-size: 13px; line-height: 1.4; text-align: center; margin: 0;"><strong>P4H Members:</strong></p>
    </td>
  </tr>
  <tr>
    <td align="center" style="text-align: center; padding-bottom: 10px;">
      <div style="display: inline-block; vertical-align: top; margin: 0 10px; padding: 10px 0;">
        <a href="#">
          <img style="height: 35px;" src="http://uploads.webflow.com/585112966264df375d6ffa87/5853bddf10ceda66486bd115_theworldbank2_blue.svg" alt="">
        </a>
      </div>
      <div style="display: inline-block; vertical-align: top; margin: 0 10px; padding: 10px 0;">
        <a href="#">
          <img style="height: 35px;" src="http://uploads.webflow.com/585112966264df375d6ffa87/5853bdfb6414b2244c3c58a2_WHO._blue.svg" alt="">
        </a>
      </div>
      <div style="display: inline-block; vertical-align: top; margin: 0 10px; padding: 10px 0;">
        <a href="#">
          <img style="height: 35px;" src="http://uploads.webflow.com/585112966264df375d6ffa87/5853be0a83194999407c04f8_african-development-bank_blue.svg" alt="">
        </a>
      </div>
      <div style="display: inline-block; vertical-align: top; margin: 0 10px; padding: 10px 0;">
        <a href="#">
          <img style="height: 35px;" src="http://uploads.webflow.com/585112966264df375d6ffa87/5853bded0f691332411a54ac_ilo-logo-vector_blue.svg" alt="">
        </a>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <p style="font-size: 12px; line-height: 1.4; text-align: center; margin: 0;">
        <a href="[simplenews-subscriber:unsubscribe-url]">Unsubscribe</a> © by P4H-network 2017
      </p>
    </td>
  </tr>
</table>

{#{% if not opt_out_hidden %}#}
    {% if format == 'html' %}
        <p class="newsletter-footer"><a
                    href="[simplenews-subscriber:unsubscribe-url]">{{ unsubscribe_text }}</a>
        </p>
    {% else %}
        -- {{ unsubscribe_text }} : [simplenews-subscriber:unsubscribe-url]
    {% endif %}
{#{% endif %}#}

{% if key == 'test' %}
    - - - {{ test_message }} - - -
{% endif %}
