<h2 style="font-family: Arial, 'sans-serif'; text-align: center;">
  <a style="font-family: Arial, 'sans-serif'; text-align: center; color: #333; text-decoration: none;" href="{{ path('entity.node.canonical', {'node': node.id()}) }}">
    <span style="font-family: Arial, 'sans-serif'; text-align: center; color: #333; ">{{ title }}</span>
  </a>
</h2>

{{ build }}

<table width="100%" style="font-size: 12px; line-height: 1.4; padding: 20px 10px; text-align: center;" cellspacing="0" cellpadding="0">
  <tr>
    <td style="padding: 20px 0 0;">
      <table id="footer" width="100%" style="background-color: #f5f5f5; font-size: 12px; line-height: 1.4; text-align: center;" cellspacing="0" cellpadding="0">
        <tr>
          <td style="padding-bottom: 10px;">
            <p style="font-family: Arial, 'sans-serif'; font-size: 13px; line-height: 1.4; text-align: center; margin: 0;"><strong>P4H Members:</strong></p>
          </td>
        </tr>
        <tr>
          <td align="center" style="text-align: center; padding-bottom: 10px;">
            {{ icons }}
          </td>
        </tr>
        <tr>
          <td>
            <p style="font-family: Arial, 'sans-serif'; font-size: 12px; line-height: 1.4; text-align: center; margin: 0;">
              <a href="[simplenews-subscriber:unsubscribe-url]" style="font-family: Arial, 'sans-serif'; font-size: 12px; color: #333333;">Unsubscribe</a> © by P4H-network 2017
            </p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
