<div class="faq-title accordion-title">
  <h3>{{ content.field_question|field_value }}</h3>
</div>
<div class="faq-content accordion-content">
  <div class="faq-body">
    {{ content.field_answer|field_value }}
  </div>
</div>
