<article class="basic-page" data-anchor-id="{{ node.id }}" id="{{ node.id }}" role="article">
  <h2 class="anchor-title" role="heading">
    {{ label|field_value }}
  </h2>

  {{ content }}
</article>
