{#
/**
 * @file
 *
 * This file is also used in:
 * views-view-unformatted--news-and-events-group--closed-documents-by-group.html.twig
 */
#}

<div class="document-list">
  {% for row in rows %}
    {{ row.content }}
  {% endfor %}
</div>
