{% if private_content is null %}
  <div class="paragraph">
    {{ content.field_icon|field_value }}

    <h2 role="heading">
      {{ content.field_title|field_value }}
    </h2>

    {% if content.field_value %}
      <span class="value">
        : {{ content.field_value|field_value }}
      </span>
    {% endif %}
  </div>
{% endif %}
