{% if private_content is null %}
  <div class="paragraph">
    {{ content.field_icon|field_value }}

    <h2 role="heading">
      {{ content.field_title|field_value }}: {{ content.field_value|field_value }}
    </h2>
  </div>
{% endif %}
