{% if content %}
  <a href="{{ path('entity.user.canonical', {'user': user.id()}) }}">
    <div class="font-social-icon person-icon">
      <span></span>
    </div>
    <div class="name">
      {% if content.field_first_name %}
        {{ content.field_first_name }}
      {% endif %}

      {% if content.field_last_name %}
        {{ content.field_last_name }}
      {% endif %}
    </div>
  </a>
{% endif %}
