{{ title_preffix }}
<div class="region-title">
  <h3 role="heading">
    {{ content.label }}
  </h3>
</div>
{{ title_suffix }}

{{ drupal_view('search_for_a_country_or_region', 'embed_1', group.id.value) }}
