.article-add-node,
.article-edit-node,
.article-delete-node {
  .content-container {
    max-width: 1160px;
    padding-bottom: 70px;
  }

  #block-ample-page-title {
    margin: 0 auto 40px;
    position: relative;
    text-align: center;
    width: 66.64%;

    &:after {
      content: "";
      background: $red;
      display: block;
      height: 2px;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 180px;
    }

    h1 {
      @include font-size(67.2);
      line-height: 78px;
      padding-bottom: 40px;
    }

    .placeholder {
      color: $navy;
      font-style: normal;
    }
  }

  .node-form,
  .node-article-delete-form {
    margin: 0 auto;

    @media screen and (min-width: 1280px) {
      width: 66.64%;
    }

    label:not(.error) {
      &:after {
        content: ":";
      }

      &.form-required {
        &:after {
          content: ": *";
        }
      }
    }
  }

  .node-article-delete-form {
    text-align: center;

    .form-actions {
      margin-top: 50px;
    }

    #edit-cancel {
      @extend .form-submit;
      text-decoration: none;
    }
  }

  .horizontal-tabs {
    border: none;
    padding: 20px 40px;
  }

  .horizontal-tabs-list,
  .filter-wrapper,
  .js-form-type-vertical-tabs,
  #edit-preview {
    display: none;
  }

  details {
    padding: 0;

    summary {
      display: none;
    }
  }

  .field--type-datetime {
    h4 {
      @include font-size(18.2);
      font-family: $oswald;
      font-weight: 400;
      margin-top: 0;

      &:after {
        content: ":";
      }
    }
  }

  .image-widget {
    margin-bottom: 20px;

    .form-submit:not(.js-hide) {
      display: block;
      margin-top: 25px;
    }
  }
  .description {
    @include font-size(15.4);
    color: $navy;
    margin-right: 0;

    br {
      display: none;
    }
  }

  .field--name-body {
    margin: 55px 0 40px;

    button {
      background: transparent;
    }
  }

  .text-summary-wrapper {
    margin-bottom: 25px;

    .form-textarea {
      margin-bottom: 5px;
    }
  }

  .form-actions {
    text-align: center;

    .form-submit {
      margin: 0 5px;
    }
  }

  #edit-delete {
    @extend .form-submit;
    text-decoration: none;
  }
}

.article-delete-node {
  .node-article-delete-form {
    .form-actions {
      .button,
      #edit-cancel {
        display: inline-block;
        line-height: normal;
        margin: 5px;
        vertical-align: top;
      }
    }
  }
}

@include breakpoint-for('.article-add-node, .article-edit-node, .article-delete-node', (to: laptop-small)) {
  .node-form,
  #block-ample-page-title {
    padding-right: 0;
    padding-left: 0;
    width: 100%;
  }

  .horizontal-tabs {
    padding-left: 0;
    padding-right: 0;
  }

  .form-item:not(.js-form-type-managed-file) {
    position: relative;

    .description {
      &-inner {
        top: 35px;
        right: -10px;
      }
    }
  }
}

@include breakpoint-for('.article-delete-node', (to: mobileL)) {
  #block-ample-page-title {
    h1 {
      @include font-size(40);
      line-height: 48px;
      padding-top: 0;
    }
  }

  .node-article-delete-form {
    width: 100%;

    .form-actions {
      .button,
      #edit-cancel {
        @include font-size(16);
        padding: 10px 25px;
      }
    }
  }
}
