.calendar-wrapper {
  position: relative;
}

#calendar {
  font-family: $oswald;
  letter-spacing: 1px;

  .fc-left {
    float: none;

    button {
      @include font-size(15.4);
      background: none;
      border: none;
      box-shadow: none;
      float: none;
      height: auto;
      margin: 0;
      padding: 9px 30px;
    }

    .fc-state-active {
      color: $red;
    }
  }

  .fc-center {
    margin: 30px 0;

    h2 {
      @include font-size(33.6);
      color: $navy;
      line-height: 24px;
      margin: 0;
    }
  }

  .fc-prev-button,
  .fc-next-button {
    background: none;
    border: none;
    box-shadow: none;
    margin: 0;
    padding: 0;
  }

  .fc-icon {
    margin: 0 15px;

    &:after {
      @include font-size(33.6);
      color: $navy;
      font-family: $p4h;
    }

    &:hover {
      &:after {
        color: $red;
      }
    }
  }

  .fc-icon-right-single-arrow {
    &:after {
      content: "9";
    }
  }

  .fc-icon-left-single-arrow {
    &:after {
      content: "8";
    }
  }

  th {
    color: #afb7bb;
    font-weight: 400;
    text-align: right;
  }

  .fc-year-main-table {
    > tbody {
      > tr {
        display: inline-block;
        vertical-align: top;
        width: 25%;
      }
    }

    * {
      border: none;
    }
  }

  .fc-month-view {
    .fc-week-number {
      @include font-size(11.2);
      border: none;

      &.fc-widget-header {
        visibility: hidden;
      }
    }

    th,
    td {
      border-color: #ced9df;
    }

    .fc-widget-header {
      @include font-size(18.2);
      border: none;
      color: $navy-dark;
      min-height: 39px;
      text-align: center;
    }

    td {
      border-top: none;
      border-left: none;
    }

    td {
      border-bottom: none;
    }

    .fc-week {
      background: $white;
      border-bottom-width: 1px;
    }

    .fc-day-number {
      padding: 10px 5px;
    }

    .today {
      @include same(23px, height, width);
      background: $red;
      border-radius: 50%;
      color: $white;
      display: inline-block;
      line-height: 21px;
      text-align: center;
      vertical-align: top;
    }

    .fc-widget-content {
      .fc-sat,
      .fc-sun {
        background: #e9ecee;
      }
    }
  }

  .fc-day-grid-container,
  .fc-year-monthly-td .fc-week {
    height: auto !important;
  }

  .fc-year-monthly-name {
    height: 35px;

    a {
      @include font-size(18.2);
      font-weight: 400;
    }
  }

  .fc-year-view {
    .fc-week-number-head {
      @include font-size(14);
      height: 35px;
      vertical-align: top;
      width: auto !important;
    }

    .fc-year-monthly-name {
      margin-top: 0;
    }

    .fc-week-number {
      width: auto !important;
    }

    .fc-day-grid {
      .fc-row {
        min-height: 35px;
      }
    }

    .fc-content-skeleton {
      tbody {
        display: none;
      }
    }

    .has-event:not(.fc-other-month) {
      cursor: pointer;

      &:before {
        @include same(4px, height, width);
        background: $red-dark;
        border-radius: 50%;
        content: "";
        display: block;
        position: absolute;
        top: 14px;
        right: 20px;
      }
    }
  }

  .fc-year-month-separator {
    display: none;
  }

  .fc-year-monthly-td {
    font-weight: 400;
    padding: 15px;
    padding-left: 0;

    table {
      @include font-size(14);
    }
  }

  .fc-day-number {
    color: $navy;
    padding-top: 5px;
  }

  .fc-other-month {
    color: #d7dbdd;
    opacity: 1;
  }

  .fc-week-number {
    color: #afb7bb;
    padding-top: 6px;
    text-align: right;
  }

  .fc-today {
    background: transparent;
    color: $red;
  }

  .ajax-progress {
    position: fixed;
    left: 50%;
    top: 50%;
  }

  .has-event:not(.fc-other-month) {
    position: relative;
  }
}

.reviews-wrapper {
  .field-content {
    display: block;
    line-height: 24px;
    margin-bottom: 10px;
  }

  .like,
  .dislike {
    display: inline-block;
    padding-left: 20px;
    position: relative;
    text-indent: -9999px;
    vertical-align: top;

    &:after {
      @include font-size(19.6);
      font-family: $p4h;
      font-weight: 700;
      position: absolute;
      left: 0;
      top: 0;
    }
  }

  .like {
    &:after {
      content: "Y";
      color: $green;
      display: block;
      text-indent: 0;
    }
  }

  .dislike {
    &:after {
      content: "U";
      color: $red;
      display: block;
      text-indent: 0;
    }
  }
}

@include breakpoint-for('#calendar', (to: laptop-small)) {
  .fc-year-main-table {
    > tbody {
      > tr {
        width: 33.33%;
      }
    }
  }
}

@include breakpoint-for('#calendar', (to: tablet)) {
  .fc-year-main-table {
    > tbody {
      > tr {
        width: 50%;
      }
    }
  }
}

@include breakpoint-for('#calendar', (to: mobileL)) {
  .fc-year-main-table {
    > tbody {
      > tr {
        width: 100%;
      }
    }
  }
}

#event-response {
  background: $white;
  border: 1px solid #afb7bb;
  font-family: $fira;
  height: 65%;
  overflow-y: auto;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-37%) scale(0, 0);
  transition: transform .3s ease;
  width: 35%;
  z-index: 10;

  &.active {
    transform: translateX(-50%) translateY(-37%) scale(1, 1);
  }

  .event-title {
    @include font-size(21);
    font-weight: 400;
    line-height: 26px;
    margin: 0 0 15px;
  }

  a {
    text-decoration: none;

    &:hover {
      color: $red;
    }
  }

  .event-info-popup {
    margin-bottom: 20px;
  }

  .row {
    margin-bottom: 3px;
  }

  .label {
    font-weight: 700;
  }

  .event-body {
    line-height: 24px;
    margin-bottom: 15px;
  }
}

@include breakpoint-for('#event-response', (to: laptop-small)) {
  padding: 30px;
  width: 45%;

  &.active {
    transform: translateX(-50%) translateY(-32%) scale(1, 1);
  }
}

@include breakpoint-for('#event-response', (to: tablet)) {
  padding: 20px;
  width: 60%;

  &.active {
    transform: translateX(-50%) translateY(-25%) scale(1, 1);
  }
}

@include breakpoint-for('#event-response', (to: mobileL)) {
  padding: 15px;
  width: 90%;
}
