footer {
  @include font-size(12.6);
  border-top: 1px solid #fffcfc;
  box-shadow: 0 0 8px rgba($black, .11);
  font-family: $franklin;
  padding: 30px 0 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 300;

  body:not(.front) & {
    background-color: $white;
  }

  &:after {
    background: $white-dark url(../images/site-bg.svg) 100% 50% no-repeat;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: inset 0 0 8px rgba($black, .11);
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: .37;
    z-index: -1;

    .mobile & {
      background-attachment: scroll;
      background-position: center;
      background-size: 300%;
    }

    body:not(.front) & {
      background-color: $white;
    }
  }

  .partners {
    background: none;
  }

  h4 {
    @include font-size(14.4);
    font-family: $franklin;
    font-weight: 600;
    margin: 0 0 10px;
  }

  p {
    @include font-size(14.4);
    font-family: $franklin;
    margin-bottom: 20px;
  }
}

@include breakpoint-for('footer', (to: laptop-small)) {
  position: relative;

  > .partners {
    display: block;
  }
}
