header {
  background: $white;
  letter-spacing: 1px;
  position: relative;

  .page-page-403 &,
  .page-page-404 & {
    display: none;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  .wrapper {
    max-width: 1260px;
    margin: 0 auto;
    position: relative;

    // According to layout of second level menu
    // we need to remove relative position from wrapper
    .logged & {
      position: static;
    }
  }

  .desktop-service-links,
  .language-switcher-wrapper {
    position: absolute;
    bottom: 10px;
    right: 20px;
    height: 60px;

    .logged & {
      float: right;
      position: static;

      @include media-q(min, 1201) {
        margin: -70px 40px 0 0;
      }

      @include media-q(min, 1281) {
        margin: -70px 140px 0 0;
      }

      @include media-q(min, 1600) {
        margin: -70px 115px 0 0;
      }

      @include media-q(max, 1200) {
        margin: 0 0 0 30px;
        float: none;
      }
    }

    ul:not(.contextual-links),
    ul:not(.contextual-links) li {
      display: inline-block;
      vertical-align: top;
    }

    a {
      @include font-size(12.6);
      display: block;
      color: $navy-dark;
      font-family: $oswald;
      padding: 32px 5px 15px;
      text-decoration: none;

      .logged & {
        padding: 0 5px;

        @include media-q(max, 1200) {
          padding: 10px;
        }
      }

      &:hover {
        opacity: .7;
      }
    }
  }

  .links {
    a {
      &.is-active {
        color: $red-dark;
      }
    }
  }

  body:not(.toolbar-fixed) & {
    .header-fixed {
      top: 0;
    }

    &:not(.collapsed) {
      .header-fixed {
        top: 0;
      }
    }
  }

  .toolbar-vertical:not(.toolbar-fixed) & {
    &:not(.collapsed) {
      .bottom-head {
        padding-top: 39px;
      }
    }
  }
}

.header-static {
  
  .main-menu {
    & > div {
      padding-right: 116px;
      width: 100%;
      text-align: right;
    }
  }
  
  .desktop-service-links {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100%;

    a {
      padding-top: 42px;
      color: $white;
    }
  }

  .service-links {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100px;
    height: 100%;
    background: $primary-color-dark;
    background: linear-gradient(90deg, $primary-color-dark, $primary-color-light);
  }
}

@include breakpoint-for('header', (to: tablet)) {
  &.has-anchors {
    ~ .system-messages {
      margin-top: 57px;
    }

    ~ .dashboard-sidebar {
      padding-top: 117px;

      .toolbar-vertical & {
        padding-top: 156px;
      }

      .logged:not(.toolbar-vertical) & {
        padding-top: 60px;
      }
    }
  }
}

.header-fixed,
.header-static {
  &::after {
    content: ' ';
    position: absolute;
    background: $white;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
  }
}

.header-static {
  background: $white;
  box-shadow: 0 2px 4px rgba($black, .1);
  min-height: 120px;
  position: relative;
  text-align: center;
  transition: top .3s ease-in-out, min-height .2s ease-in-out;
  z-index: 500;

  //.logged & {
    &.without-anchors {
      min-height: 60px;
    }
  //}

  .has-anchors & {
    min-height: 98px;
  }

  body.toolbar-vertical:not(.toolbar-fixed) & {
    margin-top: 39px;
  }

  .logo-wrapper {
    .logo {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      z-index: 10;
    }

    img {
      display: block;
      height: 65px;
      width: 192px;
    }
  }

  .partners {
    display: inline-block;
    max-height: 58px;
    max-width: 60%;
    position: relative;
    z-index: 1;
  }

  .social-links {
    position: absolute;
    top: 22px;
    right: 115px;

    .logged & {
      top: 10px;
      right: 50%;
      text-align: right;
      transform: translateX(50%);
      width: 1029px;
      transition: margin-right .3s ease;
      margin-right: -10px;

      @include media-q(min, 1201) {
        margin-right: 20px;
      }

      @include media-q(min, 1281) {
        margin-right: 90px;
      }

      @include media-q(min, 1600) {
        margin-right: 65px;
      }

      a {
        @include font-size(12.6);
        color: $navy;
        display: inline-block;
        font-family: $oswald;
        padding: 3px 10px;
        transition: opacity .2s ease;
        vertical-align: top;

        &:hover {
          background: rgba($navy, .08);
          opacity: .7;
        }
      }

      .theme-switcher {
        margin-right: 0;
      }
    }

    .instagram-icon {
      > a {
        @include font-size(16);
        line-height: 24px;
      }
    }

    .youtube-icon {
      > a {
        @include font-size(40);
        line-height: 24px;
      }
    }
  }

  .language-switcher-wrapper {
    text-transform: uppercase;

    ~ .desktop-service-links {
      right: 70px;
    }

    li {
      display: inline-block;
      vertical-align: top;
    }
  }
}

// ----------------------------------------------------------------------------
// Header menu
.mobile-menu-wrapper {
  // Mobile view
  background: $grey-medium;
  box-shadow: -1px 7px 14px rgba($black, .11);
  background: $grey-medium;
  height: calc(100% - 60px);
  padding-top: 37px;
  position: fixed;
  right: -60%;
  top: 60px;
  width: 100%;


  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  transform: translateX(100%);
  transition: transform .4s ease-in-out, right .4s ease-in-out;

  z-index: 9;

  .logged & {
    padding-top: 20px;
  }
  
  .header-fixed & {
    padding-top: 0;
  }

  .toolbar-vertical .header-fixed & {
    height: calc(100% - 60px);
    top: 60px;

    @include media-q(min, 610) {
      height: calc(100% - 99px);
      top: 99px;
    }
  }

  .toolbar-vertical & {
    padding-bottom: 100px;
    top: 99px;
  }

  // Tablet
  @include media-q(min, 768) {
    width: 50%;
    top: 107px;
    height: calc(100% - 107px);

    // Anonymous
    .header-fixed & {
      top: 60px;
      height: calc(100% - 60px);
    }

    // Logged with toolbars
    // Header static
    .toolbar-horizontal & {
      top: 185px;
      height: calc(100% - 185px);
    }

    .toolbar-vertical & {
      top: 146px;
      height: calc(100% - 146px);
    }
    // Header fixed
    .toolbar-horizontal .header-fixed & {
      top: 139px;
      height: calc(100% - 139px);
    }

    .toolbar-vertical .header-fixed & {
      top: 99px;
    }
  }

  // from Laptop to Desktop
  @include media-q(min, 1201) {
    padding-bottom: 0;
    box-shadow: none;
    background-color: transparent;
    position: static;
    width: 100%;
    height: auto;
    transform: none;
    overflow-y: visible;

    .toolbar-fixed &,
    .toolbar-vertical & {
      padding-bottom: 0;
    }
  }

  .contextual {
    display: none;
  }

  .partners {
    display: block;
    margin-left: 28px;
    max-height: 100%;
    max-width: 100%;
    overflow: hidden;
    padding-top: 50px;
    text-align: left;

    .item-list {
      display: block;
    }

    li {
      height: 57px;
      margin-left: 10px;
      margin-right: 4%;
    }

    @include media-q(min, 768) {
      display: none;
    }
  }
}

.h-with-anchors {
  box-shadow: none;

  .mobile-menu-wrapper {
    padding-top: 20px;
  }

  // Anchors
  .bottom-head {
    box-shadow: none;

    .anchor-links {
      padding-top: 0;
    }
  }
}

.mobile-service-links {
  display: none;
}

.mobile-menu-btn,
.mobile-dashboard-menu-btn {
  @include font-size(28);
  @include same(80px, height, width);
  color: $navy-dark;
  cursor: pointer;
  display: none;
  padding-top: 20px;
  position: absolute;
  right: 0;
  top: 0;
  text-align: center;
  transition: color .2s ease;

  &:hover {
    color: $red;
  }
}

.mobile-dashboard-menu-btn {
  color: $navy;
  display: none;
  transition: color .2s ease, background .2s ease;

  &:hover {
    background: #345a6d;
    color: $navy;
  }
}

.header-fixed {
  position: fixed;
  left: 0;
  top: 0;
  transition: top .3s ease;
  width: 100%;
  z-index: 400;

  .toolbar-fixed & {
    top: 39px;
  }

  .toolbar-tray-open.toolbar-horizontal & {
    top: 79px;
  }

  // Top header
  .top-head {
    background: $primary-color-dark;
    background-image: linear-gradient(180deg, rgba($primary-color-dark, 0.6), $primary-color-dark);
    box-shadow: 0 1px 8px rgba($black, .16);
    min-height: 60px;

    .logged & {
      background: $white;
    }
  }

  .logo-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;

    .logged & {
      display: none;
    }

    .logo {
      background: $white;
      border-bottom: 2px solid $primary-color-dark;
      box-shadow: 0 1px 3px rgba($black, .25);
      display: inline-block;
      height: 70px;
      padding-top: 6px;
      width: 160px;
    }

    img {
      display: block;
      margin: 5px auto 0;
      width: 144px;
    }
  }

  .service-links {
    right: 0;
    top: 20px;
    position: absolute;

    ul:not(.contextual-links) li {
      display: inline-block;
      vertical-align: top;
    }

    a {
      @include font-size(14);
      color: $white;
      font-family: $oswald;
      font-weight: 200;
      padding: 20px 5px;
      text-decoration: none;

      &:hover {
        opacity: .56;
      }
    }
  }
}

@include breakpoint-for('.header-static, .header-fixed', (to: 1200px)) {
  //min-height: 80px;

  .logo-wrapper {
    .logo {
      height: 107px;
      width: 145px;
    }

    img {
      height: 86px;
      width: 103px;
    }
  }

  .language-switcher-wrapper,
  .service-links,
  .social-links {
    position: static;
    text-align: left;
  }

  .service-links {
    .active {
      a {
        border-left: 3px solid $red;
      }
    }
  }

  .desktop-service-links {
    display: none;
  }

  .mobile-service-links {
    display: block;

    a {
      font-family: $oswald;
      display: block;
      text-decoration: none;
      text-transform: uppercase;
    }
  }

  .language-switcher-wrapper {
    height: auto;
  }

  .links {
    a {
      @include font-size(18.2);
      padding: 30px;

      &:hover {
        background: $white-dark;
        color: $red;
        opacity: 1;
      }
    }
  }

  .service-links {
    height: auto;
    text-align: left;

    ul:not(.contextual-links) {
      display: block;

      li {
        display: block;
      }

      a {
        @include font-size(18.2);
        color: $navy-dark;
        display: block;
        height: auto;
        padding: 30px;

        &:hover {
          background: $white-dark;
          color: $red;
          opacity: 1;
        }
      }
    }
  }

  .social-links {
    padding: 22px 20px;

    .logged & {
      padding: 0;
      position: relative;
      text-align: left;
      width: auto;

      a {
        @include font-size(18.2);
        display: block;
        margin: 0;
        padding: 30px;

        &:hover {
          background: transparent;
          color: $red;
          opacity: 1;
        }
      }
    }

    li {
      margin-right: 30px;
    }

    a {
      @include font-size(28);
    }

    .instagram-icon {
      > a {
        @include font-size(24);
      }
    }

    .youtube-icon {
      a {
        @include font-size(50);
      }
    }
  }

  .mobile-menu-btn {
    display: block;

    &.opened {
      color: $red;

      ~ .mobile-menu-wrapper {
        right: 0;
        transform: translateX(0);
      }
    }
  }
}

@include breakpoint-for('.header-static', (to: 1200px)) {
  min-height: 100px;

  .bottom-head {
    position: absolute;
    width: 100%;
    bottom: 0;
  }

  .collapsed & {
    min-height: 60px;
    top: -150px;
  }

}

@include breakpoint-for('.header-static, .header-fixed', (to: tablet)) {
  min-height: 60px;

  .has-anchors &{
    min-height: 60px;
  }

  .logo-wrapper {
    .logo {
      padding: 5px 10px 0;
      height: 80px;
      width: 100px;
    }

    img {
      height: 63px;
      width: 74px;
    }
  }

  .mobile-menu-btn,
  .mobile-dashboard-menu-btn {
    height: 60px;
    padding-top: 20px;
  }

  .logged & {
    .mobile-dashboard-menu-btn {
      display: block;
    }

    .mobile-menu-btn {
      right: 80px;
    }
  }
}

@include breakpoint-for('.header-static', (to: tablet)) {
  .bottom-head {
    display: none;
  }

}

@include breakpoint-for('.header-static, .header-fixed', (to: mobileL)) {
  .logo-wrapper {
    .logo {
      padding: 8px 10px 10px 15px;
      width: 102px;
    }

    img {
      height: 60px;
      width: 72px;
    }
  }

  .mobile-menu-btn {
    width: 60px;
  }
}

@include breakpoint-for('.header-fixed', (to: 1200px)) {
  .mobile-menu-btn {
    color: $white;
    height: 60px;
    padding-top: 20px;

    .logged & {
      color: $navy-dark;
    }
  }

  .service-links {
    position: static;
  }

  //.logged & {
  //  .anchor-links {
  //    a {
  //      padding: 15px 20px;
  //    }
  //  }
  //}

}

@include breakpoint-for('.header-fixed', (to: tablet)) {
  .bottom-head {
    .anchor-links {
      padding-top: 17px;
    }
  }

  //.anchor-links {
  //  a {
  //    @include font-size(14);
  //    padding: 18px 15px;
  //  }
  //}
}

.bottom-head {
  background: #e9ecee;
  box-shadow: 0 1px 3px rgba($black, .1);
  transition: padding .3s ease;

  &:empty {
    padding-top: 0 !important;
  }

  .anchor-links {
    margin: 0 auto;
    max-width: 1260px;
    //height: 60px;
    //padding-top: 7px;

    .logged & {
      padding-left: 80px;
    }

    a {
      display: block;
    }
  }
}

@include breakpoint-for('.bottom-head', (to: tablet)) {
  .anchor-links {
    .logged & {
      padding-left: 0;
    }
  }
}

@include breakpoint-for('.header-fixed', (to: tablet)) {
  .logo-wrapper {
    .logged & {
      display: block;
    }
  }

}

@include breakpoint-for('.header-fixed', (to: mobileL)) {
  .logo-wrapper {
    .logo {
      position: relative;
      z-index: 1;
    }
  }
}
