header {
  background: $white;
  letter-spacing: 1px;
  position: relative;

  ul {
    margin: 0;
    padding: 0;
  }

  .wrapper {
    max-width: 1260px;
    margin: 0 auto;
    position: relative;
  }

  .desktop-service-links,
  .language-switcher-language-url {
    position: absolute;
    bottom: 10px;
    right: 0;
    height: 60px;

    ul:not(.contextual-links),
    ul:not(.contextual-links) li {
      display: inline-block;
      vertical-align: top;
    }

    a {
      @include font-size(12.6);
      display: block;
      color: $navy-dark;
      font-family: $oswald;
      padding: 32px 5px 15px;
      text-decoration: none;

      &:hover {
        //background: rgba($navy, .08);
        opacity: .7;
      }
    }
  }

  .links {
    a {
      &.is-active {
        color: $red-dark;
      }
    }
  }
}

.header-static {
  background: $white;
  box-shadow: 0 0 6px rgba($black, .1);
  min-height: 120px;
  position: relative;
  text-align: center;
  z-index: 500;

  .logo-wrapper {
    .logo {
      background: $white;
      border-bottom: 2px solid $red;
      box-shadow: 0 1px 3px 0 rgba($black, .25);
      padding: 15px 10px 0 20px;
      position: absolute;
      left: 0;
      top: 0;
      height: 150px;
      width: 180px;
      z-index: 10;
    }

    img {
      display: block;
      height: 113px;
      width: 134px;
    }
  }

  .partners {
    display: inline-block;
    max-height: 58px;
    max-width: 60%;
    position: relative;
    z-index: 1;
  }

  .mobile-menu-wrapper {
    overflow-x: hidden;

    .contextual {
      display: none;
    }

    .partners {
      display: none;
    }
  }

  .social-links {
    position: absolute;
    top: 22px;
    right: 0;

    .dashboard & {
      top: 10px;
      right: 50%;
      text-align: right;
      transform: translateX(50%);
      width: 1029px;

      a {
        @include font-size(12.6);
        color: $navy;
        display: inline-block;
        font-family: $oswald;
        margin-right: 30px;
        padding: 10px 2px 10px 20px;
        transition: opacity .2s ease;
        vertical-align: top;

        &:before {
          content: "j";
          font-family: $p4h;
        }

        &:hover {
          background: rgba($navy, .08);
          opacity: .7;
        }
      }
    }
  }

  .language-switcher-language-url {
    text-transform: uppercase;

    ~ .desktop-service-links {
      right: 50px;
    }

    li {
      display: inline-block;
      vertical-align: top;
    }
  }
}

.mobile-service-links {
  display: none;
}

.mobile-menu-btn,
.mobile-dashboard-menu-btn {
  @include font-size(28);
  @include same(80px, height, width);
  color: $navy-dark;
  cursor: pointer;
  display: none;
  padding-top: 26px;
  position: absolute;
  right: 0;
  top: 0;
  text-align: center;
  transition: color .2s ease;

  &:hover {
    color: $red;
  }
}

.mobile-dashboard-menu-btn {
  color: $navy;
  display: none;
  transition: color .2s ease, background .2s ease;

  &:hover {
    background: #345a6d;
    color: $navy;
  }
}

.header-fixed {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 400;

  .toolbar-fixed & {
    top: 39px;
  }

  .toolbar-tray-open & {
    top: 79px;
  }

  .top-head {
    background-image: linear-gradient(180deg, #334c58, $navy-dark);
    box-shadow: 0 1px 8px rgba($black, .16);
    height: 60px;

    .dashboard & {
      background: $white;
    }

    .ie9 & {
      background: $navy-dark;
    }
  }

  .logo-wrapper {
    position: absolute;
    top: 0;
    left: 0;

    .logo {
      background: $white;
      border-bottom: 2px solid $red;
      box-shadow: 0 1px 3px rgba($black, .25);
      display: inline-block;
      height: 70px;
      padding-top: 6px;
      width: 93px;
    }

    img {
      display: block;
      margin: 0 auto;
      width: 63px;
    }
  }

  .main-menu {
    ul {
      a {
        color: $white;
        font-weight: 200;
        padding: 20px 30px;
      }
    }
  }

  .service-links {
    right: 0;
    top: 20px;
    position: absolute;

    ul:not(.contextual-links) li {
      display: inline-block;
      vertical-align: top;
    }

    a {
      @include font-size(14);
      color: $white;
      font-family: $oswald;
      font-weight: 200;
      padding: 20px 5px;
      text-decoration: none;

      &:hover {
        opacity: .56;
      }
    }
  }
}

@include breakpoint-for('.header-static, .header-fixed', (to: laptop-small)) {
  min-height: 80px;

  .logo-wrapper {
    .logo {
      height: 107px;
      width: 145px;
    }

    img {
      height: 86px;
      width: 103px;
    }
  }

  .language-switcher-language-url,
  .service-links,
  .social-links {
    position: static;
    text-align: left;
  }

  .desktop-service-links {
    display: none;
  }

  .mobile-service-links {
    display: block;

    a {
      font-family: $oswald;
      display: block;
      text-decoration: none;
      text-transform: uppercase;
    }
  }

  .language-switcher-language-url {
    height: auto;
  }

  .links {
    a {
      @include font-size(18.2);
      padding: 30px;

      &:hover {
        background: $white-dark;
        color: $red;
        opacity: 1;
      }
    }
  }

  .service-links {
    height: auto;
    text-align: left;

    ul:not(.contextual-links) {
      display: block;

      li {
        display: block;
      }

      a {
        @include font-size(18.2);
        color: $navy-dark;
        display: block;
        height: auto;
        padding: 30px;

        &:hover {
          background: $white-dark;
          color: $red;
          opacity: 1;
        }
      }
    }
  }

  .mobile-menu-wrapper {
    background: #e9ecee;
    box-shadow: -1px 7px 14px rgba($black, .11);
    height: calc(100% - 80px);
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    position: fixed;
    top: 80px;
    right: -60%;
    transform: translateX(100%);
    transition: transform .4s ease-in-out, right .4s ease-in-out;
    width: 50%;
  }

  .social-links {
    padding: 22px 20px;

    .dashboard & {
      padding: 0;
      position: relative;
      text-align: left;
      width: auto;

      a {
        @include font-size(18.2);
        display: block;
        margin: 0;
        padding: 30px;

        &:hover {
          background: transparent;
          color: $red;
          opacity: 1;
        }
      }
    }

    li {
      margin-right: 30px;
    }

    a {
      @include font-size(28);
    }
  }

  .mobile-menu-btn {
    display: block;

    &.opened {
      color: $red;

      ~ .mobile-menu-wrapper {
        right: 0;
        transform: translateX(0);
      }
    }
  }
}

@include breakpoint-for('.header-static', (to: laptop-small)) {
  .mobile-menu-wrapper {
    height: calc(100vh - 80px);
    position: absolute;
    top: 80px;

    .toolbar-fixed &,
    .toolbar-vertical & {
      top: 80px;
    }
  }
}

@include breakpoint-for('.header-fixed', (to: laptop-small)) {
  .mobile-menu-wrapper {
    .toolbar-fixed & {
      top: 99px;
    }
  }
}

@include breakpoint-for('.header-static, .header-fixed', (to: tablet)) {
  min-height: 60px;

  .logo-wrapper {
    .logo {
      padding: 5px 10px 0;
      height: 80px;
      width: 100px;
    }

    img {
      height: 63px;
      width: 74px;
    }
  }

  .partners {
    display: none;
  }

  .mobile-menu-btn,
  .mobile-dashboard-menu-btn {
    height: 60px;
    padding-top: 20px;
  }

  .mobile-menu-wrapper{
    height: calc(100% - 60px);
    top: 60px;
    right: -85%;
    width: 75%;

    .toolbar-fixed &,
    .toolbar-vertical & {
      top: 99px;
    }

    .partners {
      display: block;
      margin-left: 28px;
      max-height: 100%;
      max-width: 100%;
      padding-top: 50px;
      text-align: left;

      .item-list {
        display: block;
      }

      li {
        height: 57px;
        margin-left: 10px;
        margin-right: 4%;
      }
    }
  }

  .mobile-dashboard-menu-btn {
    display: block;

    ~ .mobile-menu-btn {
      right: 80px;
    }
  }
}

@include breakpoint-for('.header-static', (to: tablet)) {
  .mobile-menu-wrapper {
    height: calc(100vh - 60px);
    top: 60px;

    .toolbar-fixed &,
    .toolbar-vertical & {
      top: 60px;
    }
  }
}

@include breakpoint-for('.header-static, .header-fixed', (to: mobileL)) {
  .logo-wrapper {
    .logo {
      padding: 8px 10px 10px 15px;
      width: 102px;
    }

    img {
      height: 60px;
      width: 72px;
    }
  }

  .mobile-menu-btn {
    width: 60px;
  }

  .mobile-menu-wrapper {
    width: 100%;

    .partners {
      margin-left: 9px;

      li {
        height: 47px;
        margin-right: 10px;
      }
    }
  }
}


@include breakpoint-for('.header-fixed', (to: laptop-small)) {
  .mobile-menu-btn {
    color: $white;
    height: 60px;
    padding-top: 20px;
  }

  .mobile-menu-wrapper {
    height: calc(100% - 60px);
    top: 60px;
  }

  .service-links {
    position: static;
  }

  .bottom-head {
    display: none;
  }
}

.bottom-head {
  background: #e9ecee;
  box-shadow: 0 1px 3px rgba($black, .1);

  .anchor-links {
    margin: 0 auto;
    max-width: 1260px;
    height: 60px;
    padding-top: 7px;

    a {
      display: block;
    }
  }
}

@include breakpoint-for('.header-fixed', (to: tablet)) {
  .mobile-menu-wrapper {
    .toolbar-vertical & {
      top: 60px;
    }

    .toolbar-fixed & {
      top: 99px;
    }
  }
}
