.main-wrapper {
  box-shadow: inset 0 0 8px rgba($black, .11);
  overflow-x: hidden;

  body:not(.who):not(.news-and-events):not(.where):not(.group):not(.front) & {
    background: $white;
  }

  > .top-banner-region {
    position: relative;
    z-index: 100;
  }
}

.content-container {
  margin: 0 auto;
  max-width: 1160px;
  padding: 80px 0 40px;
  width: 100%;

  .front & {
    max-width: 1260px;
  }

  .contact-us & {
    .top-text-region {
      margin-bottom: 30px;
    }
  }
}

@include breakpoint-for('.content-container', (to: laptop-small)) {
  padding-left: 20px;
  padding-right: 20px;
}

.region-wrapper {
  @include clearfix();
}

.content-with-sidebar {
  @include clearfix();

  .front & {
    .region-wrapper {
      float: left;
      padding-right: 20px;
      width: 66.64%;
    }
  }

  .content {
    float: left;
    width: 66.64%;

    > *:not(.node-pager):not(.event-info):not(.header-image) {
      width: 80%;

      .fullcontent-image {
        margin-top: 30px;
        width: 120%;
      }
    }

    .header-image {
      figure {
        margin: 0;
      }
    }
  }

  .sidebar {
    float: left;
    padding-left: 20px;
    width: 33.33%;
  }
}

@include breakpoint-for('.content-with-sidebar', (to: tablet)) {
  .content,
  .sidebar {
    float: none;
    width: 100%;
  }

  .content {
    > *:not(.node-pager):not(.event-info):not(.header-image) {
      width: 100%;
    }
  }

  .sidebar {
    margin-top: 40px;
    padding-left: 0;
  }
}

.header-image {
  margin-bottom: 50px;
  width: 95%;
}

.title-wrapper {
  margin-bottom: 40px;
  padding-bottom: 20px;
  position: relative;

  h1 {
    ~ h2 {
      margin-bottom: 0;
    }
  }

  .line {
    background: $red;
    display: block;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 180px;
  }

  ~ .event-info {
    margin-top: -20px;
  }
}

@include breakpoint-for('.title-wrapper', (to: mobileL)) {
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.content,
.more-content {
  @include font-size(18.2);
  color: $navy-dark;
  font-family: $fira;
  font-weight: 300;
  line-height: 28px;

  h1 {
    @include font-size(49);
    line-height: 48px;
    margin: 20px 0 21px;
    padding: 0;

    @include mq(mobileL) {
      @include font-size(36.4);
      margin-bottom: 10px;
    }
  }

  h2 {
    @include font-size(25.2);
    line-height: 48px;
    margin: 0 0 21px;
  }

  h4 {
    @include font-size(19.6);
    color: $navy-dark;
    font-family: $fira;
    font-weight: 700;
    line-height: 24px;
    margin: 30px 0 10px;
  }

  figure {
    clear: both;
    margin: 30px 0;
  }

  figcaption {
    @include font-size(14);
    color: $navy;
    font-family: $fira;
    font-style: italic;
    line-height: 29px;
    margin-top: 5px;
  }

  li {
    @include font-size(18.2);
    font-family: $fira;
    color: $navy;
    font-weight: 400;
    line-height: 29px;
    margin-top: 10px;
  }

  ul {
    list-style-type: disc;
  }

  ol {
    list-style-type: decimal;
  }

  blockquote {
    @extend .corners;
    @include font-size(28);
    border: none;
    color: $navy;
    font-family: $oswald;
    font-weight: 300;
    line-height: 35px;
    margin: 41px 0 62px;
    padding: 20px 50px;
    position: relative;
    left: -46px;
    transition: opacity .2s, transform .6s;

    .content-with-sidebar & {
      width: 70%;
    }

    p {
      @include font-size(28);
      color: $navy;
      font-family: $oswald;
      font-weight: 300;
      line-height: 35px;
    }
  }

  a {
    color: $red;
    font-weight: 400;
    text-decoration: none;
  }
}

@include breakpoint-for('.content, .more-content', (to: laptop-small)) {
  .content-with-sidebar & {
    blockquote {
      width: 100%;
    }
  }
}

@include breakpoint-for('.content, .more-content', (to: tablet)) {
  .content-with-sidebar & {
    blockquote {
      left: 0;
    }
  }
}

.post-info {
  @include font-size(15.4);
  color: $navy;
  font-family: $fira;
  margin-bottom: 20px;

  > *:not(:first-child) {
    display: inline-block;
    vertical-align: top;

    &:before {
      content: "|";
      font-weight: normal;
      margin: 0 6px 0 2px;
    }
  }

  time {
    ~ time {
      &:before {
        display: none;
      }
    }
  }

  time,
  .country {
    font-weight: 700;
  }
}

.summary-text {
  p {
    @include font-size(22.4);
    color: $navy;
    font-family: $fira;
    font-weight: 300;
    line-height: 31px;
    margin: 20px 0;
  }
}

.more-content-wrapper {
  padding-top: 10px;

  .more-content {
    display: none;
    padding: 20px 0;

    blockquote {
      margin-left: auto;
      margin-right: auto;
      position: static;
    }
  }
}
