.main-wrapper {
  min-height: calc(100% - 327px);
  overflow-x: hidden;
  position: relative;
  z-index: 310;

  .page-page-403 &,
  .page-page-404 & {
    margin-bottom: 0;
  }

  &:before {
    background-color: $white-dark;
    box-shadow: inset 0 0 8px rgba($black, .11);
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
  }

  .front & {
    &:after {
      //background: url(../images/site-bg.svg) 100% 50% no-repeat;
      background-size: cover;
      background-attachment: fixed;
      box-shadow: inset 0 0 8px rgba($black, .11);
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      opacity: .15;
      z-index: -1;
    }
  }

  .mobile & {
    &:after {
      background-attachment: scroll;
      background-position: center;
      background-size: 650%;
    }
  }

  .full-page-slider & {
    position: static;
  }

  //.user & {
  //  min-height: calc(100% - 316px);
  //}


  .toolbar-vertical.toolbar-tray-open & {
    padding-left: 0;
  }

  body:not(.who):not(.news-and-events):not(.where):not(.group-country):not(.group-country_protected):not(.group-product):not(.page-group-faq):not(.page-group-document):not(.page-group-news-and-event):not(.group-region):not(.group-region_protected):not(.front):not(.page-my-settings):not(.page-countries-regions):not(.page-my-projects):not(.projects):not(.page-my-countries-and-regions):not(.page-my-news):not(.group-governance_area):not(.page-my-calendar):not(.page-contacts):not(.page-my-contacts):not(.page-user-canonical):not(.page-group-contact):not(.page-products):not(.group-knowledge_vault):not(.page-knowledge-vault):not(.page-sign-up-confirmation):not(.page-search) & {
    &:before {
      background: $white;
    }
  }

  > .top-banner-region {
    position: relative;
    z-index: 100;
  }
}

@include breakpoint-for('.main-wrapper', (to: tablet)) {
  .logged & {
    padding-left: 0;
  }

  //> .top-banner-region {
  //  body:not(.logged) & {
  //    margin-top: 57px;
  //  }
  //}
}

@include breakpoint-for('.main-wrapper', (to: laptop-small)) {
  margin-bottom: 0;
}

.content-container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 80px 15px 40px;
  width: 100%;

  .node-basic-page & {
    padding-top: 100px;
    padding-bottom: 0;

    @include media-q(max, 1200) {
      padding-top: 50px;
    }
  }

  .front & {
    max-width: 1260px;
  }

  .page-knowledge-vault & {
    padding-top: 0;
  }

  .page-my-settings & {
    padding-left: 0;
    padding-right: 0;
  }

  .contact-us & {
    .top-text-region {
      margin-bottom: 30px;
    }
  }
}



@include breakpoint-for('.content-container', (to: mobileL)) {
  .page-my-countries-and-regions &,
  .page-my-news & {
    padding-top: 40px;
  }
}

.bottom-teaser {
  padding-bottom: 40px;

  //~ .full-width {
  //  position: absolute;
  //  left: 0;
  //  bottom: 0;
  //  width: 100%;
  //}
}

@include breakpoint-for('.bottom-teaser', (to: tablet)) {
  ~ .full-width {
    .logged & {
      left: 0;
      width: 100%;
    }
  }
}

@include breakpoint-for('.bottom-teaser', (to: mobileL)) {
  padding-bottom: 40px;

  ~ .full-width {
    position: static;
  }
}

.region-wrapper {
  @include clearfix();
}

.content-with-sidebar {
  @include clearfix();

  .front & {
    .region-wrapper {
      float: left;
      padding-right: 20px;
      width: 66.64%;
    }
  }

  .content {
    float: left;
    width: 66.64%;

    &:not(.top-text-region) > *:not(.node-pager):not(.event-info):not(.header-image) {
      width: 80%;

      .fullcontent-image {
        margin-top: 30px;
        width: 120%;
      }
    }

    .node-simplenews-issue & {
      background: #e9ecee;
      float: none;
      margin: 0 auto;
      max-width: 600px;
      padding: 0 10px;
      width: 100%;

      .title-wrapper {
        margin: 0;
        padding: 0;
      }

      a {
        color: #ea3a32;
        text-decoration: none;
      }
      
      .newsletter-bg {
        a {
          color: #fff;
          text-decoration: underline;
        }
      }

      article {
        width: 100% !important;

        > h2 {
          text-align: center;

          a {
            color: #416170;
          }
        }
      }

      h3 {
        a {
          color: inherit;
        }
      }
    }

    .header-image {
      figure {
        margin: 0;
      }
    }
  }

  .sidebar {
    float: left;
    padding-left: 20px;
    width: 33.33%;
  }
}

@include breakpoint-for('.content-with-sidebar', (to: tablet)) {
  .content,
  .sidebar {
    float: none;
    width: 100%;
  }

  .content {
    &:not(.top-text-region) > *:not(.node-pager):not(.event-info):not(.header-image) {
      width: 100%;
    }
  }

  .sidebar {
    margin-top: 40px;
    padding-left: 0;
  }

  .front & {
    .region-wrapper {
      float: none;
      padding-right: 0;
      width: 100%;
    }
  }
}

.left-sidebar {
  overflow: hidden;
  padding-top: 0;

  .sidebar {
    float: left;
    padding-right: 20px;
    width: 25%;
  }

  .content {
    float: right;
    width: 75%;
  }
}

@include breakpoint-for('.left-sidebar', (to: laptop-small)) {
  .sidebar,
  .content {
    float: none;
    padding: 0;
    width: 100%;
  }
}

.header-image {
  margin-bottom: 50px;

  @include media-q(min, 768) {
    width: 95%;
  }
}

.title-wrapper {
  margin-bottom: 40px;
  padding-bottom: 20px;
  position: relative;

  .page-group-country & {
    .main-wrapper {
      text-align: center;

      .line {
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }

  .node-article & {
    text-align: center;

    .line {
      left: 50%;
      transform: translateX(-50%);
    }
  }

  h1 {
    ~ h2 {
      margin-bottom: 0;
    }

    &#small-title {
      @include font-size(42);
      line-height: 48px;
    }
  }

  .line {
    background: $primary-color-dark;
    display: block;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 180px;

    .timeline & {
      background: $primary-color-light;
    }
  }

  ~ .event-info {
    margin-top: -20px;
  }
}

.user-profile {
  margin: 0 auto 20px;
  padding-bottom: 10px;
  text-align: center;
  width: 66.64%;

  h1 {
    @include font-size(49);
    line-height: 64px;
    padding: 20px 0;
  }

  .line {
    left: 50%;
    transform: translateX(-50%);
  }
}

@include breakpoint-for('.user-profile', (to: laptop-small)) {
  width: 100%;

  h1 {
    padding-bottom: 10px;
  }
}

@include breakpoint-for('.user-profile', (to: mobileL)) {
  h1 {
    @include font-size(36.4);
    line-height: 48px;
  }
}

.job-title {
  @include font-size(16.8);
  font-family: $oswald;
  font-weight: 400;
  letter-spacing: .5px;
  line-height: 25px;
  margin-bottom: 10px;
  text-align: center;
}

@include breakpoint-for('.title-wrapper', (to: laptop-small)) {
  ~ .event-info {
    margin-top: -10px;
  }
}

@include breakpoint-for('.title-wrapper', (to: mobileL)) {
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.content article {
  padding-bottom: 35px;
}

.content,
.more-content,
.summary-text {
  @include font-size(18);
  color: $font-color-dark;
  font-family: $primary-font;
  font-weight: 300;
  line-height: 32px;

  .legal & {
    margin: 0 auto;
    width: 66.64%;

    article {
      margin-right: 20%;
    }
  }

  .title-wrapper .line {
    background: $primary-color-light;
  }

  h1 {
    @include font-size(32);
    line-height: 40px;
    margin: 20px 0 21px;
    padding: 0;
    font-family: $primary-font;
    color: $primary-color-dark;
    font-weight: normal;

    @include mq(mobileL) {
      @include font-size(24);
      margin-bottom: 10px;
    }
  }

  h2 {
    @include font-size(25.2);
    line-height: 48px;
    margin: 0 0 21px;
  }

  h4 {
    @include font-size(19.6);
    color: $primary-color-dark;
    font-family: $primary-font;
    font-weight: 700;
    line-height: 24px;
    margin: 30px 0 10px;
  }

  figure {
    clear: both;
    margin: 30px 0;
  }

  figcaption {
    @include font-size(15);
    color: $primary-color-dark;
    font-family: $primary-font;
    font-style: normal;
    line-height: 29px;
    margin-top: 5px;
  }

  li {
    @include font-size(18.2);
    font-family: $primary-font;
    color: $primary-color-dark;
    font-weight: 400;
    line-height: 29px;
    margin-top: 10px;
  }

  ul {
    list-style-type: disc;
  }

  ol {
    list-style-type: decimal;
  }

  blockquote {
    @extend .corners;
    @include font-size(28);
    border: none;
    color: $primary-color-dark;
    font-family: $primary-font;
    font-weight: 300;
    line-height: 35px;
    position: relative;
    margin: 41px 0 62px;
    padding: 0;
    transition: opacity .2s, transform .6s;

    .content-with-sidebar & {
      width: 100%;
    }

    p {
      @include font-size(28);
      color: $primary-color-dark;
      font-family: $primary-color-dark;
      font-weight: 300;
      line-height: 35px;
    }
  }

  a {
    color: $primary-color-light;
    font-weight: 400;
    text-decoration: none;
    transition: color 200ms ease-in;

    &:hover {
      color: $primary-color-dark;
    }
  }
}

.summary-text {
  ul,
  ol {
    list-style-position: inside;
  }
}

@include breakpoint-for('.content, .more-content', (to: desktop)) {
  .content-with-sidebar & {
    blockquote {
      left: 0;
    }
  }
}

@include breakpoint-for('.content, .more-content', (to: laptop-small)) {
  .content-with-sidebar & {
    blockquote {
      width: 100%;
    }
  }
}

@include breakpoint-for('.content, .more-content', (to: tablet)) {
  .legal & {
    width: 100%;

    article {
      margin-right: 0;
    }
  }
}

.post-info {
  font-size: 14px;
  color: $primary-color-dark;
  font-family: $primary-font;
  font-weight: normal;
  margin-bottom: 25px;

  > *:not(:first-child) {
    display: inline-block;
    vertical-align: top;

    &:before {
      content: "|";
      font-weight: normal;
      margin: 0 3px 0 2px;
    }
  }

  time {
    ~ time {
      &:before {
        display: none;
      }
    }
  }

  time,
  .country {
    display: inline;
  }

  a {
    color: $primary-color-dark;

    &:hover {
      color: $primary-color-light;
    }
  }
}

.summary-text {
  p {
    @include font-size(22.4);
    color: $navy;
    font-family: $fira;
    font-weight: 300;
    line-height: 31px;
    margin: 20px 0;
  }
}

.more-content-wrapper {
  padding-top: 10px;

  .more-content {
    display: none;
    padding: 20px 0;

    .page-title {
      @include font-size(19.6);
      font-family: $fira;
      letter-spacing: 0;
      line-height: 24px;
      margin: 30px 0 10px;
    }

    blockquote {
      margin-left: auto;
      margin-right: auto;
      position: static;
    }
  }
}
