.slider-wrapper {
  overflow: hidden;
  position: relative;

  &.background-image {
    height: 409px;
  }

  .top-banner-region & {
    height: 650px;
  }

  .header-image & {
    height: 500px;
  }
}

.slider-main {
  margin: 50px 0;
  position: relative;

  &.fixed {
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 700;
  }
}

.content-slider-wrapper,
.thumb-slider-wrapper {
  overflow: hidden;
  position: relative;
}

.content-slider-wrapper {
  height: 438px;

  .fixed & {
    height: 84vh;
    margin-top: 2vh;

    .slide-content {
      top: 50%;
      transform: translateY(-50%);
    }

    .owl-nav {
      display: block;

      > div {
        height: 100%;
        margin-top: -34px;
        opacity: .5;
        top: 0;
        width: 68px;

        &:hover {
          opacity: 1;
        }
      }
    }

    .owl-prev {
      background: url(../images/slider-arrow-left.svg) center no-repeat;
    }

    .owl-next {
      background: url(../images/slider-arrow-right.svg) center no-repeat;
    }
  }

  .owl-nav {
    display: none;
  }
}

.thumb-slider-wrapper {
  height: 90px;
  padding: 10px 36px;

  .fixed & {
    height: 120px;
  }

  .owl-stage {
    margin: 0 auto;
  }

  .current {
    .slider-item-thumb {
      .thumb-image {
        border-bottom: 2px solid $red;
      }

      .thumb-overlay {
        background: none;
      }
    }
  }

  .owl-nav {
    > div {
      background-color: transparent;
      background-size: 18px;
      height: 40px;
      margin-top: -20px;
      width: 20px;

      &:hover {
        background-color: transparent;
        transform: scale(1);
      }
    }

    .owl-prev {
      background-position: 0 -22px;
    }

    .owl-next {
      background-position: 0 8px;
    }
  }
}

@include breakpoint-for('.thumb-slider-wrapper', (to: tablet)) {
  display: none;
}

.slider-item-thumb {
  cursor: pointer;
  height: 100%;
  width: 78px;

  .fixed & {
    width: 110px;
  }

  .thumb-image {
    background-position: 50%;
    background-size: cover;
    height: 100%;
    margin: 0 5px;
    position: relative;

    .fixed & {

    }
  }

  .thumb-overlay {
    background: rgba($black, .4);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    transition: background .2s ease;
    width: 100%;

    &:hover {
      background: rgba($black, .05);
    }
  }
}

.slider-item-wrapper,
.banner-image {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  position: relative;
  text-align: center;

  .fixed & {
    height: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);

    .image-text {
      @include font-size(17);
      font-family: $fira;
      font-style: italic;
      color: $navy;
      line-height: 20.4px;
      margin: 0;
      padding: 9px 17px;
      left: 0;
      bottom: 0;
      text-align: left;
      width: 100%;

      &:before,
      &:after {
        content: none;
      }
    }
  }

  .slide-content {
    display: inline-block;
    max-height: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

  .header-image & {
    .image-text {
      width: 80%;
    }
  }
}

.slider-item-wrapper {
  .fixed & {
    height: 84vh;
  }

  .image-text {
    left: 9%;
    bottom: 11.5%;
    margin: 0;
  }
}

.owl-stage-outer {
  overflow: hidden;
}

.owl-stage-outer,
.owl-stage,
.owl-item {
  height: 100%;
}

.owl-stage {
  position: relative;
}

.owl-item {
  float: left;
}

.owl-nav {
  width: 100%;

  &.disabled {
    display: none;
  }

  > div {
    @include same(50px, height, width);
    background: rgba($black, .34) url(../images/slider-arrows.png) left top no-repeat;
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-top: -25px;
    text-indent: -9999px;
    transition: all .2s ease;

    &:hover {
      background-color: rgba($black, .58);
      transform: scale(1.04);
    }

    &.disabled {
      display: none;
    }
  }

  .owl-prev {
    background-position: 7px -48px;
    left: 0;
  }

  .owl-next {
    background-position: 8px 1px;
    right: 0;
  }
}

.owl-dots {
  height: 30px;
  position: absolute;
  left: 0;
  bottom: 0;
  text-align: center;
  width: 100%;

  &.disabled {
    display: none;
  }

  > div {
    @include same(14px, height, width);
    background: rgba($white, .4);
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    margin: 0 3px 7px;

    &.active {
      background: $white;
    }
  }
}

.trigger-full-page {
  @include same(29px, height, width);
  background: url(../images/expand.svg) left top no-repeat;
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 10;

  .fixed & {
    background: url(../images/close-icon.svg) center no-repeat;
    height: 44px;
    opacity: .8;
    top: 2vh;
    right: 0;
    transition: opacity .3s;
    width: 68px;

    &:hover {
      opacity: 1;
    }
  }
}
