{#
/**
 * @file
 * Default theme implementation to standard AddToAny buttons.
 *
 * Available variables:
 * - addtoany_html: HTML for AddToAny buttons.
 *
 * @ingroup themeable
 */
#}
<div class="addtoany-wrapper font-social-icon social-icon">
  <span class="toggle-sharing-btn"></span>
  {{ addtoany_html|raw }}
</div>
