img[src$="svg"] {
  div:not(.header-static):not(.header-fixed) {
    max-height: 70px;
  }
}

.container-inline {
  label,
  .label {
    &:after {
      content: none;
    }
  }
}

#edit-language {
  .form-item-preferred-langcode {
    display: none;
  }
}

.user-form {
  .form-type-password-confirm {
    width: 33em;
  }
}

.paragraphs-subform {
  .form-item-field-content-paragraph-0-subform-field-title-0-value {
    display: none;
  }
}

.toolbar-item {
  &.unmasquerade-link {
    display: none;
  }
}

.group-governance_area {
  .action-links {
    li:first-child {
      a:not([href$="members"]) {
        display: none;
      }
    }
  }
}
