img[src$="svg"] {
  max-height: 70px;
}

.container-inline {
  label,
  .label {
    &:after {
      content: none;
    }
  }
}

#edit-language {
  .form-item-preferred-langcode {
    display: none;
  }
}

.user-form {
  .field--name-field-country-manager,
  .field--name-field-project-manager {
    height: 0;
    overflow: hidden;

    &.active {
      height: 100%;
      overflow: visible;
    }
  }
}

.paragraphs-subform {
  .form-item-field-content-paragraph-0-subform-field-title-0-value {
    display: none;
  }
}
