<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    {% if css %}
      {{ css }}
    {% endif %}
  </head>
  <body style="margin: 0; padding: 0; -webkit-text-size-adjust: 100%;" id="mimemail-body" class="test" {% if ( module | length > 0 ) and ( key | length > 0 ) %}  {% set class = 'class="' ~ module ~ '-' ~ key ~ '"' %} {% endif %} >
    <table class="wrapper" align="center" width="100%" style="font-family: Arial, sans-serif; line-height: 20px; sans-serif; border-collapse: collapse; table-layout: fixed; max-width: 600px; min-width: 320px; background-color: #e9ecee;" cellpadding="0" cellspacing="0" role="presentation">
      <tr>
        <td>
          <table width="100%" style="font-size: 12px; color: #416170; padding: 10px;">
            <tr>
              <td>
                <a href="https://cibox07.m2.propeople.com.ua/stage/">
                  <img src="https://cibox07.m2.propeople.com.ua/stage/themes/custom/ample/images/P4H_logo.7.svg" alt="Logo">
                </a>
              </td>
            </tr>
          </table>
        </td>
      </tr>

      <tr>
        <td>
          <table width="100%" style="padding: 10px 30px;" cellspacing="0" cellpadding="0">
            <tr>
              <td>
                {{ body|raw }}
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
