<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mail</title>
</head>
<body style="margin: 0; padding: 0; -webkit-text-size-adjust: 100%;">
<table class="wrapper" align="center" width="100%" style="font-family: Arial, sans-serif; line-height: 20px; sans-serif; border-collapse: collapse; table-layout: fixed; max-width: 600px; min-width: 320px; background-color: #e9ecee;" cellpadding="0" cellspacing="0" role="presentation">
  <tr>
    <td>
      <table class="header" width="100%" style="font-size: 12px; color: #416170; padding: 10px;">
        <tr>
          <td>
            <p>Here you can add a teaser for the content</p>
          </td>
          <td align="right">
            <a href="#" style="color: #416170;">View this email in your browser</a>
          </td>
        </tr>
        <tr>
          <td colspan="2" align="center">
            <img src="http://uploads.webflow.com/585112966264df375d6ffa87/58578d002e0823df0449f16b_P4H%20logo.7.svg" alt="logo" height="150" width="200">
          </td>
        </tr>
        <tr>
          <td colspan="2" align="center">12. feb. 2017</td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td>
      <table class="content" width="100%" style="padding: 10px 30px;" cellspacing="0" cellpadding="0">
        <tr>
          <td style="padding: 10px 0;">
            <img src="http://uploads.webflow.com/585112966264df375d6ffa87/58739abe0afb3b4e5caeccd4_16_P4H.JPG" alt="" width="100%">
          </td>
        </tr>
        <tr>
          <td style="background: #ea3a32; color: #fff; padding: 40px 20px;" align="center">
            <p style="font-size: 22px; margin-top: 0; margin-bottom: 20px;">This will be a feauter connected to image abowe</p>
            <p style="font-size: 14px; line-height: 21px;">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.</p>
          </td>
        </tr>
      </table>
      <table class="content" width="100%" style="color: #416170; padding: 10px; table-layout: fixed;" cellpadding="0" cellspacing="0">
        <tr>
          <td style="padding: 40px 10px 50px; vertical-align: top;">
            <div style="border-bottom: 1px solid #ea3a32; padding: 0 10px;">
              <h2 style="font-size: 17px; margin-bottom: 20px; margin-top: 0;">News 2 columns with image</h2>
              <img src="http://uploads.webflow.com/585112966264df375d6ffa87/58739a197820e723723620cc_05_P4H-p-1080x715.jpeg" alt="" width="100%">
              <p style="font-size: 14px;"><strong>News 2 columns wigh image</strong> Consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.</p>
            </div>
          </td>
          <td style="padding: 40px 10px 50px; vertical-align: top;">
            <div style="border-bottom: 1px solid #ea3a32; padding: 0 10px;">
              <h2 style="font-size: 17px; margin-bottom: 20px; margin-top: 0;">News 2 columns with image</h2>
              <img src="http://uploads.webflow.com/585112966264df375d6ffa87/58739a197820e723723620cc_05_P4H-p-1080x715.jpeg" alt="" width="100%">
              <p style="font-size: 14px;"><strong>News 2 columns wigh image</strong> Consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.</p>
            </div>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td>
      <table class="footer" width="100%" style="font-size: 12px; table-layout: fixed; padding: 0 10px;" cellspacing="0" cellpadding="0">
        <tr>
          <td align="center" style="background-color: #f5f5f5;">
            <p style="color: #283b44;"><strong>P4H: Members:</strong></p>
          </td>
        </tr>
        <tr>
          <td align="center" style="background-color: #f5f5f5;">
            <img src="http://uploads.webflow.com/585112966264df375d6ffa87/5853bddf10ceda66486bd115_theworldbank2_blue.svg" alt="" width="31" height="31" style="margin: 0 10px;">
            <img src="http://uploads.webflow.com/585112966264df375d6ffa87/5853bdfb6414b2244c3c58a2_WHO._blue.svg" alt="" width="36" height="34" style="margin: 0 10px;">
            <img src="http://uploads.webflow.com/585112966264df375d6ffa87/5853be0a83194999407c04f8_african-development-bank_blue.svg" alt="" width="62" height="32" style="margin: 0 10px;">
            <img src="http://uploads.webflow.com/585112966264df375d6ffa87/5853bded0f691332411a54ac_ilo-logo-vector_blue.svg" alt="" width="36" height="30" style="margin: 0 10px;"></td>
        </tr>
        <tr>
          <td align="center" style="background-color: #f5f5f5; color: #416170;">
            <p><a href="#" style="color: #416170;">Unsubscribe</a> © by P4H-network 2017</p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
</body>
</html>
