// Colors
$white: #fff;
$white-dark: #f5f5f5;
$white-with-rose-shade: #faf7f7;
$black: #000;
$grey-light: #ccc;
$grey-medium: #e9ecee;
$grey-dark: #333;
$navy-light: #80aabe;
$navy: #4c7e96;
$navy-dark: #283b44;
// gold color.
$red: #D99941;
$red-dark: #8c2222;
$green: #18923b;


$primary-color-dark: rgb(0, 80, 131);
$primary-color-light: rgb(68, 158, 165);

$secondary-color-normal: rgb(93, 152, 193);
$secondary-color-light: rgb(138, 189, 211);
$secondary-color-lighter: rgb(151, 204, 213);

$font-color-dark: rgb(21, 32, 52);

$highlight-color: rgb(250, 183, 77);
$highlight-color-dark: rgb(241, 141, 0);

$copy-text: rgb(0, 0, 0);

$primary-font: 'Roboto', sans-serif;

// Font Families V2
$font-icons: 'PrimaryIcons', sans-serif;


// Font families
$oswald: Oswald, sans-serif;
$fira: 'Fira Sans', sans-serif;
$franklin: 'Libre Franklin', sans-serif;
$p4h: P4h, sans-serif;

// Breakpoints
$breakpoints: (
  desktop: 1440px,
  laptop: 1024px,
  laptop-small: 991px,
  tablet: 767px,
  mobileL: 479px,
  mobileS: 320px,
);
