<li>
  <a href="{{ url }}" rel="bookmark">

    {% if content.field_date['#period']['start_date'] %}
      {{ content.field_date['#period']['start_date'] }}
    {% endif %}

    <h4>{{ label }}</h4>

    {{ content.body }}

  </a>
</li>
