<article{{ attributes }}>
  <div class="newsletter-large-image">
    {{ content.field_image }}
    <div class="newsletter-bg">
      {{ content.body }}
    </div>
  </div>

  {% if content.childs|length %}
    {% for row in content.childs|batch(2, ' ') %}
      {% for subentity in row %}
        <div>{{ subentity }}</div>
      {% endfor %}
    {% endfor %}
  {% endif %}
</article>

