<div class="country-list">
  {% for row in rows %}
    <div class="country-item">
      <div class="country-content">
        {{ row.content }}
        <a href="#" class="country-link"></a>
      </div>
    </div>
  {% endfor %}
</div>
